:root {
    /*  General.
        */
    --GW-body-background-color: #000;
    --GW-body-text-color: #fff;
    --GW-body-link-color: #e9e9e9;

    /*  Selection.
        */
    --GW-text-selection-background-color: #e2e2e2;
    --GW-text-selection-color: #000;

    /*  Link underlining.
        */
    --GW-link-underline-background-color: var(--GW-body-background-color);
    --GW-link-underline-gradient-line-color: #e2e2e2;
    --GW-link-underline-gradient-line-color-hover: #9a9a9a;

    /*  Blockquotes.
        */
    --GW-blockquote-border-color-level-one: #696969;
    --GW-blockquote-border-color-level-two: #727272;
    --GW-blockquote-border-color-level-three: #838383;
    --GW-blockquote-border-color-level-four: #8f8f8f;
    --GW-blockquote-background-color-level-one: #232323;
    --GW-blockquote-background-color-level-two: #474747;
    --GW-blockquote-background-color-level-three: #5b5b5b;

    /*  Abstracts.
        */
    --GW-abstract-border-color: #7b7b7b;

    /*  Sidebar.
        */
    --GW-sidebar-bullet-color: #a8a8a8;
    --GW-sidebar-horizontal-rule-color: #8b8b8b;
    --GW-sidebar-bullet-text-shadow-color: #fff;
    --GW-sidebar-mobile-link-border-color: #fff;

    /*  Table of contents.
        */
    --GW-TOC-border-color: #696969;
    --GW-TOC-background-color: #202020;
    --GW-TOC-link-hover-background-color: #3d3d3d;
    --GW-TOC-link-hover-color: #fff;
    --GW-TOC-link-hover-indicator-bar-color: #696969;
    --GW-TOC-number-color: #a1a1a1;
    --GW-TOC-number-hover-color: #e3e3e3;

    /*  Collapse blocks.
        */
    --GW-collapse-block-disclosure-button-color: #9a9a9a;
    --GW-collapse-block-disclosure-button-hover-color: #c1c1c1;
    --GW-collapse-block-disclosure-button-targeted-color: #5d5d5d;
    --GW-table-collapse-block-disclosure-button-color: #696969;
    --GW-table-collapse-block-disclosure-button-hover-color: #3a3a3a;
    --GW-collapse-block-disclosure-button-focus-text-shadow-color: #ffa1a1;
    --GW-collapse-block-disclosure-button-hover-background-color: rgba(255, 255, 255, 0.1);
    --GW-collapse-block-click-to-expand-text-color: #b4b4b4;
    --GW-collapse-block-click-to-expand-text-shadow-color: #000;
    --GW-collapse-block-click-to-expand-text-hover-color: #d7d7d7;
    --GW-collapse-block-hover-border-color: #b4b4b4;
    --GW-collapse-block-fade-gradient-color-one: rgba(0, 0, 0, 0);
    --GW-collapse-block-fade-gradient-color-two: rgba(0, 0, 0, 1);

    /*  Headings.
        */
    --GW-H1-box-shadow-background-color: #000;
    --GW-H1-box-shadow-line-color: #a8a8a8;
    --GW-H2-bottom-border-color: #a8a8a8;
    --GW-heading-self-link-hover-color: #c4d1d1;

    /*  Comments.
        */
    --GW-comment-section-top-border-color: #9a9a9a;

    /*  Links.
        */
    --GW-link-hover-color: #a8a8a8;

    /*  Lists.
        */
    --GW-bulleted-list-marker-color: #aeaeae;

    /*  Figures.
        */
    --GW-figure-outline-color: #a8a8a8;
    --GW-figure-caption-outline-color: #a8a8a8;

    /*  Epigraphs.
        */
    --GW-epigraph-quotation-mark-color: #aeaeae;

    /*  Footnotes.
        */
    --GW-footnote-backlink-border-color: #fff;
    --GW-footnote-backlink-border-hover-color: #9a9a9a;
    --GW-footnote-backlink-after-bordered-block-background-color: #000;

    /*  Footnote references.
        */
    --GW-footnote-ref-highlight-box-shadow-color: #8b8b8b;
    --GW-footnote-ref-highlight-box-shadow-interstitial-color: #000;
    --GW-footnote-ref-highlight-background-color: rgba(0, 0, 0, 0.75);

    /*  Footnote popups.
        */
    --GW-footnote-popup-box-shadow-color: #000;
    --GW-footnote-popup-background-color: #000;
    --GW-footnote-popup-border-color: #8b8b8b;
    --GW-footnote-popup-scrollbar-thumb-color: #696969;
    --GW-footnote-popup-scrollbar-track-color: #000;
    --GW-footnote-popup-scrollbar-thumb-hover-color: #9a9a9a;

    /*  Sidenotes.
        */
    --GW-sidenote-highlight-background-color: #000;
    --GW-sidenote-highlight-box-shadow-color: #8b8b8b;
    --GW-sidenote-border-color: #8b8b8b;
    --GW-sidenote-scrollbar-track-color: #000;
    --GW-sidenote-self-link-border-color: #8b8b8b;

    /*  Tables.
        */
    --GW-table-border-color: #fff;
    --GW-table-full-width-background-color: #000;
    --GW-table-caption-border-color: #fff;
    --GW-table-row-horizontal-border-color: #fff;
    --GW-table-cell-vertical-border-color: #000;
    --GW-table-scrollbar-track-color: #000;
    --GW-table-scrollbar-border-color: #fff;
    --GW-table-column-heading-hover-background-color: #303e40;
    --GW-table-sorted-column-heading-background-color: #357a97;
    --GW-table-sorted-column-heading-text-color: #000;
    --GW-table-sorted-column-heading-text-shadow-color: #fff;
    --GW-table-zebra-stripe-alternate-row-background-color: #292929;
    --GW-table-row-hover-outline-color: #fff;

    /*  Code blocks.
        */
    --GW-code-element-border-color: #6e6e6e;
    --GW-code-element-background-color: #1d1d1d;
    --GW-pre-element-border-color: #6e6e6e;
    --GW-pre-element-background-color: #1d1d1d;
    --GW-pre-element-scrollbar-track-color: #1d1d1d;
    --GW-pre-element-scrollbar-thumb-color: #696969;
    --GW-pre-element-scrollbar-thumb-hover-color: #9a9a9a;

    /*  Syntax highlight theme.
        */
    --GW-syntax-highlight-color-normal: #f1eeed;
    --GW-syntax-highlight-color-attribute: #bce1ff;
    --GW-syntax-highlight-color-data-type: inherit;
    --GW-syntax-highlight-color-variable: #c1c1c1;
    --GW-syntax-highlight-color-other: inherit;
    --GW-syntax-highlight-color-preprocessor: inherit;
    --GW-syntax-highlight-color-extension: #a8a8a8;
    --GW-syntax-highlight-color-comment: #a8a8a8;
    --GW-syntax-highlight-color-control-flow: #d2ffd2;
    --GW-syntax-highlight-color-keyword: #bce1ff;
    --GW-syntax-highlight-color-operator: #bce1ff;
    --GW-syntax-highlight-color-special-char: #a3bbc3;
    --GW-syntax-highlight-color-built-in: #bce1ff;
    --GW-syntax-highlight-color-function: #bce1ff;
    --GW-syntax-highlight-color-constant: inherit;
    --GW-syntax-highlight-color-base-n: inherit;
    --GW-syntax-highlight-color-dec-val: inherit;
    --GW-syntax-highlight-color-float: inherit;
    --GW-syntax-highlight-color-information: inherit;
    --GW-syntax-highlight-color-char: inherit;
    --GW-syntax-highlight-color-string: inherit;
    --GW-syntax-highlight-color-verbatim-string: inherit;
    --GW-syntax-highlight-color-alert: #ffb3b3;
    --GW-syntax-highlight-color-error: #ff9a9a;
    --GW-syntax-highlight-color-import: #b4b4b4;
    --GW-syntax-highlight-color-special-string: #c1c1c1;

    /*  Math.
        */
    --GW-math-block-scrollbar-border-color: #696969;
    --GW-math-block-scrollbar-track-color: #000;
    --GW-math-block-scrollbar-thumb-color: #696969;
    --GW-math-block-scrollbar-track-hover-color: #9a9a9a;

    /*  Drop caps.
        */
    --GW-drop-caps-yinit-color: #f8f8f8;
    --GW-drop-caps-yinit-text-shadow-color: #b4b4b4;
    --GW-drop-caps-de-zs-color: #f0f0f0;
    --GW-drop-caps-cheshire-color: #f1f1f1;
    --GW-drop-caps-kanzlei-color: #f1f1f1;

    /*  Admonitions.
        */
    --GW-admonition-default-left-border-color: #b8b7b7;
    --GW-admonition-default-background-color: #5b5b5b;
    --GW-admonition-tip-left-border-color: #5b5b5b;
    --GW-admonition-tip-background-color: #1d1d1d;
    --GW-admonition-warning-left-border-color: #c9c9c9;
    --GW-admonition-warning-background-color: #9d9d9d;
    --GW-admonition-warning-text-color: #000;
    --GW-admonition-warning-title-background-color: #c9c9c9;
    --GW-admonition-warning-icon-color: #000;
    --GW-admonition-error-left-border-color: #e5e5e5;
    --GW-admonition-error-background-color: #c9c9c9;
    --GW-admonition-error-text-color: #000;
    --GW-admonition-error-title-background-color: #e5e5e5;
    --GW-admonition-error-icon-color: #000;

    /*  Sequential nav UI.
        */
    --GW-sequential-nav-link-background-color: #000;

    /*  Links.
        */
    --GW-definition-annotation-text-color: #d7d7d7;

    /*  Page-specific styles.
        */
    --GW-index-page-bottom-ornament-line-color: #aeaeae;
    --GW-page-mead-image-box-shadow-inner-color: #000;
    --GW-page-mead-image-box-shadow-outer-color: #696969;

    /*  Popups.
        */
    --GW-popups-body-background-color: var(--GW-body-background-color);
    --GW-popups-popup-background-color: var(--GW-body-background-color);
    --GW-popups-popup-border-color: #8b8b8b;
    --GW-popups-popup-link-hover-color: var(--GW-link-hover-color);
    --GW-popups-popup-scrollbar-thumb-color: #696969;
    --GW-popups-popup-scrollbar-track-color: #000;
    --GW-popups-popup-scrollbar-thumb-hover-color: #9a9a9a;

    /*  Image focus.
        */
    --GW-image-focus-image-hover-drop-shadow-color: #b4b4b4;

    /*  Mode selector (light/dark mode).
        */
    --GW-mode-selector-background-color: #000;
    --GW-mode-selector-border-hover-color: #8b8b8b;
    --GW-mode-selector-button-text-color: #b4b4b4;
    --GW-mode-selector-button-hover-text-color: #fff;
}
