:root {
	/*	General.
		*/
	--GW-body-background-color: #000;
	--GW-body-text-color: #fff;
	--GW-body-link-color: #d2d2d2;

	/*	Selection.
		*/
	--GW-text-selection-background-color: #c3c3c3;
	--GW-text-selection-color: #000;
	
	/*	Link underlining.
		*/
	--GW-link-underline-background-color: var(--GW-body-background-color);
	--GW-link-underline-gradient-line-color: #c3c3c3;
	--GW-link-underline-gradient-line-color-hover: #575757;

	/*	Blockquotes.
		*/
	--GW-blockquote-border-color-level-one: #2c2c2c;
	--GW-blockquote-border-color-level-two: #323232;
	--GW-blockquote-border-color-level-three: #404040;
	--GW-blockquote-border-color-level-four: #4b4b4b;
	--GW-blockquote-background-color-level-one: #090909;
	--GW-blockquote-background-color-level-two: #191919;
	--GW-blockquote-background-color-level-three: #232323;
	
	/*	Abstracts.
		*/
	--GW-abstract-border-color: #393939;
	
	/*	Sidebar.
		*/
	--GW-sidebar-bullet-color: #666;
	--GW-sidebar-horizontal-rule-color: #484848;
	--GW-sidebar-bullet-text-shadow-color: #fff;
	--GW-sidebar-mobile-link-border-color: #fff;
	
	/*	Table of contents.
		*/
	--GW-TOC-border-color: #2c2c2c;
	--GW-TOC-background-color: #080808;
	--GW-TOC-link-hover-background-color: #151515;
	--GW-TOC-link-hover-color: #fff;
	--GW-TOC-link-hover-indicator-bar-color: #2c2c2c;
	--GW-TOC-number-color: #5f5f5f;
	--GW-TOC-number-hover-color: #c5c5c5;

    /*  Collapse blocks.
        */
    --GW-collapse-block-disclosure-button-color: #575757;
    --GW-collapse-block-disclosure-button-hover-color: #888;
    --GW-collapse-block-disclosure-button-targeted-color: #242424;
    --GW-table-collapse-block-disclosure-button-color: #2c2c2c;
    --GW-table-collapse-block-disclosure-button-hover-color: #131313;
    --GW-collapse-block-disclosure-button-focus-text-shadow-color: #f00702;
    --GW-collapse-block-disclosure-button-hover-background-color: rgba(255, 255, 255, 0.1);
    --GW-collapse-block-click-to-expand-text-color: #777;
    --GW-collapse-block-click-to-expand-text-shadow-color: #000;
    --GW-collapse-block-click-to-expand-text-hover-color: #aeaeae;
    --GW-collapse-block-hover-border-color: #777;
    --GW-collapse-block-fade-gradient-color-one: rgba(0, 0, 0, 0);
    --GW-collapse-block-fade-gradient-color-two: rgba(0, 0, 0, 1);

    /*  Headings.
        */
    --GW-H1-box-shadow-background-color: #000;
    --GW-H1-box-shadow-line-color: #666;
    --GW-H2-bottom-border-color: #666;
    --GW-heading-self-link-hover-color: #92a0a0;

    /*  Comments.
        */
    --GW-comment-section-top-border-color: #575757;

    /*  Links.
        */
    --GW-link-hover-color: #666;

    /*  Lists.
        */
    --GW-bulleted-list-marker-color: #6e6e6e;

    /*  Figures.
        */
    --GW-figure-outline-color: #666;
    --GW-figure-caption-outline-color: #666;

	/*	Epigraphs.
		*/
	--GW-epigraph-quotation-mark-color: #6e6e6e;

    /*  Footnotes.
        */
    --GW-footnote-backlink-border-color: #fff;
    --GW-footnote-backlink-border-hover-color: #575757;
    --GW-footnote-backlink-after-bordered-block-background-color: #000;

    /*  Footnote references.
        */
    --GW-footnote-ref-highlight-box-shadow-color: #484848;
    --GW-footnote-ref-highlight-box-shadow-interstitial-color: #000;
    --GW-footnote-ref-highlight-background-color: rgba(0, 0, 0, 0.75);

    /*  Footnote popups.
        */
    --GW-footnote-popup-box-shadow-color: #000;
    --GW-footnote-popup-background-color: #000;
    --GW-footnote-popup-border-color: #484848;
    --GW-footnote-popup-scrollbar-thumb-color: #2c2c2c;
    --GW-footnote-popup-scrollbar-track-color: #000;
    --GW-footnote-popup-scrollbar-thumb-hover-color: #575757;

    /*  Sidenotes.
        */
    --GW-sidenote-highlight-background-color: #000;
    --GW-sidenote-highlight-box-shadow-color: #484848;
    --GW-sidenote-border-color: #484848;
    --GW-sidenote-scrollbar-track-color: #000;
    --GW-sidenote-self-link-border-color: #484848;

    /*  Tables.
        */
    --GW-table-border-color: #fff;
    --GW-table-full-width-background-color: #000;
    --GW-table-caption-border-color: #fff;
    --GW-table-row-horizontal-border-color: #fff;
    --GW-table-cell-vertical-border-color: #000;
    --GW-table-scrollbar-track-color: #000;
    --GW-table-scrollbar-border-color: #fff;
    --GW-table-column-heading-hover-background-color: #081617;
    --GW-table-sorted-column-heading-background-color: #00374f;
    --GW-table-sorted-column-heading-text-color: #000;
    --GW-table-sorted-column-heading-text-shadow-color: #fff;
    --GW-table-zebra-stripe-alternate-row-background-color: #0b0b0b;
    --GW-table-row-hover-outline-color: #fff;

    /*  Code blocks.
        */
    --GW-code-element-border-color: #2f2f2f;
    --GW-code-element-background-color: #060606;
    --GW-pre-element-border-color: #2f2f2f;
    --GW-pre-element-background-color: #060606;
    --GW-pre-element-scrollbar-track-color: #060606;
    --GW-pre-element-scrollbar-thumb-color: #2c2c2c;
    --GW-pre-element-scrollbar-thumb-hover-color: #575757;

    /*  Syntax highlight theme.
        */
    --GW-syntax-highlight-color-normal: #e4e0de;
    --GW-syntax-highlight-color-attribute: #c4caff;
    --GW-syntax-highlight-color-data-type: inherit;
    --GW-syntax-highlight-color-variable: #888;
    --GW-syntax-highlight-color-other: inherit;
    --GW-syntax-highlight-color-preprocessor: inherit;
    --GW-syntax-highlight-color-extension: #666;
    --GW-syntax-highlight-color-comment: #666;
    --GW-syntax-highlight-color-control-flow: #9fd593;
    --GW-syntax-highlight-color-keyword: #c4caff;
    --GW-syntax-highlight-color-operator: #c4caff;
    --GW-syntax-highlight-color-special-char: #667e86;
    --GW-syntax-highlight-color-built-in: #c4caff;
    --GW-syntax-highlight-color-function: #c4caff;
    --GW-syntax-highlight-color-constant: inherit;
    --GW-syntax-highlight-color-base-n: inherit;
    --GW-syntax-highlight-color-dec-val: inherit;
    --GW-syntax-highlight-color-float: inherit;
    --GW-syntax-highlight-color-information: inherit;
    --GW-syntax-highlight-color-char: inherit;
    --GW-syntax-highlight-color-string: inherit;
    --GW-syntax-highlight-color-verbatim-string: inherit;
    --GW-syntax-highlight-color-alert: #ff5436;
    --GW-syntax-highlight-color-error: #e90000;
    --GW-syntax-highlight-color-import: #777;
    --GW-syntax-highlight-color-special-string: #888;

    /*  Math.
        */
    --GW-math-block-scrollbar-border-color: #2c2c2c;
    --GW-math-block-scrollbar-track-color: #000;
    --GW-math-block-scrollbar-thumb-color: #2c2c2c;
    --GW-math-block-scrollbar-track-hover-color: #575757;

    /*  Drop caps.
        */
    --GW-drop-caps-yinit-color: #f5f5f4;
    --GW-drop-caps-yinit-text-shadow-color: #777;
    --GW-drop-caps-de-zs-color: #e3e3e3;
    --GW-drop-caps-de-zs-text-shadow-color: #000;
    --GW-drop-caps-cheshire-color: #e6e6e6;
    --GW-drop-caps-kanzlei-color: #e6e6e6;

    /*  Admonitions.
        */
    --GW-admonition-default-left-border-color: #7b7a7a;
    --GW-admonition-default-background-color: #232323;
    --GW-admonition-tip-left-border-color: #232323;
    --GW-admonition-tip-background-color: #060606;
    --GW-admonition-warning-left-border-color: #959595;
    --GW-admonition-warning-background-color: #595959;
    --GW-admonition-warning-text-color: #000;
    --GW-admonition-warning-title-background-color: #959595;
    --GW-admonition-warning-icon-color: #000;
    --GW-admonition-error-left-border-color: #cbcbcb;
    --GW-admonition-error-background-color: #959595;
    --GW-admonition-error-text-color: #000;
    --GW-admonition-error-title-background-color: #cbcbcb;
    --GW-admonition-error-icon-color: #000;

    /*  Sequential nav UI.
        */
    --GW-sequential-nav-link-background-color: #000;

    /*  Links.
        */
    --GW-definition-annotation-text-color: #aeaeae;

    /*  Page-specific styles.
        */
    --GW-index-page-bottom-ornament-line-color: #6e6e6e;
    --GW-page-mead-image-box-shadow-inner-color: #000;
    --GW-page-mead-image-box-shadow-outer-color: #2c2c2c;

    /*  Popups.
        */
    --GW-popups-body-background-color: var(--GW-body-background-color);
    --GW-popups-popup-background-color: var(--GW-body-background-color);
    --GW-popups-popup-border-color: #484848;
    --GW-popups-popup-link-hover-color: var(--GW-link-hover-color);
    --GW-popups-popup-scrollbar-thumb-color: #2c2c2c;
    --GW-popups-popup-scrollbar-track-color: #000;
    --GW-popups-popup-scrollbar-thumb-hover-color: #575757;

	/*	Image focus.
		*/
    --SA-image-focus-image-hover-drop-shadow-color: #777;
    --SA-image-focus-overlay-background-color: #fff;
    --SA-image-focus-overlay-image-caption-background-color: rgba(255, 255, 255, 0.7);
    --SA-image-focus-overlay-image-caption-text-color: #000;
    --SA-image-focus-overlay-image-caption-link-color: #2c2c2c;
    --SA-image-focus-overlay-image-caption-link-hover-color: #484848;
    --SA-image-focus-overlay-help-box-background-color: rgba(255, 255, 255, 0.85);
    --SA-image-focus-overlay-help-box-text-color: #000;
    --SA-image-focus-overlay-info-icon-color: #fff;
    --SA-image-focus-overlay-info-icon-drop-shadow-color: #000;
    --SA-image-focus-overlay-image-number-text-shadow-color: #000;
    --SA-image-focus-overlay-slideshow-button-color: #1f1f1f;
    --SA-image-focus-overlay-slideshow-button-hover-background-color: rgba(255, 255, 255, 0.1);
    --SA-image-focus-overlay-slideshow-button-hover-color: #777;
    --SA-image-focus-overlay-slideshow-button-hover-drop-shadow-color: #000;
    --SA-image-focus-overlay-slideshow-button-active-color: #666;
    --SA-image-focus-overlay-slideshow-button-disabled-color: #1f1f1f;
    --SA-image-focus-image-hover-tooltip-background-color: rgba(255, 255, 255, 0.75);
    --SA-image-focus-image-hover-tooltip-text-color: #000;
}
