:root {
    /*  General.
        */
    --GW-body-background-color: #000;
    --GW-body-text-color: #fff;
    --GW-body-link-color: #e5e5e5;
    --GW-body-link-hover-color: #999;

    /*  Selection.
        */
    --GW-text-selection-background-color: #dcdcdc;
    --GW-text-selection-color: #000;

    /*  Link underlining.
        */
    --GW-link-underline-background-color: var(--GW-body-background-color);
    --GW-link-underline-gradient-line-color: #dcdcdc;
    --GW-link-underline-gradient-line-color-hover: #8b8b8b;

    /*  Blockquotes.
        */
    --GW-blockquote-border-color-level-one: #5c5c5c;
    --GW-blockquote-border-color-level-two: #646464;
    --GW-blockquote-border-color-level-three: #747474;
    --GW-blockquote-border-color-level-four: #7f7f7f;
    --GW-blockquote-background-color-level-one: #212121;
    --GW-blockquote-background-color-level-two: #3e3e3e;
    --GW-blockquote-background-color-level-three: #4f4f4f;

    /*  Abstracts.
        */
    --GW-abstract-border-color: #6c6c6c;
    --GW-abstract-background-color: var(--GW-blockquote-background-color-level-one);

    /*  Sidebar.
        */
    --GW-sidebar-horizontal-rule-color: #7c7c7c;
    --GW-sidebar-mobile-link-border-color: #fff;

    /*  Table of contents.
        */
    --GW-TOC-border-color: #5c5c5c;
    --GW-TOC-background-color: #212121;
    --GW-TOC-link-hover-background-color: #363636;
    --GW-TOC-link-hover-color: #fff;
    --GW-TOC-link-hover-indicator-bar-color: #5c5c5c;
    --GW-TOC-number-color: #929292;
    --GW-TOC-number-hover-color: #ddd;

    /*  Collapse blocks.
        */
	--GW-collapse-summary-blockquote-hover-color: #333;
	--GW-collapse-disclosure-button-color: #333;
	--GW-collapse-disclosure-button-hover-color: #494949;
	--GW-collapse-disclosure-button-top-part-text-color: #6c6c6c;
	--GW-collapse-disclosure-button-bottom-part-text-color: #7c7c7c;
	--GW-collapse-disclosure-button-text-hover-color: #000;

    /*  Headings.
        */
    --GW-H1-box-shadow-background-color: var(--GW-body-background-color);
    --GW-H1-box-shadow-line-color: #999;
    --GW-H2-bottom-border-color: #999;

    /*  Comments.
        */
    --GW-comment-section-top-border-color: #8b8b8b;

    /*  Lists.
        */
    --GW-bulleted-list-marker-color: #9f9f9f;

    /*  Figures.
        */
    --GW-figure-outline-color: #999;
    --GW-figure-caption-outline-color: #999;

    /*  Epigraphs.
        */
    --GW-epigraph-quotation-mark-color: #9f9f9f;

    /*  Footnotes.
        */
    --GW-footnote-border-color: #7c7c7c;
    --GW-footnote-highlighted-border-color: #7c7c7c;
    --GW-footnotes-section-top-rule-color: #5c5c5c;
    --GW-footnote-backlink-border-color: #fff;
    --GW-footnote-backlink-border-hover-color: #8b8b8b;
    --GW-footnote-backlink-after-bordered-block-background-color: var(--GW-body-background-color);

    /*  Footnote references.
        */
    --GW-footnote-ref-highlight-box-shadow-color: #7c7c7c;
    --GW-footnote-ref-highlight-background-color: rgba(0, 0, 0, 0.75);

    /*  Sidenotes.
        */
    --GW-sidenote-highlight-background-color: var(--GW-body-background-color);
    --GW-sidenote-highlight-box-shadow-color: #7c7c7c;
    --GW-sidenote-border-color: #7c7c7c;
    --GW-sidenote-scrollbar-track-color: var(--GW-body-background-color);
    --GW-sidenote-scrollbar-thumb-color: #7c7c7c;
    --GW-sidenote-scrollbar-thumb-hover-color: #8b8b8b;
    --GW-sidenote-self-link-border-color: #7c7c7c;

    /*  Tables.
        */
    --GW-table-border-color: #fff;
    --GW-table-full-width-background-color: var(--GW-body-background-color);
    --GW-table-caption-border-color: #fff;
    --GW-table-row-horizontal-border-color: #fff;
    --GW-table-cell-vertical-border-color: var(--GW-body-background-color);
    --GW-table-scrollbar-track-color: var(--GW-body-background-color);
    --GW-table-scrollbar-thumb-color: #7c7c7c;
    --GW-table-scrollbar-thumb-hover-color: #8b8b8b;
    --GW-table-scrollbar-border-color: #fff;
    --GW-table-column-heading-hover-background-color: #2b3637;
    --GW-table-sorted-column-heading-background-color: #166983;
    --GW-table-sorted-column-heading-text-color: #000;
    --GW-table-sorted-column-heading-text-shadow-color: #fff;
    --GW-table-zebra-stripe-alternate-row-background-color: #252525;
    --GW-table-row-hover-outline-color: #fff;

    /*  Code blocks.
        */
    --GW-code-element-border-color: #606060;
    --GW-code-element-background-color: #1d1d1d;
    --GW-pre-element-border-color: #606060;
    --GW-pre-element-background-color: #1d1d1d;
    --GW-pre-element-scrollbar-track-color: #1d1d1d;
    --GW-pre-element-scrollbar-thumb-color: #5c5c5c;
    --GW-pre-element-scrollbar-thumb-hover-color: #8b8b8b;

    /*  Syntax highlight theme.
        */
    --GW-syntax-highlight-color-normal: #f1edec;
    --GW-syntax-highlight-color-attribute: #d8deff;
    --GW-syntax-highlight-color-data-type: inherit;
    --GW-syntax-highlight-color-variable: #b4b4b4;
    --GW-syntax-highlight-color-other: inherit;
    --GW-syntax-highlight-color-preprocessor: inherit;
    --GW-syntax-highlight-color-extension: #999;
    --GW-syntax-highlight-color-comment: #999;
    --GW-syntax-highlight-color-control-flow: #b6edaa;
    --GW-syntax-highlight-color-keyword: #d8deff;
    --GW-syntax-highlight-color-operator: #d8deff;
    --GW-syntax-highlight-color-special-char: #94adb6;
    --GW-syntax-highlight-color-built-in: #d8deff;
    --GW-syntax-highlight-color-function: #d8deff;
    --GW-syntax-highlight-color-constant: inherit;
    --GW-syntax-highlight-color-base-n: inherit;
    --GW-syntax-highlight-color-dec-val: inherit;
    --GW-syntax-highlight-color-float: inherit;
    --GW-syntax-highlight-color-information: inherit;
    --GW-syntax-highlight-color-char: inherit;
    --GW-syntax-highlight-color-string: inherit;
    --GW-syntax-highlight-color-verbatim-string: inherit;
    --GW-syntax-highlight-color-alert: #ff815c;
    --GW-syntax-highlight-color-error: #ff4727;
    --GW-syntax-highlight-color-import: #a6a6a6;
    --GW-syntax-highlight-color-special-string: #b4b4b4;

    /*  Math.
        */
    --GW-math-block-background-color: #252525;
    --GW-math-block-scrollbar-border-color: #5c5c5c;
    --GW-math-block-scrollbar-track-color: var(--GW-body-background-color);
    --GW-math-block-scrollbar-thumb-color: #5c5c5c;
    --GW-math-block-scrollbar-thumb-hover-color: #8b8b8b;

    /*  Drop caps.
        */
    --GW-drop-caps-yinit-color: #f9f9f9;
    --GW-drop-caps-yinit-text-shadow-color: #a6a6a6;
    --GW-drop-caps-de-zs-color: #efefef;
    --GW-drop-caps-cheshire-color: #f1f1f1;
    --GW-drop-caps-kanzlei-color: #f1f1f1;

    /*  Admonitions.
        */
    --GW-admonition-default-left-border-color: #929292;
    --GW-admonition-default-background-color: #4f4f4f;
    --GW-admonition-tip-left-border-color: #4f4f4f;
    --GW-admonition-tip-background-color: #303030;
    --GW-admonition-warning-left-border-color: #bdbdbd;
    --GW-admonition-warning-background-color: #8a8a8a;
    --GW-admonition-warning-text-color: #000;
    --GW-admonition-warning-title-background-color: #bdbdbd;
    --GW-admonition-warning-icon-color: #000;
    --GW-admonition-error-left-border-color: #e1e1e1;
    --GW-admonition-error-background-color: #bdbdbd;
    --GW-admonition-error-text-color: #000;
    --GW-admonition-error-title-background-color: #e1e1e1;
    --GW-admonition-error-icon-color: #000;
    --GW-admonition-reversed-link-color: #494949;
    --GW-admonition-reversed-link-color-hover: #5c5c5c;
    --GW-admonition-reversed-link-underline-gradient-line-color: #5c5c5c;
    --GW-admonition-reversed-link-underline-gradient-line-color-hover: #6c6c6c;
    --GW-admonition-reversed-footnote-ref-highlight-background-color: rgba(189, 189, 189, 0.75);

    /*  Sequential nav UI.
        */
    --GW-sequential-nav-link-background-color: var(--GW-body-background-color);

    /*  Page-specific styles.
        */
    --GW-index-page-bottom-ornament-line-color: #9f9f9f;

	/*	Pop-frames (popups or popins).
		*/
    --GW-raw-code-popframe-line-highlight-background-color: #181700;
    --GW-raw-code-popframe-line-hightlight-border-color: #494949;
    --GW-raw-code-popframe-line-number-color: #7c7c7c;
    --GW-raw-code-popframe-line-number-divider-color: #5c5c5c;

    /*  Popups.
        */
    --GW-popups-body-background-color: var(--GW-body-background-color);
    --GW-popups-popup-background-color: var(--GW-body-background-color);

    --GW-popups-popup-border-color: #5c5c5c;
    --GW-popups-box-shadow-color: #5c5c5c;
    --GW-popups-popup-border-focused-color: #7c7c7c;
    --GW-popups-box-shadow-focused-color: #7c7c7c;

    --GW-popups-popup-title-bar-background-color: #252525;
    --GW-popups-popup-title-bar-button-color: #6c6c6c;
    --GW-popups-popup-title-bar-button-color-hover: #fff;
	--GW-popups-popup-title-color: #7c7c7c;
    --GW-popups-popup-title-link-hover-color: var(--GW-body-link-hover-color);
    --GW-popups-popup-title-bar-background-focused-color: #3e3e3e;
    --GW-popups-popup-title-bar-button-focused-color: #a6a6a6;
    --GW-popups-popup-title-bar-button-focused-color-hover: #fff;
    --GW-popups-popup-title-bar-submenu-box-shadow-color: #494949;
	--GW-popups-popup-title-focused-color: #fff;
    --GW-popups-popup-title-link-hover-focused-color: var(--GW-body-link-hover-color);

    --GW-popups-popup-scrollbar-track-color: var(--GW-body-background-color);

    --GW-popups-popup-scrollbar-thumb-color: #494949;
    --GW-popups-popup-scrollbar-thumb-hover-color: #6c6c6c;
    --GW-popups-popup-scrollbar-thumb-focused-color: #5c5c5c;
    --GW-popups-popup-scrollbar-thumb-hover-focused-color: #8b8b8b;

    --GW-popups-popup-options-dialog-backdrop-background-color: rgba(0, 0, 0, 0.95);
    --GW-popups-popup-options-dialog-background-color: var(--GW-body-background-color);
    --GW-popups-popup-options-dialog-border-color: #7c7c7c;
    --GW-popups-popup-options-dialog-box-shadow-color: #cecece;
    --GW-popups-popup-options-dialog-horizontal-rule-color: #5c5c5c;
    --GW-popups-popup-options-dialog-button-background-color: var(--GW-body-background-color);
    --GW-popups-popup-options-dialog-button-text-color: #fff;
    --GW-popups-popup-options-dialog-button-border-color: #fff;
    --GW-popups-popup-options-dialog-button-hover-box-shadow-color: #fff;
    --GW-popups-popup-options-dialog-option-button-explanation-text-color: #a6a6a6;
    --GW-popups-popup-options-dialog-option-button-hover-text-color: #a6a6a6;
    --GW-popups-popup-options-dialog-radio-button-border-color: #fff;
    --GW-popups-show-popup-options-dialog-button-color: #8b8b8b;

    /*  Popins.
        */
    --GW-popins-body-background-color: var(--GW-body-background-color);
    --GW-popins-popin-background-color: var(--GW-body-background-color);
    --GW-popins-popin-border-color: #7c7c7c;
    --GW-popins-box-shadow-color: #7c7c7c;
    --GW-popins-popin-title-bar-background-color: #000;
    --GW-popins-popin-title-bar-button-color: #a6a6a6;
    --GW-popins-popin-scrollbar-thumb-color: #5c5c5c;
    --GW-popins-popin-scrollbar-track-color: var(--GW-body-background-color);
    --GW-popins-popin-scrollbar-thumb-hover-color: #8b8b8b;
    --GW-popins-popin-stack-counter-text-color: #000;

    /*  Image focus.
        */
    --GW-image-focus-image-hover-drop-shadow-color: #a6a6a6;

    /*  Mode selector (light/dark mode).
        */
    --GW-mode-selector-background-color: var(--GW-body-background-color);
    --GW-mode-selector-border-hover-color: #7c7c7c;
    --GW-mode-selector-button-text-color: #a6a6a6;
    --GW-mode-selector-button-hover-text-color: #fff;

	/*	“Back to top” link.
		*/
	--GW-back-to-top-link-color: #5c5c5c;
	--GW-back-to-top-link-hover-color: #8b8b8b;
}
