:root {
    /*  General.
     */
    --GW-body-background-color: #000;
    --GW-body-text-color: #fff;

    /*  Selection.
     */
    --GW-text-selection-background-color: #d4d4d4;
    --GW-text-selection-color: #000;

	/*	Links.
	 */
    --GW-body-link-color: #d4d4d4;
    --GW-body-link-hover-color: #9f9f9f;
    --GW-body-link-visited-color: #b5b5b5;
    --GW-body-link-inverted-color: #383838;
    --GW-body-link-inverted-hover-color: #666;
    --GW-body-link-inverted-visited-color: #525253;

    /*  Blockquotes.
     */
    --GW-blockquote-border-color-level-one: #666;
    --GW-blockquote-border-color-level-two: #6e6e6e;
    --GW-blockquote-border-color-level-three: #7e7e7e;
    --GW-blockquote-border-color-level-four: #888;
    --GW-blockquote-background-color-level-one: #212121;
    --GW-blockquote-background-color-level-two: #464646;
    --GW-blockquote-background-color-level-three: #595959;

    /*  Abstracts.
     */
    --GW-abstract-border-color: #777;

	/*	Block context highlighting.
	 */
	--GW-block-context-span-highlight-color: #525253;

    /*  Table of contents.
     */
    --GW-TOC-border-color: #666;
    --GW-TOC-background-color: #212121;
    --GW-TOC-collapse-button-text-color: #666;
    --GW-TOC-collapse-button-text-hover-color: #000;
    --GW-TOC-collapse-button-color: rgba(33, 33, 33, 0.8);
    --GW-TOC-collapse-button-hover-color: #525253;
    --GW-TOC-collapse-button-border-hover-color: #fff;
    --GW-TOC-link-hover-background-color: #3c3c3c;
    --GW-TOC-link-hover-color: #fff;
    --GW-TOC-link-hover-indicator-bar-color: #666;
    --GW-TOC-number-color: #999;
    --GW-TOC-number-hover-color: #d5d5d5;

    /*  Collapse blocks.
        */
	--GW-collapse-abstract-blockquote-hover-color: #383838;
	--GW-collapse-disclosure-button-color: #383838;
	--GW-collapse-disclosure-button-hover-color: #525253;
	--GW-collapse-in-blockquote-disclosure-button-color: #525253;
	--GW-collapse-in-blockquote-disclosure-button-hover-color: #666;
	--GW-collapse-disclosure-button-text-color: #777;
	--GW-collapse-disclosure-button-text-hover-color: #000;
	--GW-collapse-in-blockquote-disclosure-button-text-color: #929292;
	--GW-collapse-in-blockquote-disclosure-button-text-hover-color: #9f9f9f;

	/*	Inline collapses.
	 */
	--GW-collapse-inline-disclosure-button-text-color: #c0c0c0;
	--GW-collapse-inline-disclosure-button-text-hover-color: #929292;

	/*	Aux-links collapse blocks.
	 */
	--GW-aux-links-collapse-border-color: #6e6e6e;

    /*  Headings.
     */
    --GW-H1-border-color: #9f9f9f;
    --GW-H2-border-color: #9f9f9f;

    /*  Comments.
     */
    --GW-comment-section-top-border-color: #929292;

    /*  Lists.
     */
    --GW-bulleted-list-marker-color: #a4a4a4;

    /*  Figures.
     */
    --GW-figure-outline-color: #9f9f9f;
    --GW-figure-caption-outline-color: #9f9f9f;

	/*	Embeds.
	 */
	--GW-embed-border-color: #525253;

    /*  Epigraphs.
     */
    --GW-epigraph-quotation-mark-color: #a4a4a4;

    /*  Footnotes.
     */
    --GW-footnote-border-color: #858585;
    --GW-footnote-highlighted-border-color: #858585;
    --GW-footnotes-section-top-rule-color: #666;
    --GW-footnote-backlink-border-color: #fff;
    --GW-footnote-backlink-border-hover-color: #929292;

    /*  Footnote references.
     */
    --GW-highlighted-link-outline-color: #929292;

    /*  Sidenotes.
     */
    --GW-sidenote-highlight-box-shadow-color: #858585;
    --GW-sidenote-border-color: #858585;
    --GW-sidenote-scrollbar-thumb-color: #858585;
    --GW-sidenote-scrollbar-thumb-hover-color: #929292;
    --GW-sidenote-self-link-border-color: #858585;

	/*	Annotations.
	 */
	--GW-section-highlighted-border-color: #b5b5b5;

    /*  Tables.
     */
    --GW-table-border-color: #fff;
    --GW-table-caption-border-color: #fff;
    --GW-table-row-horizontal-border-color: #fff;
    --GW-table-scrollbar-thumb-color: #858585;
    --GW-table-scrollbar-thumb-hover-color: #929292;
    --GW-table-scrollbar-border-color: #fff;
    --GW-table-column-heading-hover-background-color: #323d3f;
    --GW-table-sorted-column-heading-background-color: #327792;
    --GW-table-sorted-column-heading-text-color: #000;
    --GW-table-sorted-column-heading-text-shadow-color: #fff;
    --GW-table-zebra-stripe-alternate-row-background-color: #272727;
    --GW-table-row-hover-outline-color: #fff;

    /*  Code blocks.
     */
    --GW-code-element-border-color: #6a6a6a;
    --GW-code-element-background-color: #1a1a1b;
    --GW-pre-element-border-color: #6a6a6a;
    --GW-pre-element-background-color: #1a1a1b;
    --GW-pre-element-scrollbar-track-color: #1a1a1b;
    --GW-pre-element-scrollbar-thumb-color: #666;
    --GW-pre-element-scrollbar-thumb-hover-color: #929292;

    /*  Syntax highlight theme.
     */
    --GW-syntax-highlight-color-normal: #e5e0df;
    --GW-syntax-highlight-color-attribute: #addbff;
    --GW-syntax-highlight-color-data-type: inherit;
    --GW-syntax-highlight-color-variable: #b5b5b5;
    --GW-syntax-highlight-color-other: inherit;
    --GW-syntax-highlight-color-preprocessor: inherit;
    --GW-syntax-highlight-color-extension: #aaa;
    --GW-syntax-highlight-color-comment: #aaa;
    --GW-syntax-highlight-color-control-flow: #b1e9ab;
    --GW-syntax-highlight-color-keyword: #addbff;
    --GW-syntax-highlight-color-operator: #addbff;
    --GW-syntax-highlight-color-special-char: #98b2ba;
    --GW-syntax-highlight-color-built-in: #addbff;
    --GW-syntax-highlight-color-function: #addbff;
    --GW-syntax-highlight-color-constant: inherit;
    --GW-syntax-highlight-color-base-n: inherit;
    --GW-syntax-highlight-color-dec-val: inherit;
    --GW-syntax-highlight-color-float: inherit;
    --GW-syntax-highlight-color-information: inherit;
    --GW-syntax-highlight-color-char: inherit;
    --GW-syntax-highlight-color-string: inherit;
    --GW-syntax-highlight-color-verbatim-string: inherit;
    --GW-syntax-highlight-color-alert: #ff7764;
    --GW-syntax-highlight-color-error: #ff3a2b;
    --GW-syntax-highlight-color-import: #aaa;
    --GW-syntax-highlight-color-special-string: #b5b5b5;

    /*  Math.
     */
    --GW-math-block-background-color: #272727;
    --GW-math-block-background-color-flash: #000;
    --GW-math-block-scrollbar-border-color: #666;
    --GW-math-block-scrollbar-thumb-color: #666;
    --GW-math-block-scrollbar-thumb-hover-color: #929292;

    /*  Dropcaps.
     */
    --GW-dropcaps-goudy-color: #fff;
    --GW-dropcaps-yinit-color: #ebebeb;
    --GW-dropcaps-yinit-text-shadow-color: #aaa;
    --GW-dropcaps-de-zs-color: #e2e2e2;
    --GW-dropcaps-cheshire-color: #e3e3e3;
    --GW-dropcaps-kanzlei-color: #e3e3e3;

    /*  Admonitions.
     */
    --GW-admonition-note-left-border-color: #999;
    --GW-admonition-note-background-color: #595959;
    --GW-admonition-tip-left-border-color: #595959;
    --GW-admonition-tip-background-color: #353535;
    --GW-admonition-warning-left-border-color: #bdbdbd;
    --GW-admonition-warning-background-color: #929292;
    --GW-admonition-warning-text-color: #000;
    --GW-admonition-error-left-border-color: #d8d8d7;
    --GW-admonition-error-background-color: #bdbdbd;
    --GW-admonition-error-text-color: #000;
    --GW-admonition-reversed-link-color: #525253;
    --GW-admonition-reversed-link-color-hover: #666;
    --GW-admonition-reversed-link-underline-gradient-line-color: #666;
    --GW-admonition-reversed-link-underline-gradient-line-color-hover: #777;

	/*	Footer.
	 */
    --GW-bottom-ornament-line-color: #fff;

	/*	Pop-frames (popups or popins).
	 */
    --GW-popframes-object-popframe-background-color: #000;

    --GW-popframes-code-popframe-line-highlight-background-color: #141300;
    --GW-popframes-code-popframe-line-highlight-border-color: #525253;
    --GW-popframes-code-popframe-line-number-color: #858585;
    --GW-popframes-code-popframe-line-number-divider-color: #666;

    --GW-extracts-options-dialog-backdrop-background-color: rgba(0, 0, 0, 0.95);
    --GW-extracts-options-dialog-background-color: var(--GW-body-background-color);
    --GW-extracts-options-dialog-border-color: #858585;
    --GW-extracts-options-dialog-box-shadow-color: #cacaca;
    --GW-extracts-options-dialog-horizontal-rule-color: #666;
    --GW-extracts-options-dialog-button-background-color: var(--GW-body-background-color);
    --GW-extracts-options-dialog-button-text-color: #fff;
    --GW-extracts-options-dialog-button-border-color: #fff;
    --GW-extracts-options-dialog-button-hover-box-shadow-color: #fff;
    --GW-extracts-options-dialog-option-button-explanation-text-color: #aaa;
    --GW-extracts-options-dialog-option-button-hover-text-color: #aaa;
    --GW-extracts-options-dialog-radio-button-border-color: #fff;

    /*  Popups.
     */
    --GW-popups-popup-background-color: var(--GW-body-background-color);

    --GW-popups-popup-border-color: #666;
    --GW-popups-popup-box-shadow-color: #666;
    --GW-popups-popup-border-focused-color: #858585;
    --GW-popups-popup-box-shadow-focused-color: #858585;

    --GW-popups-popup-title-bar-background-color: #000;
    --GW-popups-popup-title-bar-button-color: #777;
    --GW-popups-popup-title-bar-button-color-hover: #fff;
	--GW-popups-popup-title-color: #858585;
    --GW-popups-popup-title-link-hover-color: var(--GW-body-link-hover-color);
    --GW-popups-popup-title-bar-button-focused-color: #aaa;
    --GW-popups-popup-title-bar-button-focused-color-hover: #fff;
    --GW-popups-popup-title-bar-submenu-box-shadow-color: #525253;
	--GW-popups-popup-title-focused-color: #fff;
    --GW-popups-popup-title-link-hover-focused-color: var(--GW-body-link-hover-color);

    --GW-popups-popup-scrollbar-thumb-color: #525253;
    --GW-popups-popup-scrollbar-thumb-hover-color: #777;
    --GW-popups-popup-scrollbar-thumb-focused-color: #666;
    --GW-popups-popup-scrollbar-thumb-hover-focused-color: #929292;

    /*  Popins.
     */
    --GW-popins-popin-background-color: var(--GW-body-background-color);

    --GW-popins-popin-border-color: #858585;
    --GW-popins-popin-backdrop-color: rgba(255, 255, 255, 0.4);
    --GW-popins-popin-box-shadow-color: #858585;

    --GW-popins-popin-title-bar-background-color: #000;
    --GW-popins-popin-title-bar-button-color: #aaa;

    --GW-popins-popin-scrollbar-thumb-color: #666;
    --GW-popins-popin-scrollbar-thumb-hover-color: #929292;

    --GW-popins-popin-stack-counter-text-color: #000;
    --GW-popins-popin-stack-counter-background-color: #777;

    /*  Image focus.
     */
    --GW-image-focus-image-hover-drop-shadow-color: #aaa;

	/*	Page toolbar.
	 */
    --GW-page-toolbar-border-color: #858585;
	--GW-page-toolbar-control-button-color: #858585;
	--GW-page-toolbar-control-button-active-color: #fff;

	/*	Page toolbar widgets.
	 */
	--GW-page-toolbar-button-icon-color: #858585;
	--GW-page-toolbar-button-selectable-icon-color: #494949;
	--GW-page-toolbar-button-selected-icon-color: #aaa;
    --GW-page-toolbar-button-text-color: #b5b5b5;
    --GW-page-toolbar-button-disabled-text-color: #666;
    --GW-page-toolbar-button-highlighted-text-color: #fff;

	/*	Reader mode.
	 */
	--GW-reader-mode-masked-links-key-toggle-info-alert-panel-background-color: rgba(255, 255, 255, 0.6);
	--GW-reader-mode-masked-links-key-toggle-info-alert-panel-text-color: #000;
	--GW-reader-mode-masked-links-key-toggle-info-alert-panel-text-shadow-color: #fff;
	--GW-reader-mode-masked-links-key-toggle-info-alert-panel-key-icon-border-color: #777;
	--GW-reader-mode-masked-links-key-toggle-info-alert-panel-key-icon-background-color: #cacaca;

	/*	“Back to top” link.
	 */
	--GW-back-to-top-link-color: #666;
	--GW-back-to-top-link-hover-color: #929292;

	/*	Mobile floating header.
	 */
	--GW-floating-header-box-shadow-color: #666;
	--GW-floating-header-scroll-indicator-color: #929292;

	/*	“Skip to content” accessibility link.
	 */
	--GW-skip-to-content-text-color: #000;
	--GW-skip-to-content-border-color: #000;
	--GW-skip-to-content-background-color: #ff7870;

	/*	Nav header.
	 */
	--GW-nav-header-link-color: #9f9f9f;
	--GW-nav-header-link-hover-color: #fff;

	/*	X of the day.
	 */
	--GW-x-of-the-day-border-color: #666;
}
