:root {
    /*  Adjust background color to prevent pixels from turning off (contrary to popular belief, pixels turning off saves trivial energy, like <1% in measurements, and causes nasty scrolling/update jank due to delay in pixels turning back on), and improve contrast with the white.
        */
    --GW-body-background-color: #111111;

    /* Dial back from pure white to keep contrast from being *too* high & 'stark' (#fff bg / #000 text seems to work in light mode, but not in dark mode, perhaps because of differences in lighting environment?) */
    --GW-body-text-color: #f1f1f1;

    /*  Adjust this one color in the syntax highlighting color scheme to make it
        less saturated. (The automatic inversion algorithm doesn’t quite handle
        it in the way we want.)
        */
    --GW-syntax-highlight-color-control-flow: #cce1c8;

    /* Variable for SVGs to use (like for the —𝔊— footers on the index page) */
    --GW-body-background-color-inverted: #ededed;

}

/*  The ‘fill’ attribute of the SVGs is modified in dark mode.
    (We cannot use an invert filter because we don’t want to invert the whole
     element, only the background-image.)
    */
.collapse .disclosure-button::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" fill="%235C5C5C"/></svg>');
}
.collapse .disclosure-button:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" fill="%23000"/></svg>');
}
.collapse .disclosure-button:checked::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" fill="%235C5C5C"/></svg>');
}
.collapse .disclosure-button:checked:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" fill="%23000"/></svg>');
}

/* Modifying the 'fill' does not work so well when we call an SVG as a 'background-image' (like for the —𝔊— footers on the index page), so we do variable+invert tricks to get a white copy of the logo as a hack. */
body.index main article::after, body.tags main article::after, body.directory-index main article::after {
    filter: invert(1); background-color: var(--GW-body-background-color-inverted); }

/*  The ‘celestial symbol’ horizontal rules are SVGs and must be inverted.
    */
hr::after,
.horizontalRule-nth-0 hr::after {
    opacity: 1;
    filter: invert(1) drop-shadow(0 0 0 currentColor);
}
.horizontalRule-nth-1 hr::after {
    opacity: 0.75;
    filter: invert(1);
}
.horizontalRule-nth-2 hr::after {
    opacity: 0.85;
    filter: invert(1);
}

/*  Drop cap opacity adjustment.
    */
.drop-cap-goudy::first-letter,
.drop-cap-goudy > p::first-letter {
    opacity: 0.95;
}

/*  Admonition icons.
    */
.admonition.tip::before,
.admonition.note::before,
.admonition.warn::before,
.admonition.warning::before,
.admonition.error::before {
    filter: invert(1);
}

div.admonition.warn,
div.admonition.warning,
div.admonition.error {
    --GW-dotted-underline-background-image: var(--GW-dotted-underline-hover-dark-background-image);
}

/*  List bullets are SVGs and have to be inverted.
    */
ul > li::before {
    filter: invert(1);
}

/*  Exclusion for TOC entries.
    */
#TOC ul > li::before {
    filter: none;
}

/*  For sortable table column headings, we use dark versions of the up/down/both
    arrow icons.
    */
table th.tablesorter-header {
    background-image: url('/static/img/tablesorter/tablesorter-bg-dark.gif');
}
table th.tablesorter-headerAsc {
    background-image: url('/static/img/tablesorter/tablesorter-asc-dark.gif');
}
table th.tablesorter-headerDesc {
    background-image: url('/static/img/tablesorter/tablesorter-desc-dark.gif');
}

/*  The pixel-grid-checkerboard pattern of these scroll bars is created by GIF
    background-images; we use alternate versions of the images in dark mode.
    */
.table-wrapper::-webkit-scrollbar-thumb {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAIiIiCwAAAAABAAEAAACBkwAhqgZBQA7');
}
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAL+/vywAAAAABAAEAAACBkwAhqgZBQA7');
}

.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAIiIiCwAAAAABAAEAAACBkwAhqgZBQA7');
}
.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb:hover {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAL+/vywAAAAABAAEAAACBkwAhqgZBQA7');
}

/*  Images that are marked as invertible by the server are inverted,
    hue-rotated, and desaturated. Other (non-invertible) images are merely
    desaturated. Hovering over an image restores it to its original state.
    Hierarchy: ".invertible-not": no inversion or grayscale; ".invertible"/".invertible-auto": inverted (uninverted upon mouse hover); none: grayscaled (ungrayscaled on hover).
    */
img.invertible,
img.invertible-auto {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
img:not(.invertible):not(.invertible-auto) {
    filter: grayscale(50%);
}
img,
img.invertible,
img.invertible-auto {
    transition: filter 0.25s ease;
}
img:hover,
img.invertible:hover,
img.invertible-auto:hover,
img:not(.invertible):not(.invertible-auto):hover {
    filter: none;
    transition: filter 0s ease 0.25s;
}
/* For images which have been manually marked up with '{.invertible-not}', we avoid any filtering at all. If they are manually marked up (artwork, diagrams with multiple subtly-different colors matched to a legend/caption), the color is important and shouldn't be faded out by default. */
#markdownBody img.invertible-not { filter: none; }

/*  The loading spinner for object popups (image, iframe, object) is inverted
    and made more visible in dark mode.
    */
.popupdiv.loading::before {
    filter: invert(1);
    opacity: 0.4;
}

/*  “Loading failed” messages for object popups.
    */
.popupdiv.loading-failed::after {
    opacity: 0.4;
}

/*  The mode selector is adjusted to be better visible in dark mode, and its
    button icons inverted.
    */
div#mode-selector {
    opacity: 0.6;
}
div#mode-selector button::before {
    filter: invert(1);
    opacity: 0.45;
}
div#mode-selector button.select-mode-light::before {
    opacity: 0.55;
}

/*  The dotted underline for Wikipedia links is created by a
    pixel-grid-checkerboard background-image. We use an alternate version of
    this image in dark mode.
    */
.markdownBody a[href*='wikipedia.org'].docMetadata:hover,
.markdownBody a[href*='wikimedia.org'].docMetadata:hover,
.markdownBody a[href*='wiktionary.org'].docMetadata:hover,
.markdownBody a[href*='wikimediafoundation.org'].docMetadata:hover,
.markdownBody a[href*='wikisource.org'].docMetadata:hover {
    background-image: var(--GW-dotted-underline-hover-dark-background-image);
}

/*  All SVG linkicons have to be inverted.
    */
a.link-self.identifier-link-up::after,
a.link-self.identifier-link-down::after,
a[href$='.pdf' i]::after,
a[href$='/pdf' i]::after,
a[href*='/pdf/' i]::after,
a[href$='type=pdf' i]::after,
a[href*='.pdf#' i]::after,
a[href*='pdfs.semanticscholar.org' i]::after,
a[href$='.epub' i]::after,
a[href*='citeseerx.ist.psu.edu' i]::after,
a[href*='eprint.iacr.org' i]::after,
a[href$='.opml' i]::after,
a[href$='.txt' i]::after,
a[href$='.xml' i]::after,
a[href$='.css' i]::after,
a[href$='.hs' i]::after,
a[href$='.js' i]::after,
a[href$='.json' i]::after,
a[href$='.jsonl' i]::after,
a[href^='/'][href$='.php' i]::after,
a[href$='.conf' i]::after,
a[href$='.sh' i]::after,
a[href$='.R' i]::after,
a[href$='.patch' i]::after,
a[href$='.diff' i]::after,
a[href^="/static/" i][href$=".html" i]::after,
a[href$='.doc' i]::after,
a[href$='.docx' i]::after,
a[href*='docs.google.com' i]::after,
a[href$='.xls' i]::after,
a[href$='.xlsx' i]::after,
a[href$='.ods' i]::after,
a[href$='.csv' i]::after,
a[href$='.gif' i]::after,
a[href$='.bmp' i]::after,
a[href$='.ico' i]::after,
a[href$='.jpg' i]::after,
a[href$='.jpeg' i]::after,
a[href$='.png' i]::after,
a[href$='.svg' i]::after,
a[href$='.xcf' i]::after,
a[href*='imgur.com']::after,
a[href$='.mp3' i]::after,
a[href$='.wav' i]::after,
a[href$='.flac' i]::after,
a[href$='.ogg' i]::after,
a[href$='.rm' i]::after,
a[href$='.swf' i]::after,
a[href$='.avi' i]::after,
a[href$='.mp4' i]::after,
a[href$='.webm' i]::after,
a[href$='.tar' i]::after,
a[href$='.zip' i]::after,
a[href$='.xz'  i]::after,
a[href$='.img' i]::after,
a[href$='.bin' i]::after,
a[href$='.pkl' i]::after,
a[href$='.onnx' i]::after,
a[href$='.pt' i]::after,
a[href$='.ebt' i]::after,
a[href$='.mdb' i]::after,
a[href$='.mht' i]::after,
a[href$='.ttf' i]::after,
a[href*='biorxiv.org']::after,
a[href*='medrxiv.org']::after,
a[href*='substack.com']:not([href*=astralcodexten])::after,
a[href*='scholar.google.com']::after,
a[href*='plosone.org']::after,
a[href*='plosmedicine.org']::after,
a[href*='plos.org']::after,
a[href*='www.plos']::after,
a[href*='patreon.com']::after,
a[href*='uptontea.com']::after,
a[href*='wired.com']::after,
a[href*='washingtonpost.com']::after,
a[href*='nytimes.com']::after,
a[href*='nlm.nih.gov']::after,
a[href*='newyorker.com']::after,
a[href*='theguardian.com']::after,
a[href*='www.guardian.co.uk']::after,
a[href*='reddit.com']::after,
a[href*='paulgraham.com']::after,
a[href*='ycombinator.com']::after,
a[href*='intelligence.org']::after,
a[href*='deepmind']::after,
a[href*='docs/.*/*.pdf#deepmind']::after,
a[href*='openai']::after,
a[href$='.pdf#openai']::after,
a[href*='distill.pub']::after,
a[href*='twitter.com']::after,
a[href*='nitter.hu']::after,
a[href*='erowid.org']::after,
a[href*='wikipedia.org']::after,
a[href*='wikimedia.org']::after,
a[href*='wiktionary.org']::after,
a[href*='wikimediafoundation.org']::after,
a[href*='wikisource.org']::after,
a[href*='youtube.com']::after,
a[href*='youtu.be']::after,
a[href*='soundcloud.com']::after,
a[href*='bandcamp.com']::after,
a[href*='overflow.net']::after,
a[href*='overflow.com']::after,
a[href*='stackexchange.com']::after,
a[href*='amazon.com']::after,
a[href*='amazon.co.']::after,
a[href*='amzn.com'  ]::after,
a[href*='github.com']::after,
a[href*='dropbox.com']::after,
a[href*='dropboxusercontent.com']::after,
a[href*='mega.nz']::after,
a[href*='webcitation.org'   ]::after,
a[href*='mementoweb.org'    ]::after,
a[href*='archive.org'       ]::after,
a[href*='archive-it.org'    ]::after,
a[href*='archiveteam.org'   ]::after,
a[href*='waybackmachine.org']::after,
a.local-archive-link::after,
a[href*="tumblr.com"]::after,
a[href*="t.umblr.com"]::after,
a[href*="#facebook"]::after,
a[href*="#facebook"][href*="arxiv.org"]::after,
a[href*='docs/.*/*.pdf#.*facebook']::after,
a[href*="facebook.com"]::after,
a[href*="bitcointalk.org"]::after,
a[href*="bitcoin.it"]::after,
a[href*="www.google.com"]::after,
a[href*="#google"]::after,
a[href*="#org=google"]::after,
a[href*="#google"][href*="arxiv.org"]::after,
a[href*="#org=google"][href*="arxiv.org"]::after,
a[href*='docs/.*/*.pdf#.*google']::after,
a[href*='docs/.*/*.pdf#org=google']::after {
    filter: invert(1);
}
