/* **************** */
/* DESKTOP-ONLY CSS */
/* **************** */
@media screen and (min-width: 650px) {
    div#content {
        margin-left: 200px;
        padding-left: 0;
        line-height: 130%; /* see A/B tests */
    }

    #header {
        margin-bottom: 15px;
    }

    div#main {
        margin-left: 0.5em;
        margin-right: 0.5em;
        border: none;
    }

    div#logo { margin-left: -80px; }

    /* uses up too much horizontal whitespace by default: */
    blockquote { margin-left: 10px; }
    blockquote blockquote { margin-left: 10px; }

    div#sidebar {
    padding: 0.5em;
    width: 150px;
    float: left;

    /* SIDEBAR: add most of the fanciness, particularly the 'block' display which uses up vertical whitespace,
     which we can afford on the desktop. */
    /* We want descriptions and tags to be hyphenated/broken
       when they are too long, otherwise they spill onto the
       body text, which is ugly and unreadable.

       CSS courtesy of http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
    word-break: break-all;
    }
    /* But the version and belief tags are too short and look ugly if broken with a hyphen, so reset: */
    div#version, div#epistemological-status { word-break: normal; }

    div#sidebar-links a {
        display: block;
        font-size: 105%;
        text-decoration: none;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    div#sidebar-news a {
        display: inline; /* override the `display: block;` so it reads 'NEW: RSS/MAIL' */
        font-size: 105%;
        text-decoration: none;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

/* **************** */
/* MOBILE-ONLY CSS */
/* **************** */
@media screen and (max-width: 649px) {
    /* remove extra lines from the sidebar: */
    div#sidebar hr { display:none; }
    /* even less horizontal is available on mobile! */
    blockquote { margin-left: 3px; }
    blockquote blockquote { margin-left: 3px; }
}

/* ********************** */
/* DEVICE-INDEPENDENT CSS */
/* ********************** */
div#TOC {
    /* see A/B tests */
    float: left;
    width: 20%;
    /* see A/B tests */
    background: #eee;
    /* Force a margin big enough that
       bulleted items won't overlap the
       blue-shaded area of the ToC */
    margin-right: 20px;
}
div#TOC li {
    list-style-type: none;
    margin-right: 0px; padding-right: 0px;
}
div#TOC ul li ul li {
    position: relative;
    left: -15px
}
div#TOC ul { margin-left: 0px; padding-left: 0px; }
div#TOC ul ul { margin-left: 1em; padding-left: 1em; }

html {
    padding: 0px;
    margin: 0px;

    /* see A/B tests */
    background-color: white;
    color: black;

    /* no size set for the font; see A/B tests */

    /* see A/B tests */
    font-family: Baskerville, Trebuchet, Georgia, Arial, "Lucida Grande", garamond, palatino, verdana;
}

body {
    margin: 1px;
    /* original 1400px; see A/B tests */
    max-width: 1100px;
}

div#header h1 {
    display: inline;
    vertical-align: middle;
}
/* uppercase page title, all section headers; see A/B tests */
h1, h2, h3, h4, h5 { text-transform: uppercase; }

/* center the ads so they don't look aligned with the content & part of the content */
div#adsense { text-align: center; }
div#bitcoin-donation-address { font-family: monospace; }

/* metadata customization: */
div#description { font-size: 95%; }
div#tags, div#page-created, div#last-modified, div#license { font-size: 80%; }

div#footer {
    padding-top: 30px;
    clear: both;
    font-size: 90%;
    text-align: center;
}

div#disqus_thread { padding-left: 0.5em; }

a {
    color: #303C3C; /* off-black */
    text-decoration: underline;
}
div#content a {
    /* how we implement grey underlining:
       http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/ */
    text-decoration: none;
    border-bottom: 1px Solid grey;
}

h2 {
    font-size: 120%;
    text-transform: uppercase;
}

h3 {
    font-size: 100%;
    text-transform: uppercase;
}

div.column {
    width: 50%;
    float: left;
}

div#logo img {  display:block;
                margin:10px auto 10px auto; }

/* 'figure' because we don't want to force these settings on normal inline images, like those used in _Radiance_ */
figure img {
    display: block;
    margin: 5px auto 5px auto;
    border: none;

    /* resize images based on browser width: 'fluid images'; see
       http://unstoppablerobotninja.com/entry/fluid-images/
       http://blog.kurtschindler.net/post/flexible-dynamically-resizing-images-with-css
       http://stackoverflow.com/questions/787839/resize-image-proportionally-with-css */
    max-width: 100%;
    height: auto;
}

ul {
    /* see A/B tests */
    list-style-type: square;
/*    padding-left: 1em; */
    margin-left: 1em;
}

code {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
}

pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}

p.caption {
    display: none;
}

p { margin-top: -0.2em;
    margin-bottom: 0 }

/* how much to indent successive paragraphs; see A/B tests */
p + p {
    text-indent: 2em;
    margin-top: 0 }

p.hang { text-indent: -0.44em }

.num { font-size: 85%; }

/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
/* from Twitter's bootstrap package; adds grid-lines to table */
table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    border-collapse: separate;
    /* *border-collapse: collapse;
       IE7, collapse table to remove spacing */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* align columns of numbers on their decimal points:
    http://www.w3.org/TR/css3-text/#text-align https://developer.mozilla.org/en-US/docs/Web/CSS/text-align http://blog.adrianroselli.com/2013/05/my-kingdom-for-decimal-alignment-on.html */
    text-align: "." right;
}
table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
table td {
    vertical-align: top;
}
table th + th, table td + td {
    border-left: 1px solid #ddd;
}
table tr + tr td {
    border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
    border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

/* Add little icons to tables handled by tablesorter.js
   to advertise that they are sortable.
   http://tablesorter.com/docs/#Configuration */
th.header {
    background-image: url(/static/img/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}
th.headerSortUp {
    background-image: url(/static/img/small_asc.gif);
    background-color: #79BEDB;
}
th.headerSortDown {
    background-image: url(/static/img/small_desc.gif);
    background-color: #79BEDB;
}

/* zebra-stripe tables (CSS3); from Twitter's bootstrap package */
tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
tbody tr:hover td {
    background-color: #f5f5f5;
}

/* CSS written by cwillu of #lesswrong in order to rewrite the Modafinil page's table of prices */
#suppliers-prices td,#suppliers-prices th { padding: 0px 15px; }
#suppliers-prices td:nth-child(1):after { content: "mg/$" }
#suppliers-prices td:nth-child(2) { text-align: right; }
#suppliers-prices td:nth-child(2):after { content: "mg" }
#suppliers-prices td:nth-child(3):before { content: "x" }
#suppliers-prices td:nth-child(5):before { content: "$" }

/* rejigger whitespace inside lists per quicksilver of #haskell */
li { margin-top: 0.5em; }
li p { margin: 0.2em; }

/* Add very modest drop shadows, partially inspired by http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
   Note the awful hack by which we implement 'alternating'/zebra-stripe coloring of quotes.

   See A/B tests: this highlighting is better than no highlighting */
blockquote, blockquote blockquote blockquote, blockquote blockquote blockquote blockquote blockquote {
    z-index: -2;
    background-color: rgb(245, 245, 245); }
blockquote blockquote, blockquote blockquote blockquote blockquote, blockquote blockquote blockquote blockquote blockquote blockquote {
    background-color: rgb(235, 235, 235); }

/* very lightly highlight non-block quotations somewhat similar to above; thanks to puritan and #lesswrong for help */
q {background-color:rgba(0,0,0,0.02);}
blockquote > p:only-of-type q:only-of-type {background-color:inherit}

/* left-hanging quotes:
http://css-tricks.com/almanac/properties/h/hanging-punctuation/ http://www.w3schools.com/cssref/css3_pr_hanging-punctuation.asp http://www.w3.org/TR/css3-text/#hanging-punctuation0 */
blockquote, p {
  hanging-punctuation: first;
}

/* make footnotes better: http://bytes.com/topic/html-css/answers/97932-superscript-doesnt-distort-line-spacing#post340658 */
sub, sup { line-height: 0.3em; }

/* http://ignorethecode.net/blog/2010/04/20/footnotes/
   If we don't have this CSS for the popup/floating footnotes, they're too see-through and unreadable.

   Note: setting `opacity: 1;` in this CSS doesn't seem to set the footnote appearance to fully opaque,
   so I've edited the opacity calls in `footnotes.js` to force it */
#footnotediv div {
    background-color: white;
    padding: 3px;
    padding: 12px;
    max-width: 800px;
    border: 1px solid #CDBBB5;
}

/* Deal with multiple footnotes one after another; per Charuru */
sup + sup { margin-left: 2px; }

/* Sourcecode highlighting; generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

/* support A/B test by hiding by default all the HTML variants: */
div#metadata1, div#metadata2, div#metadata3, div#metadata4, div#metadata5, div#metadata6 { display: none; }