@charset "UTF-8";

/********************/
/* SOURCE SERIF PRO */
/********************/

@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 200;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-ExtraLight.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 200;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-ExtraLightItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 300;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-Light.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 300;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-LightItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 400;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-Regular.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 400;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-RegularItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 600;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-Semibold.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 600;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-SemiboldItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 700;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-Bold.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 700;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-BoldItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 900;
	font-style: normal;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-Black.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 900;
	font-style: italic;
	src: url('/static/font/ssfp/SourceSerifPro-BASIC-BlackItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}

/*******************/
/* SOURCE SANS PRO */
/*******************/

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-ExtraLight.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-ExtraLightItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-Light.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-LightItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-Regular.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-RegularItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-Semibold.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-SemiboldItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 700;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-Bold.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 700;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-BoldItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 900;
	font-style: normal;
	src: url('/static/font/ssp/SourceSansPro-BASIC-Black.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 900;
	font-style: italic;
	src: url('/static/font/ssp/SourceSansPro-BASIC-BlackItalic.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
}

/*****************/
/* IBM PLEX MONO */
/*****************/

@font-face {
	font-family: 'IBM Plex Mono';
	font-weight: normal;
	font-style: normal;
	src: url('/static/font/ibm-plex-mono/IBMPlexMono-Regular.otf') format('opentype');
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Mono';
	font-weight: normal;
	font-style: italic;
	src: url('/static/font/ibm-plex-mono/IBMPlexMono-RegularItalic.otf') format('opentype');
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Mono';
	font-weight: bold;
	font-style: normal;
	src: url('/static/font/ibm-plex-mono/IBMPlexMono-Bold.otf') format('opentype');
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Mono';
	font-weight: bold;
	font-style: italic;
	src: url('/static/font/ibm-plex-mono/IBMPlexMono-BoldItalic.otf') format('opentype');
	font-display: swap;
}

/***********/
/* QUIVIRA */
/***********/

@font-face {
	font-family: 'Quivira';
	font-weight: normal;
	src: url('/static/font/quivira/Quivira-SUBSETTED.ttf') format('truetype');
	font-display: swap;
}

/**************/
/* NOTO EMOJI */
/**************/

@font-face {
	font-family: 'Noto Emoji';
	font-weight: normal;
	src: url('/static/font/noto-emoji/NotoEmoji-Bold-SUBSETTED.ttf') format('truetype');
	font-display: swap;
}

/************************/
/* DEUTSCHE ZIERSCHRIFT */
/************************/

@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-A.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0041;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-B.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0042;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-C.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0043;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-D.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0044;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-E.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0045;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-F.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0046;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-G.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0047;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-H.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0048;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-I.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0049;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-J.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004A;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-K.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004B;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-L.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004C;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-M.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004D;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-N.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004E;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-O.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004F;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-P.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0050;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-Q.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0051;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-R.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0052;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-S.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0053;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-T.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0054;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-U.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0055;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-V.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0056;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-W.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0057;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-X.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0058;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-Y.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0059;
}
@font-face {
	font-family: 'Deutsche Zierschrift';
	src: url('/static/font/dropcap/de-zs/DeutscheZierschrift-Z.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+005A;
}

/*********/
/* YINIT */
/*********/

@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-A.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0041;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-B.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0042;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-C.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0043;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-D.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0044;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-E.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0045;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-F.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0046;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-G.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0047;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-H.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0048;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-I.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0049;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-J.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004A;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-K.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004B;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-L.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004C;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-M.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004D;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-N.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004E;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-O.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004F;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-P.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0050;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-Q.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0051;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-R.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0052;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-S.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0053;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-T.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0054;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-U.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0055;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-V.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0056;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-W.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0057;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-X.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0058;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-Y.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0059;
}
@font-face {
	font-family: 'Yinit';
	src: url('/static/font/dropcap/yinit/Yinit-Z.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+005A;
}

/*******************/
/* GOUDY INITIALEN */
/*******************/

@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-A.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0041;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-B.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0042;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-C.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0043;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-D.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0044;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-E.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0045;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-F.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0046;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-G.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0047;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-H.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0048;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-I.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0049;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-J.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004A;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-K.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004B;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-L.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004C;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-M.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004D;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-N.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004E;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-O.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004F;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-P.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0050;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-Q.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0051;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-R.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0052;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-S.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0053;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-T.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0054;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-U.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0055;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-V.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0056;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-W.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0057;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-X.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0058;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-Y.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0059;
}
@font-face {
	font-family: 'Goudy Initialen';
	src: url('/static/font/dropcap/goudy/GoudyInitialen-Z.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+005A;
}

/*********************/
/* CHESHIRE INITIALS */
/*********************/

@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-A.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0041;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-B.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0042;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-C.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0043;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-D.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0044;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-E.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0045;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-F.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0046;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-G.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0047;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-H.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0048;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-I.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0049;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-J.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004A;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-K.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004B;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-L.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004C;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-M.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004D;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-N.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004E;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-O.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004F;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-P.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0050;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-Q.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0051;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-R.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0052;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-S.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0053;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-T.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0054;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-U.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0055;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-V.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0056;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-W.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0057;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-X.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0058;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-Y.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0059;
}
@font-face {
	font-family: 'Cheshire Initials';
	src: url('/static/font/dropcap/cheshire/Cheshire-Initials-Z.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+005A;
}

/*********************/
/* KANZLEI INITIALEN */
/*********************/

@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-A.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0041;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-B.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0042;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-C.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0043;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-D.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0044;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-E.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0045;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-F.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0046;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-G.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0047;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-H.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0048;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-I.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0049;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-J.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004A;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-K.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004B;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-L.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004C;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-M.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004D;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-N.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004E;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-O.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+004F;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-P.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0050;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-Q.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0051;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-R.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0052;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-S.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0053;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-T.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0054;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-U.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0055;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-V.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0056;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-W.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0057;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-X.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0058;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-Y.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+0059;
}
@font-face {
	font-family: 'Kanzlei Initialen';
	src: url('/static/font/dropcap/kanzlei/Kanzlei-Initialen-Z.ttf') format('truetype');
	font-display: swap;
	unicode-range: U+005A;
}

/*******************/
/* BLACKMOOR PLAIN */
/*******************/

@font-face {
	font-family: 'Blackmoor Plain';
	font-weight: normal;
	src: url('/static/font/blackletter/BlackmoorPlain.otf') format('opentype');
	font-display: swap;
}

/******************/
/* CLOISTER BLACK */
/******************/

@font-face {
	font-family: 'Cloister Black';
	font-weight: normal;
	src: url('/static/font/blackletter/CloisterBlack.ttf') format('truetype');
	font-display: swap;
}

/********************/
/* DEUTSCHE SCHRIFT */
/********************/

@font-face {
	font-family: 'Deutsche Schrift';
	font-weight: normal;
	src: url('/static/font/blackletter/DeutscheSchrift.ttf') format('truetype');
	font-display: swap;
}

/*************************/
/* ENGRAVERS OLD ENGLISH */
/*************************/

@font-face {
	font-family: 'Engravers Old English';
	font-weight: normal;
	src: url('/static/font/blackletter/EngraversOldEnglish-Regular.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Engravers Old English';
	font-weight: bold;
	src: url('/static/font/blackletter/EngraversOldEnglish-Bold.ttf') format('truetype');
	font-display: swap;
}

/************************/
/* GREAT PRIMER UNCIALS */
/************************/

@font-face {
	font-family: 'Great Primer Uncials';
	font-weight: normal;
	src: url('/static/font/blackletter/GreatPrimerUncials.otf') format('opentype');
	font-display: swap;
}

/********************/
/* GUTENBERG GOTHIC */
/********************/

@font-face {
	font-family: 'Gutenberg Gothic';
	font-weight: normal;
	src: url('/static/font/blackletter/GutenbergGothic.ttf') format('truetype');
	font-display: swap;
}

/****************/
/* HANSA GOTHIC */
/****************/

@font-face {
	font-family: 'Hansa Gothic';
	font-weight: normal;
	src: url('/static/font/blackletter/HansaGothic.ttf') format('truetype');
	font-display: swap;
}
