/**********/
/* IMAGES */
/**********/

:root {
    --GW-image-single-black-star-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M 5,0 C 4,4 4,4 0,5 4,6 4,6 5,10 6,6 6,6 10,5 6,4 6,4 5,0 Z"/></svg>');
    --GW-image-single-white-star-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M 5,0 C 4,4 4,4 0,5 4,6 4,6 5,10 6,6 6,6 10,5 6,4 6,4 5,0 Z" /><path d="M 5,2.5 C 4.5,4.5 4.5,4.5 2.5,5 4.5,5.5 4.5,5.5 5,7.5 5.5,5.5 5.5,5.5 7.5,5 5.5,4.5 5.5,4.5 5,2.5 Z" style="fill:%23ffffff"/></svg>');
    --GW-image-single-white-star-rotated-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M 8.75,1.25 C 5,3.5 5,3.5 1.25,1.25 3.5,5 3.5,5 1.25,8.75 5,6.5 5,6.5 8.75,8.75 6.5,5 6.5,5 8.75,1.25 Z" /><path d="M 7,3 C 5,4.2 5,4.2 3,3 4.2,5 4.2,5 3,7 5,5.8 5,5.8 7,7 5.8,5 5.8,5 7,3 Z" style="fill:%23ffffff"/></svg>');
    --GW-image-single-white-star-on-black-circle-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle style="fill:%23000000;stroke:%23000000;stroke-width:3.829" cx="5" cy="5" r="3.0853674" /><path style="fill:%23ffffff;stroke-width:1" d="M 5,-7.5e-8 C 4,4 4,4 2.5e-8,5 4,6 4,6 5,10 c 1,-4 1,-4 5,-5 C 6,4 6,4 5,-7.5e-8 Z"/></svg>');

    --GW-image-checkerboard-000-fff-2x-gif: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAP///ywAAAAABAAEAAACBgQShqgJBQA7');
    --GW-image-checkerboard-777-fff-2x-gif: url('data:image/gif;base64,R0lGODlhBAAEAPAAMXd3d////ywAAAAABAAEAAACBgQShqgJBQA7');
    --GW-image-checkerboard-888-000-2x-gif: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAIiIiCwAAAAABAAEAAACBkwAhqgZBQA7');
    --GW-image-checkerboard-bfbfbf-000-2x-gif: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAL+/vywAAAAABAAEAAACBkwAhqgZBQA7');

    --GW-image-linear-dotted-000-transparent-2x-gif: url('data:image/gif;base64,R0lGODdhBAACAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAEAAIAAAIEBCSGBQA7');
    --GW-image-linear-dotted-888-transparent-2x-gif: url('data:image/gif;base64,R0lGODdhBAACAJEAAAAAAIiIiP///wAAACH5BAkAAAMALAAAAAAEAAIAAAIETDaGBQA7');
    --GW-image-linear-dotted-fff-transparent-2x-gif: url('data:image/gif;base64,R0lGODdhBAACAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAEAAIAAAIETCSGBQA7');
    --GW-image-linear-dotted-bbb-transparent-2x-gif: url('data:image/gif;base64,R0lGODdhBAACAJEAAAAAALu7u////wAAACH5BAkAAAMALAAAAAAEAAIAAAIETDaGBQA7');

    --GW-image-pattern-dotted-e6e6e6-on-fff-2x-gif: url('data:image/gif;base64,R0lGODlhEAAQAPAAMebm5v///ywAAAAAEAAQAAACHowPcKgb6V6LtFoDXV6b3Q9aHTZ5WhmmJodK0ajGBQA7');
    --GW-image-pattern-dotted-fff-on-e6e6e6-2x-gif: url('data:image/gif;base64,R0lGODlhEAAQAPAAMebm5v///ywAAAAAEAAQAAACHoQfcagL6V6LtFoDXV6b3Q9aHTZ5WhmmJodK0ajGBQA7');
    --GW-image-pattern-dotted-161616-on-3e3e3e-2x-gif: url('data:image/gif;base64,R0lGODlhEAAQAPAAMRYWFj4+PiwAAAAAEAAQAAACHowPcKgb6V6LtFoDXV6b3Q9aHTZ5WhmmJodK0ajGBQA7');
    --GW-image-pattern-dotted-161616-on-252525-2x-gif: url('data:image/gif;base64,R0lGODlhEAAQAPAAMRYWFiUlJSwAAAAAEAAQAAACHowPcKgb6V6LtFoDXV6b3Q9aHTZ5WhmmJodK0ajGBQA7');
}


/*******************/
/* OTHER VARIABLES */
/*******************/

:root {
    --GW-serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
    --GW-sans-serif-font-stack: "Source Sans Pro", "Lucida Sans Unicode", "Helvetica", "Trebuchet MS", sans-serif, "Noto Emoji", "Quivira";
    --GW-monospaced-font-stack: "IBM Plex Mono", "Liberation Mono", "Consolas", "Courier", monospace, "Noto Emoji", "Quivira";

    --GW-body-text-font-size: 20px;

	--GW-body-max-width: 935px;
	--GW-body-side-padding: 20px;
}
@media all and (max-width: 649px) {
    :root {
        --GW-body-text-font-size: 18px;

		--GW-body-side-padding: 15px;
    }
}


/***********/
/* GENERAL */
/***********/

html,
.shadow-body {
    --base-font-size: var(--GW-body-text-font-size);
	--background-color: var(--GW-body-background-color);

    background-color: var(--background-color);
    color: var(--GW-body-text-color);
    font-weight: 400;
    font-family: var(--GW-serif-font-stack);
	font-size: var(--base-font-size);
}


/****************/
/* ADAPTIVENESS */
/****************/

/*	Utility classes: show something only on mobile (`.desktop-not`)
	or only on desktop (`.mobile-not`).
 */
@media all and (max-width: 649px) {
	.mobile-not {
		display: none !important;
	}
}
@media all and (min-width: 650px) {
	.desktop-not {
		display: none !important;
	}
}



/********************/
/* GENERIC ELEMENTS */
/********************/

svg {
    fill: currentColor;
}


/**********/
/* LAYOUT */
/**********/

html {
    padding: 0;
    margin: 0;
}

body {
    max-width: var(--GW-body-max-width);
    padding: 0 var(--GW-body-side-padding);
    margin: 0 auto;
}

main {
    position: relative;
}
@media all and (min-width: 650px) {
    main {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
    }
    article {
        flex: 1 1 auto;
    }
}


/***********/
/* SIDEBAR */
/***********/

#sidebar {
    display: flex;
    justify-content: center;
}

/*	Sidebar links (including logo).
 */
#sidebar a {
    display: block;
    border: 1px dotted currentColor;
    text-align: center;
    margin: 1px 0 1px 2px;
}

/*	Logo.
 */
#sidebar a.logo {
    display: flex;
    margin: 1px 0;
}
#sidebar a.logo .logo-image {
	width: var(--logo-width);
	height: calc(var(--logo-width) * 94/80);
}

/*	Sidebar links (not including logo).
 */
#sidebar .sidebar-links {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
}
#sidebar .sidebar-links a {
    flex: 1 1 auto;
    padding: 0.25em 0.75em;
}

@media all and (max-width: 649px) {
    #sidebar {
        margin-top: 1em;
    }

	/*	Logo.
	 */
    #sidebar a.logo {
        padding: 0.5em 0.375em;
    }
    #sidebar a.logo .logo-image {
        --logo-width: 2.5em;
    }

	/*	Sidebar links (not including logo).
	 */
    #sidebar .sidebar-links a {
        font-variant-caps: small-caps;
    }
    #sidebar .sidebar-links a:nth-child(1),
    #sidebar .sidebar-links a:nth-child(2),
    #sidebar .sidebar-links a:nth-child(3) {
        min-width: 25%;
    }
    #sidebar .sidebar-links a.patreon {
        display: none;
    }
}

@media all and (min-width: 650px) {
    #sidebar {
        margin-top: 0.5em;
    }

	/*	Sidebar links (including logo).
	 */
    #sidebar a {
        color: var(--GW-nav-header-link-color);
    }
    #sidebar a:hover {
        color: var(--GW-nav-header-link-hover-color);
    }

	/*	Sidebar links (not including logo).
	 */
    #sidebar .sidebar-links a {
        text-transform: uppercase;
        font-weight: 600;
    }

    @media all and (max-width: 1179px) {
		/*	Logo.
		 */
        #sidebar a.logo {
            padding: 0.25em 0.375em;
        }
        #sidebar a.logo .logo-image {
            --logo-width: 1em;
        }
    }
    @media all and (min-width: 1180px) {
		/*	Logo.
		 */
        #sidebar a.logo {
            position: absolute;
            right: 100%;
            margin: 0 0.75em 0 0;
            padding: 0.125em;
            border: none;
            opacity: 0.5;
        }
        #sidebar a.logo:hover,
        #sidebar a.logo.bright {
            opacity: 1.0;
        }
        #sidebar a.logo.fading {
            transition:
            	opacity 1s ease;
        }
        #sidebar a.logo .logo-image {
            --logo-width: 4em;
        }

		/*	Sidebar links (not including logo).
		 */
		#sidebar .sidebar-links a:first-child {
			margin-left: 0;
		}
    }
}


/***************/
/* PAGE HEADER */
/***************/

@media all and (max-width: 649px) {
    header {
        padding: 0 1em;
		margin-top: 1.75rem;
    }
}
@media all and (min-width: 650px) {
    header {
        padding: 0 2em;
		margin-top: 2.125rem;
    }
}

header h1 {
    margin: 0;
    text-align: center;
    line-height: 1.15;
    text-transform: none;
    font-variant-caps: small-caps;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -1px;
}
@media all and (max-width: 649px) {
    header h1 {
        font-size: 2em;
    }
}

/*	Source Serif Pro has no italic small caps, sadly.
 */
header h1 em {
	font-variant-caps: normal;
}


/*********************/
/* ARTICLE CONTAINER */
/*********************/

article {
    margin-top: 1.75rem;
}


/***********************/
/* PAGE METADATA BLOCK */
/***********************/

#page-metadata {
	--text-alignment: center;
	--text-hyphenation: none;
	--text-indent: 0em;

    line-height: 1.5;
}

#page-metadata:not(:last-child) {
	margin-bottom: 2.25rem;
}

#page-metadata > * + * {
	margin-top: 0.75em;
}

/*************/
/*	Page tags.
 */
#page-metadata .link-tags {
    font-family: var(--GW-monospaced-font-stack);
    font-style: italic;
}
#page-metadata .link-tags a {
    white-space: nowrap;
    margin-right: 0.05em;
    background-position: 0% calc(100% - 1px);
}
#page-metadata .link-tags a:nth-child(n+2) {
    margin-left: 0.10em;
}

/********************/
/*	Page description.
 */
/*	Override normal handling of italics: before, we wrapped descriptions in
	`<em>`; however, they compile to HTML which can contain italics of their
	own (eg. book titles). This causes HTML Tidy to warn about nested italics
	(which is valid HTML but *usually* means you’ve made an error - this often
	triggers when I mess up bolding, for example, like on /gpt-3). So we
	removed the wrapper in favor of the above `font-style: italic`. However,
	now the titles don’t unitalicize automatically like they would for nested
	italics! So we force italicized titles back to normal Roman font to match
	the expected typographic convention.
 */
#page-metadata .page-description {
    font-style: italic;
}
#page-metadata .page-description em {
    font-style: normal;
}

/************************/
/*	Page metadata fields.
 */
#page-metadata .page-metadata-fields {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#page-metadata .page-metadata-fields > span {
    white-space: nowrap;
}
/*  Interpunct separators for the metadata fields; looks nicer than semicolons
	or slashes.
 */
#page-metadata .page-metadata-fields > span::after {
    content: "\00B7"; /* interpunct MIDDLE DOT (U+00B7) '·' */
    margin: 0 0.75em;
}
/*	No separator at line end.
 */
#page-metadata .page-metadata-fields .page-importance::after,
#page-metadata .page-metadata-fields > span:last-child::after {
	display: none;
}

/*	Flex order.
 */
/* date, author, status */
#page-metadata .page-metadata-fields .page-author,
#page-metadata .page-metadata-fields .page-date-range,
#page-metadata .page-metadata-fields .page-status {
	order: 1;
}
/* certainty, importance */
#page-metadata .page-metadata-fields .page-confidence,
#page-metadata .page-metadata-fields .page-importance {
	order: 3;
}
/* backlinks, similar, bibliography */
#page-metadata .page-metadata-fields .backlinks,
#page-metadata .page-metadata-fields .similars,
#page-metadata .page-metadata-fields .link-bibliography {
	order: 5;
}

/*	Author.
 */
#page-metadata .page-metadata-fields .page-author {
    white-space: normal;
}

/*	Page source link.
 */
#page-metadata .page-metadata-fields .page-date-range .page-source a {
    font-variant-numeric: oldstyle-nums;
}

/*=------------=*/
/*= Responsive =*/
/*=------------=*/

@media all and (min-width: 650px) {
    #page-metadata {
        font-size: calc((19/20) * var(--GW-body-text-font-size));
        line-height: calc(1.5 / (19/20));
    }

	/*	Page tags.
	 */
    #page-metadata .link-tags {
        font-size: calc((16/20) * var(--GW-body-text-font-size));
    }

	/*	Page metadata fields.
	 */
    #page-metadata .page-metadata-fields {
        font-size: calc((18/20) * var(--GW-body-text-font-size));
    }
    /* line break in one place */
    #page-metadata .page-metadata-fields::after {
        content: "";
        width: 100%;
        height: calc(1em * (4/20));
    }
    /* break between certainty/importance and backlinks/similar/bibliography */
    #page-metadata .page-metadata-fields::after {
        order: 4;
    }
}
@media all and (max-width: 649px) {
    #page-metadata {
        font-size: calc((17/18) * var(--GW-body-text-font-size));
    }

	/*	Page tags.
	 */
    #page-metadata .link-tags {
        font-size: calc((16/18) * var(--GW-body-text-font-size));
    }

	/*	Page description.
	 */
    #page-metadata .page-description {
        line-height: calc(25/17);
    }

	/*	Page metadata fields.
	 */
    #page-metadata .page-metadata-fields {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: calc((16/18) * var(--GW-body-text-font-size));
        line-height: calc(25/16);
    }
    /* line breaks in two places */
    #page-metadata .page-metadata-fields::before,
    #page-metadata .page-metadata-fields::after {
        content: "";
        width: 100%;
        height: calc(1em * (3/18));
    }
    /* break between date/status and certainty/importance */
    #page-metadata .page-metadata-fields::before {
        order: 2;
    }
    /* break between certainty/importance and backlinks/similar/bibliography */
    #page-metadata .page-metadata-fields::after {
        order: 4;
    }
    /*	No separator at line end.
     */
	#page-metadata .page-metadata-fields .page-author::after,
    #page-metadata .page-metadata-fields .page-status::after {
        display: none;
    }
	/*	Author (on its own line).
	 */
	#page-metadata .page-metadata-fields .page-author {
		flex: 1 1 100%;
		text-align: center;
	}
	#page-metadata .page-metadata-fields .page-author::after {
		content: "";
		display: block;
		height: calc(1em * (3/18));
	}
}


/*********************/
/* TABLE OF CONTENTS */
/*********************/

.TOC:empty {
    display: none;
}

.TOC.hidden {
	display: none;
}

.TOC {
	--text-indent: 0em;
	--text-alignment: left;
	--text-hyphenation: none;

    border: 1px solid var(--GW-TOC-border-color);
    background-color: var(--GW-TOC-background-color);
    font-family: var(--GW-sans-serif-font-stack);
    line-height: 1.25;
}

/*************************/
/*	TOC for main document.
 */

#TOC {
    padding: 0.625em 0.75em 0.75em 0.75em;
    position: relative;
    z-index: 20;
}
@media all and (min-width: 901px) {
	/*	On desktop, we want the TOC side by side with the content.
	 */
    #TOC {
		margin: 0 2.25rem 1rem 0;
        float: left;
        max-width: 285px;
		box-shadow:
			-1rem 0 0 0 var(--background-color),
			2.25rem 0 0 0 var(--background-color);
    }
}
@media all and (max-width: 900px) {
	/*  On mobile, we want the TOC to be inline.
	 */
    #TOC {
        margin: 3rem auto 0 auto;
    }
}

/*********************************/
/*	TOCs on directory index pages.
 */

body[class*='-index'] #TOC {
	margin-top: 2.5rem;
}
@media all and (min-width: 650px) {
    body[class*='-index'] #TOC {
        float: unset;
        max-width: unset;
        margin-right: unset;
    }
}

/*	TOCs with nothing but links (no “Miscellaneous”, no link bibliography).
	(This happens on some directory index pages.)
 */

body[class*='-index'] #TOC.TOC-links-only {
    padding-top: 2.5em;
}

body[class*='-index'] #TOC.TOC-links-only::before {
    content: "Contents";
    position: absolute;
    font-size: 1.125em;
    font-weight: bold;
    top: 0.5em;
    left: 0.75em;
}
@media all and (max-width: 900px) {
    body[class*='-index'] #TOC.TOC-links-only::before {
        left: 0.5em;
    }
}

body[class*='-index'] #TOC.TOC-links-only li {
    font-weight: normal;
    font-size: 0.9em;
}

/******************/
/*  TOC collapsing.
 */

#TOC.collapsed {
    height: 2em;
    padding-top: 0;
    padding-bottom: 0;
}
@media all and (max-width: 900px) {
	#TOC.collapsed {
		margin-top: 2rem;
		background-image: none;
	}
}

#TOC.collapsed + * {
    clear: both;
}

#TOC.collapsed > ul {
    max-height: 0;
    overflow: hidden;
}

/*	Collapsed TOC label.
 */

#TOC.collapsed::before {
    content: "[Contents]";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 0 0 0.5em;
    display: flex;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    font-size: 1.125em;
    font-weight: bold;
    opacity: 0.5;
}
@media all and (hover: hover) {
    #TOC.collapsed:hover::before {
        opacity: 1.0;
    }
}
@media all and (max-width: 900px) {
    #TOC.collapsed::before {
        padding: 0 0.5em;
        right: 0;
        margin: auto;
        justify-content: center;
    }
}

/*	TOC collapse toggle button.
 */

#TOC .toc-collapse-toggle-button {
    appearance: none;
    border: none;
    background-color: var(--GW-TOC-collapse-button-color);
    position: absolute;
    height: calc(2em - 2px);
    padding: 0.3em 0.4em;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    color: var(--GW-TOC-collapse-button-text-color);
    font-family: var(--GW-sans-serif-font-stack);
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    z-index: 1;
    cursor: pointer;
}
#TOC.collapsed .toc-collapse-toggle-button {
    width: 100%;
    height: 100%;
}

#TOC .toc-collapse-toggle-button span {
    display: flex;
    width: calc(1.4em - 2px);
    height: 100%;
    justify-content: center;
    align-items: center;
}

#TOC .toc-collapse-toggle-button svg {
    width: 100%;
    height: 100%;
    transform: rotate(-0.25turn);
    transition:
        transform 0.1s ease;
}
#TOC.collapsed .toc-collapse-toggle-button svg {
    transform: rotate(0);
}

@media all and (hover: hover) {
    #TOC .toc-collapse-toggle-button:hover {
        color: var(--GW-TOC-collapse-button-text-hover-color);
        background-color: var(--GW-TOC-collapse-button-hover-color);
        outline: 1px dotted var(--GW-TOC-collapse-button-border-hover-color);
    }
}

@media all and (max-width: 649px) {
	/*	In expanded state, place button above.
	 */
    #TOC:not(.collapsed) .toc-collapse-toggle-button {
        top: -1.75em;
        right: unset;
        left: -1px;
        justify-content: center;
        border: inherit;
        background-color: inherit;
        margin: auto;
        width: 2em;
        height: 1.75em;
        padding: 3px;
        box-sizing: border-box;
        opacity: 1.0;
    }
    /*  Extended tap area.
     */
    #TOC:not(.collapsed) .toc-collapse-toggle-button::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}

/*=-----------------=*/
/*= TOC list layout =*/
/*=-----------------=*/

.TOC ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 900px) {
	/*	Divider line between the columns.
	 */
    #TOC {
        background-image:
            linear-gradient(var(--GW-TOC-border-color),
                            var(--GW-TOC-border-color));
        background-repeat: no-repeat;
        background-size: 1px 100%;
        background-position: 50% 0;
    }

	/*	Two-column layout.
	 */
    #TOC > ul {
        column-count: 2;
        column-gap: 1.25em;
    }
	#TOC ul > li:first-child {
		break-before: avoid-column;
	}

	/*	But not on directory index pages.
	 */
    body[class*='-index'] #TOC {
        background-image: none;
    }
    body[class*='-index'] #TOC > ul {
        column-count: 1;
    }
}

.TOC ul ul {
    margin: 0;
    padding-left: 0.7em;
    padding-top: 0.35em;
}

.TOC ul > li {
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding-left: 1.125em;
    position: relative;
    overflow-wrap: break-word;
}
.TOC ul > li:last-child {
    margin-bottom: 0;
}

@media all and (max-width: 900px) {
	/*	No numbers on mobile.
	 */
    #TOC ul > li {
        padding-left: 0;
    }
    #TOC ul > li::before {
        content: none;
    }
}

.TOC ul > li li {
    font-weight: normal;
    font-size: 0.9em;
}

@media all and (max-width: 649px) {
    #TOC ul > li li a {
        padding: 1px 0 0 0;
    }
    #TOC ul > li li li a {
        padding: 2px 0 0 0;
    }
    #TOC ul > li li li li a {
        padding: 3px 0 0 0;
    }
    #TOC ul > li li li li a {
        padding: 4px 0 0 0;
    }
}

/*=------------------=*/
/*= TOC link styling =*/
/*=------------------=*/

.TOC a {
    border: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 0.25rem 0 0;
}
@media all and (hover: hover) {
	.TOC a:hover,
	.markdownBody .TOC a:hover {
		background-color: var(--GW-TOC-link-hover-background-color);
		color: var(--GW-TOC-link-hover-color);
	}
	.TOC a:hover::after,
	.markdownBody .TOC a:hover::after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 100%;
		top: 0;
		background-color: var(--GW-TOC-link-hover-indicator-bar-color);
		width: 0.25em;
		height: 100%;
	}
}
@media all and (hover: none) {
	.TOC a {
		position: relative;
	}
	.TOC a::before {
		content: "";
		position: absolute;
		left: -0.50em;
		top: -0.25em;
		width: calc(100% + 0.75em);
		height: calc(100% + 0.50em);
	}
}

/*	Inline code in TOC links.
 */
.TOC code {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0;
    background-color: inherit;
}

/*=-------------------------------=*/
/*= Wikipedia-style TOC numbering =*/
/*=-------------------------------=*/

.TOC > ul {
    counter-reset: htoc_1;
}
.TOC > ul > li::before {
    counter-increment: htoc_1;
    content: counter(htoc_1) "\2006  ";
}
.TOC > ul ul {
    counter-reset: htoc_2;
}
.TOC > ul ul > li::before {
    counter-increment: htoc_2;
    content: counter(htoc_1) "." counter(htoc_2) "\2006  ";
}
.TOC > ul ul ul {
    counter-reset: htoc_3;
}
.TOC > ul ul ul > li::before {
    counter-increment: htoc_3;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "\2006  ";
}
.TOC > ul ul ul ul {
    counter-reset: htoc_4;
}
.TOC > ul ul ul ul li::before {
    counter-increment: htoc_4;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "\2006  ";
}
.TOC > ul ul ul ul ul {
    counter-reset: htoc_5;
}
.TOC > ul ul ul ul ul > li::before {
    counter-increment: htoc_5;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "\2006  ";
}
.TOC > ul ul ul ul ul ul {
    counter-reset: htoc_6;
}
.TOC > ul ul ul ul ul ul > li::before {
    counter-increment: htoc_6;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "." counter(htoc_6) "\2006  ";
}
.TOC ul > li::before {
    position: absolute;
    right: calc(100% - 1em);
    left: unset;
    width: 111px;
    height: initial;
    padding: 0;
    text-align: right;
	font-weight: normal;
	font-variant-numeric: tabular-nums;
    pointer-events: none;
    color: var(--GW-TOC-number-color);
}
.TOC ul > li:hover::before {
    color: var(--GW-TOC-number-hover-color);
}


/****************/
/* MAIN CONTENT */
/****************/

.markdownBody {
	--base-block-spacing: 0.25em;

    /*  Try to avoid scrollbars on paragraphs: prevents long unbroken
        un-hyphenatable lines from causing H-scrolling.
     */
    overflow-wrap: break-word;

	/*  Cute ‘old-style’ numerals, look a little nicer inline in text, and
		available natively in the SS fonts:

		https://practicaltypography.com/alternate-figures.html#oldstyle-figures
	 */
    font-variant-numeric: oldstyle-nums;

	line-height: var(--line-height);
}

/*  Replaces A/B-test-set average value; the wider the screen, the more
	line-height is necessary, and no one size suits all, so set 4 brackets
	of increasing height.
 */
@media all and (max-width: 649px) {
    .markdownBody {
        --line-height: 1.45;
    }
}
@media all and (max-width: 999px) {
	.markdownBody {
		--line-height: 1.50;
	}
}
@media all and (max-width: 1199px) {
	.markdownBody {
		--line-height: 1.55;
	}
}
@media all and (min-width: 1200px) {
	.markdownBody {
		--line-height: 1.60;
	}
}

/*	`bsm` = “block spacing multiplier”
 */
.markdownBody .block {
	margin-top: calc(var(--base-block-spacing) * var(--bsm));
}


/************/
/* SECTIONS */
/************/

/*	Collapsed sections should not intersect the TOC.
 */
section.collapse.expanded-not {
	display: flow-root;
}

/*  Lazy-load below-fold sections in supported browsers.
    Disabled temporarily pending layout redesign to compensate for layout
    containment. —Obormot 2021-03-21
    */
/*
section.level1:nth-of-type(n+4) {
    content-visibility: auto;
    contain-intrinsic-size: 200vh;
}
 */

/************/
/*	Headings.
 */

.heading {
    margin: 0;
    position: relative;
    line-height: 1;
}
@media all and (min-width: 1180px) {
    .heading {
		margin-left: calc(-1 * var(--base-font-size));
	}
}

/*	H1.
 */

section.level1 > .heading {
    text-align: right;
    font-weight: 600;
	font-variant-caps: small-caps;
    letter-spacing: -0.75px;
    padding: 0 0.05em 0.025em calc(1.25 * var(--base-font-size));
    border-bottom: 1px solid var(--GW-H1-border-color);
}
@media all and (max-width: 1179px) {
	section.level1 > .heading {
		font-size: 1.75em;
	}
}
@media all and (min-width: 1180px) {
    section.level1 > .heading {
        font-size: 2em;
    }
}

section.level1 > .heading em {
	font-variant-caps: normal;
}
section.level1 > .heading em:last-child {
    padding-right: 0.075em;
}

/*	H2.
 */
section.level2 > .heading {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 calc(0.75 * var(--base-font-size)) 0.05em 0;
    border-bottom: 1px dotted var(--GW-H2-border-color);
}

/*	H3.
 */
section.level3 > .heading {
    text-transform: capitalize;
    font-size: 1.35em;
    font-weight: bold;
}

/*	H4.
 */
section.level4 > .heading {
    text-transform: capitalize;
    font-size: 1.2em;
}

/*	H5.
 */
section.level5 > .heading {
    text-transform: capitalize;
    font-size: 1.1em;
}

/*	H6.
 */
section.level6 > .heading {
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

/*=---------------------------=*/
/*= Misc. styling in headings =*/
/*=---------------------------=*/

/*	No link underlining in headings.
 */
.markdownBody .heading a {
    background: none;
}

/*	Disable bold within headings.
 */
.heading strong {
	font-weight: inherit;
}

/*	Inline code in headings.
 */
.heading code {
    border: none;
    padding: 0;
    background-color: inherit;
    font-size: inherit;
    font-weight: bold;
    font-variant-caps: normal;
}

/*=------------=*/
/*= /doc/index =*/
/*=------------=*/

body[class*='-index'] section#see-also > .heading a {
    display: none;
}


/**************/
/* PARAGRAPHS */
/**************/

p {
	margin: 0;
}

p.empty-graf {
	height: 0 !important;
	margin: 0 !important;
	visibility: hidden;
}

/*  On wide screens (desktop), use fully-justified text (words get
    broken/hyphenated as necessary to avoid a ‘ragged margin’), overriding
    browser default of ‘flush left, ragged right’ (see
    https://en.wikipedia.org/wiki/Typographic_alignment#Flush_left )

    On mobile/narrow screens, that doesn’t work as well: because browsers do
    greedy layout, justification forces ‘s t r e t c h e d out’ words
    and large spaces, leading to blatant
    https://en.wikipedia.org/wiki/River_(typography) , getting worse the
    narrower the screen (eg. in lists). On wide screens, it isn’t too bad, and
    justification is still better than not, but on mobile it is extremely
    noticeable. Switching to flush left ragged right doesn’t look as nicely
    ‘even’, but it avoids that pathological behavior. (More advanced
    typesetting algorithms like Knuth-Plass
    https://en.wikipedia.org/wiki/Line_wrap_and_word_wrap#Minimum_raggedness
    can handle mobile widths nicely, but no contemporary browser implements
    them natively, and all JS implementations I’ve looked at are buggy.)

    However, do hyphenate at all widths.
*/

.markdownBody p {
    -webkit-hyphens: var(--text-hyphenation);
    hyphens: var(--text-hyphenation);
	text-align: var(--text-alignment);
}

.markdownBody p:not(.first-graf) {
	text-indent: var(--text-indent);
}

/*	Prevent inheritance of indentation property.
 */
.markdownBody p * {
	text-indent: 0em;
}

/*	Specify indentation, alignment, hyphenation.
 */
.markdownBody {
	--text-indent: 1.75em;
    --text-alignment: justify;
    --text-hyphenation: auto;
}
/*	Justification only matters for the wide.
 */
@media all and (max-width: 649px) {
	.markdownBody {
		--text-alignment: left;
	}
}
/*	Larger indentation in main content column on non-phones.
 */
@media all and (min-width: 650px) {
	#markdownBody {
		--text-indent: 2.5em;
	}
}

/**************/
/*	Exceptions.
 */

/*  EPITAPH (eg /LARPing)
 */
.markdownBody p.text-center {
    text-align: center;
    text-indent: 0;
}


/***************/
/* BLOCKQUOTES */
/***************/

blockquote {
	--blockquote-vertical-padding: 0.9em;
	--blockquote-horizontal-padding: 1.25em;
	--blockquote-font-size-scaling-factor: 0.95;

    display: flow-root;
    margin: 0;
    overflow: visible;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: var(--blockquote-vertical-padding) var(--blockquote-horizontal-padding);
}
@media all and (max-width: 649px) {
    blockquote {
		--blockquote-vertical-padding: 0.7em;
		--blockquote-horizontal-padding: 1em;
    }
}

blockquote > * {
	font-size: calc(var(--blockquote-font-size-scaling-factor) * 1em);
	line-height: calc((var(--line-height) - 0.05) / var(--blockquote-font-size-scaling-factor));
}

/*  Three-level of blockquote emphasis (darkening).
 */
blockquote,
.blockquote-level-1,
.blockquote-level-4 {
    --background-color: var(--GW-blockquote-background-color-level-one);
}
.blockquote-level-2,
.blockquote-level-5 {
    --background-color: var(--GW-blockquote-background-color-level-two);
}
.blockquote-level-3,
.blockquote-level-6 {
    --background-color: var(--GW-blockquote-background-color-level-three);
}

/*	Borders must follow a different cycle.
 */
blockquote,
.blockquote-level-1 {
	--border-color: var(--GW-blockquote-border-color-level-one);
}
.blockquote-level-2,
.blockquote-level-5 {
	--border-color: var(--GW-blockquote-border-color-level-two);
}
.blockquote-level-3,
.blockquote-level-6 {
	--border-color: var(--GW-blockquote-border-color-level-three);
}
.blockquote-level-4 {
	--border-color: var(--GW-blockquote-border-color-level-four);
}

/*	Headings in blockquotes.
 */
@media all and (min-width: 1180px) {
    blockquote .heading {
		margin-left: 0;
	}
}


/*********/
/* LISTS */
/*********/

.list {
	--text-alignment: left;
    --list-left-padding: 2.5em;

	margin: 0;
    padding: 0;
    list-style-type: none;
}
@media all and (max-width: 649px) {
    .list {
        --list-left-padding: 1.75em;
    }
}
@media all and (min-width: 650px) {
	.list.big-list {
		--text-alignment: justify;
	}
}

li {
    position: relative;
    display: flow-root;
    padding: 0 0 0 var(--list-left-padding);
}

/*=-----------------------=*/
/*= Bulleted list markers =*/
/*=-----------------------=*/

ul > li::before {
	content: var(--list-bullet);
    position: absolute;
    z-index: 1;
    display: block;
	left: calc(var(--list-left-padding) - 1.375em);
	top: 0;
    width: 0.75em;
    height: 1.25em;
    padding: 1px 0 0 0;
    opacity: var(--list-bullet-opacity);
}

ul,
ul.list-level-1 {
	--list-bullet: var(--GW-image-single-black-star-svg);
	--list-bullet-opacity: 0.65;
}
ul.list-level-2 {
    --list-bullet: var(--GW-image-single-white-star-svg);
    --list-bullet-opacity: 0.85;
}
ul.list-level-3 {
    /*	This rotates into more of a ‘lozenge’ square for variety’s sake.
     */
    --list-bullet: var(--GW-image-single-white-star-rotated-svg);
    --list-bullet-opacity: 0.85;
}

/*=-----------------------=*/
/*= Numbered list markers =*/
/*=-----------------------=*/

/*	This may not be necessary. It definitely causes the `start` HTML list
	property to not work correctly, so if indeed it’s unnecessary otherwise, it
	should be removed. Commenting it out for now until we can confirm that no
	bugs are caused by its absence.
		—SA 2023-07-24
/*
ol {
    counter-reset: list-item;
}
 */

ol > li {
    counter-increment: list-item;
}

ol > li::before {
    position: absolute;
    z-index: 15;
    display: block;
	left: 0;
	top: 0;
    width: calc(var(--list-left-padding) - 0.375em);
    text-align: right;
}

/*  Specific list type overrides. (Used by auto-sequencing, but can also be
	invoked manually from the source.)

	Manual invocation assumes writing plain `<ol>` HTML lists instead of Arabic
	numerals like `<ol type="1">`. Pandoc Markdown defaults to the latter if you
	write '1./2.' etc, but an alternate syntax, '#.' is supported which yields a
	plain `<ol>` which can be more easily styled.
	(See https://pandoc.org/MANUAL.html#extension-startnum .)
*/
ol > li::before,
ol.list-type-decimal > li::before {
    content: counter(list-item, decimal) ".";
}
ol.list-type-lower-alpha > li::before {
    content: counter(list-item, lower-alpha) ".";
}
ol.list-type-upper-alpha > li::before {
    content: counter(list-item, upper-alpha) ".";
}
ol.list-type-lower-roman > li::before {
    content: counter(list-item, lower-roman) ".";
}
ol.list-type-upper-roman > li::before {
    content: counter(list-item, upper-roman) ".";
}

/*=---------------------------------------------=*/
/*= “Recently modified” black star list markers =*/
/*=---------------------------------------------=*/

.link-modified-recently-list-item {
	--list-bullet: var(--GW-image-single-white-star-on-black-circle-svg);
}
.link-modified-recently-list-item::before {
	opacity: 0.7;
}


/**********/
/* FLOATS */
/**********/
/*	Floating figures (mostly for amusing asides/memes), floating small tables,
	code blocks, blockquotes, etc.
 */

@media all and (min-width: 650px) {
	.markdownBody {
		--float-side-margin: 2em;
	}
	.markdownBody blockquote {
		--float-side-margin: 1.5em;
	}

	div.float,
	figure.float {
        max-width: calc(50% - var(--float-side-margin));
        margin-bottom: calc(var(--float-side-margin) * 0.5);
        position: relative;
        z-index: 1;
	}
	div.float-right,
    figure.float-right {
        float: right;
        margin-right: 0;
        margin-left: var(--float-side-margin);
    }
    div.float-left,
    figure.float-left {
        float: left;
        margin-left: 0;
        margin-right: var(--float-side-margin);
    }
}


/***********/
/* FIGURES */
/***********/

figure {
    display: flow-root;
    margin: 0 auto;
}
@media all and (min-width: 650px) {
    figure {
        max-width: calc(100% - 5em);
    }
}

@media all and (min-width: 650px) {
	/*	Reduce reflow.
	 */
	img.float-right,
	img.float-left {
		max-width: calc(50% - var(--float-side-margin));
	}
}

/*******************/
/*	Figure contents.
 */

.figure-inner-wrapper {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: fit-content;
    max-width: 100%;
}

figure img,
figure video,
figure svg {
    display: block;
    max-height: calc(100vh - 8rem);
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;

    /*  This is to prevent overflow of image alt-text in Chrome.
     */
    overflow: hidden;
}

figure img {
    background-color: var(--background-color);
}

figure img,
figure video {
    outline: 1px solid var(--GW-figure-outline-color);
}

figure.outline-not img,
figure.outline-not video {
    outline: none;
}

figure audio {
    display: block;
    margin: 0 auto;
    height: 54px;
    border-radius: 27px;
    position: relative;
    z-index: 1;
    top: 1px;
    box-sizing: border-box;
    border: 1px solid transparent;
}
/*  Special styles for special browsers.
    */
@supports (-moz-appearance: none) {
    figure audio {
        height: 42px;
        border-radius: 21px;
    }
}
figure audio:hover {
    border-color: var(--GW-figure-outline-color);
    box-shadow:
        0 0 4px 0 var(--GW-figure-outline-color) inset,
        0 0 4px 0 var(--GW-figure-outline-color);
}

/*******************/
/*  Figure captions.
    */

figcaption {
    font-size: 0.9em;
    line-height: 1.50;
    margin: auto;
    padding: 0.25em 0.5em calc(0.25em + 1px) 0.5em;
    width: fit-content;
	background-color: var(--background-color);
}
@media all and (max-width: 649px) {
    figcaption {
        font-size: 0.875em;
    }
}

.markdownBody figcaption {
    --text-alignment: left;
}

figcaption p:first-of-type {
	font-weight: bold;
}

figcaption strong {
    font-weight: inherit;
    font-variant-caps: small-caps;
}

.caption-wrapper {
    display: block;
    outline: 1px solid var(--GW-figure-caption-outline-color);
    margin: 1px auto 0 auto;
    width: 100%;
}

figure.outline-not .caption-wrapper {
    outline: none;
}

/***********************************************************************/
/*  Enable the various `![caption](/doc/foo/bar.jpg){.width-full}` uses;
    analogous to width-full tables
 */
figure.width-full {
    position: relative;
    max-width: unset;
    clear: both;
}


/****************/
/* MARGIN NOTES */
/****************/
/* display inline on mobile/narrow windows; on sufficiently-wide screens, pop out as number-less sidenotes */

.marginnote {
    /* bolding turns out to be too obtrusive for users' liking; italicized both inline & popped-out */
    font-style: italic;
    color: var(--GW-body-text-color);
    font-family: var(--GW-serif-font-stack);
}
.marginnote.inline {
    color: inherit;
    font-variant-caps: initial;
}
#markdownBody .marginnote.sidenote {
	--text-hyphenation: none;
	--background-color: transparent;

    display: flex;
    justify-content: right;
    width: calc(50vw - (var(--GW-body-max-width) / 2 + 96px));
    max-width: var(--GW-sidenotes-max-width);
    right: calc(100% + 64px);
    left: unset;

    /*  We inherit left and right padding from .sidenote class. */
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-size: calc(var(--GW-body-text-font-size) * 0.85);
    text-align: left;
    opacity: 0.85;
    z-index: 1;
}
#markdownBody .marginnote.sidenote .marginnote-inner-wrapper {
    display: block;
    width: fit-content;
}

#markdownBody .marginnote.sidenote:hover {
    box-shadow: none;
}
/* make links in margin notes (somewhat unusual but should be supported simply because that's what one would expect) clickable/hover-able */
#markdownBody .marginnote.sidenote::after {
    z-index: -1;
}

/*  Margin notes within admonitions need special layout.
    This is based on the width of the admonition icon area.
    */
#markdownBody .admonition .marginnote.sidenote {
    width: calc(50vw - ((var(--GW-body-max-width) + (2.875em / (0.85/0.875)))/2 + 96px));
    right: calc(var(--GW-body-max-width) + (2.875em / (0.85/0.875)) + 64px);
}

/*******************************************/
/*	Margin note blocks at start of sections.
 */

.markdownBody .margin-notes-block {
	text-align: center;
	hyphens: none;
}

.markdownBody .margin-notes-block.hidden {
	display: none;
}

.markdownBody .margin-notes-block .marginnote:nth-last-child(n+2)::after {
	content: "•";
	margin: 0 0.75em;
	opacity: 0.5;
}


/*********/
/* LINKS */
/*********/

a {
    text-decoration: none;
    color: var(--GW-body-link-color); /* off-black */
}
/*  Slightly gray out links the reader has already visited, so they know if
    they’ve seen that content before. (A critical affordance in densely
    hyperlinked longform.)
 */
.markdownBody a:hover {
    color: var(--GW-body-link-hover-color);
}
.markdownBody a:visited {
	color: var(--GW-body-link-visited-color);
}
.markdownBody a:visited:hover {
    color: var(--GW-body-link-hover-color);
}

/*=------------------------=*/
/*= Fancy link underlining =*/
/*=------------------------=*/

/*  Tufte CSS for underlining (https://github.com/edwardtufte/tufte-css)
    The advantage of all this CSS linenoise compared to the previous 'text-decoration: none; border-bottom: 1px Solid grey;' solution from http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/
    is the 'skip-ink': when dealing with characters with 'descenders', like 'y', 'g', 'p', 'q' etc, with regular underlining the bottom stroke overlaps with the line and it's harder to read;
    by adding this text-shadow stuff and backgrounding, a little break is made in the underline to add contrast and keep the descender fully visible and outlined. (The downside is that the overlapping text-shadows can also slightly damage the rendering of slashes & parentheses, which come too close and get partially erased.)

    Unfortunately, we don't want to add underlines to links in the TOC because it clutters it (all the lines are links and are in small font), so we have to avoid styling the TOC, which is difficult.
    I got around this by adding in the Hakyll template an additional <div> just for the body of the Markdown content, excluding the TOC, and changing the Tufte CSS to target *that* instead.

May be able at some point to simplify this using regular link underlining, since CSS4's `text-decoration-skip-ink` by default avoids overlapping with text descenders (but as of Oct 2019, no Edge/IE or Safari support, and only the latest Firefox 70 supports it; maybe in a few years...): https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink#Browser_Compatibility https://www.caniuse.com/#feat=mdn-css_properties_text-decoration-skip-ink (Right now, Firefox skip-ink looks quite bad: it doesn't skip enough ink, defeating the point, and also positions the underline badly!)
*/

/*	Color-inverted containers.
 */
.markdownBody .colors-invert a {
    color: var(--GW-body-link-inverted-color);
}
.markdownBody .colors-invert a:hover {
    color: var(--GW-body-link-inverted-hover-color);
}
.markdownBody .colors-invert a:visited {
	color: var(--GW-body-link-inverted-visited-color);
}
.markdownBody .colors-invert a:visited:hover {
    color: var(--GW-body-link-inverted-hover-color);
}

.markdownBody a {
	--link-underline-background-color: var(--background-color);
	--link-underline-gradient-line-color: currentColor;

    background-image: linear-gradient(var(--link-underline-gradient-line-color),
    								  var(--link-underline-gradient-line-color));
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% calc(100% - 0.1em);

    /*  Disable oldstyle nums in underlined links because the oldstyle nums are almost subscript-like and overlap */
    font-variant-numeric: lining-nums;
}
.markdownBody a,
.markdownBody a * {
    text-shadow:
         0      0.05em  var(--link-underline-background-color),
         0.05em 0.05em  var(--link-underline-background-color),
        -0.05em 0.05em  var(--link-underline-background-color),
         0.17em 0.05em  var(--link-underline-background-color),
        -0.17em 0.05em  var(--link-underline-background-color),
         0.17em 0       var(--link-underline-background-color),
        -0.17em 0       var(--link-underline-background-color);
}

/*	Links with decoration disabled.
 */
.markdownBody a.decorate-not,
.markdownBody a.decorate-not * {
    background-image: none;
    text-shadow: none;
}

/* eliminate the blurring of headers and links when selecting by overriding the text-shadow: */
::selection {
    text-shadow: none;
    background: var(--GW-text-selection-background-color);
    color: var(--GW-text-selection-color);
}

/*  Prevent code block background color and border from obscuring link
    underlining, for inline <code> elements in links.
 */
a code {
    border-bottom-width: 0;
    word-break: normal;
    background-color: transparent;
}

/*  Reduce text-shadow overlap partially erasing letters next to smallcaps:
    eg. in `<a href="https://www.microcovid.org/">"microCOVID project"</a>`,
    the ‘o’ in ‘micro’ will be partially erased and look like a ‘c’ without
    some sort of extra spacing.
 */
.markdownBody a .smallcaps {
    margin-left: 0.8px;
}

/*  Like above, but for subscripts and superscripts.
 */
.markdownBody a sub,
.markdownBody a sup {
    padding: 0 0.05em;
}

/*  Prevent text-shadow of italics in links from creating visual glitches
    (also fixes occasional link icon overlaps, eg. a WP link to ‘MGS:V’ where
    the right-tilted ‘V’ would touch the WP ‘W’ link icon).
 */
.markdownBody em {
    margin-right: 0.1em;

	/*	Source Serif Pro has no italic small caps.
	 */
    font-variant-caps: normal;
}

/*	Recently-modified link icons.
 */
.has-recently-modified-icon .recently-modified-icon-hook,
.icon-single-white-star-on-black-circle {
	padding-left: 0.9em;
	position: relative;
	background-color: var(--link-underline-background-color);
}
.has-recently-modified-icon .recently-modified-icon-hook::before,
.icon-single-white-star-on-black-circle::before {
	content: "";
	background-image: var(--GW-image-single-white-star-on-black-circle-svg);
	background-size: 0.65em 100%;
	background-repeat: no-repeat;
	background-position: center left;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.icon-single-white-star-on-black-circle::before {
	background-position: center;
}


/*************/
/* SIDENOTES */
/*************/

/*  Hide sidenote columns on narrow viewports.
    */
@media all and (max-width: 1760px) {
    #sidenote-column-left,
    #sidenote-column-right {
        display: none;
    }
}

/*  Breakpoint for sidenotes.
 */
@media all and (min-width: 1761px) {
    #markdownBody {
        position: relative;
    }
}

/*=--------------=*/
/*= Margin notes =*/
/*=--------------=*/

/*  On wide viewports, hide the margin notes until it is determined which layout
	form it should take (‘sidenote’ or ‘inline’).
 */
@media all and (min-width: 1761px) {
    .marginnote:not(.inline):not(.sidenote) {
        display: none;
    }
}


/*****************/
/* ACCESSIBILITY */
/*****************/
/* Provide a link which skips straight to the content bypassing the sidebar &
   metadata block; this link is positioned off-screen until <Tab>-navigated to,
   which focuses it, highlighting it in a big red block in the upper-left corner.
   Implementation & rationale from https://webaim.org/techniques/skipnav/
   Further background: https://www.w3.org/TR/WCAG20-TECHS/G1.html
 */
#skip-to-content-link  {
    padding: 0.3em 0.75em 0.4em 0.65em;
    position: absolute;
    top: -2.375em;
    left: 0;
    font-family: var(--GW-sans-serif-font-stack);
    color: var(--GW-skip-to-content-text-color);
    background-color: var(--GW-skip-to-content-background-color);
    border-color: var(--GW-skip-to-content-border-color);
    border-style: double;
    border-width: 0 3px 3px 0;
    outline: none;
    z-index: 10001;
    transition:
        top 1s ease-out;
}
#skip-to-content-link:focus {
    top: 0;
    transition:
        top 0.1s ease-in;
}


/***********/
/* CONSOLE */
/***********/

#console.hidden {
    bottom: calc(-1 * var(--GW-console-view-height));
    opacity: 0;
}


/*******************************/
/* PAGE-SPECIFIC MODIFICATIONS */
/*******************************/

/*=--------=*/
/*= /index =*/
/*=--------=*/

/*  On the index page, we hide article-related formatting, begging, to make it
    more compact & classy.
 */
body.page-index header,
body.page-index #TOC,
body.page-index #sidebar a.patreon {
    display: none;
}

body.page-index article,
body.page-index #markdownBody {
	margin-top: 0;
}

/***********/
/*	Nav bar.
 */

/*  No index self-link. */
body.page-index #sidebar a.logo {
    pointer-events: none;
}

/*  Special nav link styling on /index. */
@media all and (min-width: 650px) {
    body.page-index #sidebar a {
        color: var(--GW-nav-header-link-hover-color);
    }
    body.page-index #sidebar a:hover {
        color: var(--GW-nav-header-link-color);
    }
}
@media all and (min-width: 1180px) {
    body.page-index #sidebar a.logo {
        opacity: 1.0;
    }
}

/*****************/
/*  Column layout.
 */

/* Suppress bonus section in single/double-column layout */
body.page-index #markdownBody #notable {
    display: none;
}
@media all and (min-width: 961px) {
    body.page-index #markdownBody {
        display: grid;
        grid-row-gap: 0.5em;
    }
    @media all and (max-width: 1040px) {
        body.page-index #markdownBody {
            grid-template-columns: 1fr;
        }
        body.page-index #markdownBody section > ul {
            column-count: 2;
            column-gap: 3em;
        }
        body.page-index #markdownBody section > ul li {
            break-inside: avoid;
        }
    }
    @media all and (min-width: 1041px) {
        body.page-index #markdownBody {
			grid-template-columns: 1fr 1fr;
	        grid-column-gap: 2em;
        }
		body.page-index #markdownBody .abstract,
		body.page-index #markdownBody hr {
			grid-column-start: 1;
			grid-column-end: -1;
		}
    }
	/*  On sufficiently-wide screens, we can get 3 columns in nicely; to preserve
		the initial row being ‘meta’ blocks, we leave #notable visible
		(for a newest/popular/notable triplet)
	 */
	@media all and (min-width: 1761px) {
		body.page-index #markdownBody {
			grid-template-columns: 45ch 45ch 45ch;
			margin-left: -20ch;
		}
		body.page-index #markdownBody #notable {
			display: block;
		}
		body.page-index #markdownBody .abstract {
			max-width: 935px;
			margin-left: 20ch;
		}
		body.page-index #markdownBody hr {
			margin-left: -5ch;
		}
	}
}

/*****************/
/*	Link sections.
 */

/*	Headings.
 */
body.page-index #markdownBody section h1 {
    font-size: 1.5em;
    line-height: 1.125;
    text-align: left;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
    border-bottom: 1px dotted currentColor;
}
/*  No pilcrows.
 */
body.page-index #markdownBody section h1 a::after {
    display: none;
}

/*  Link lists.
 */
/* Index tweak: we start the unordered lists of pages with the second-level list icon (the empty/white star) instead
   of the default first-level list icon (the filled/black star). This is because if we use the normal list markers,
   it looks rather overwhelming due to the sheer number of black stars, distracting from the essay titles and
   wrecking the 'color'. Since there is currently no three-level nesting, we don't need to worry about cycling,
   and just lighten the color of the first/second level markers by overriding them. */
body.page-index #markdownBody section ul {
	--list-left-padding: 1.375em;
	--text-alignment: left;
    --list-bullet: var(--GW-image-single-white-star-svg);
    --list-bullet-opacity: 0.85;
}
body.page-index #markdownBody section ul ul {
    --list-bullet: var(--GW-image-single-white-star-rotated-svg);
    --list-bullet-opacity: 0.85;
}

@media all and (max-width: 649px) {
    body.page-index #markdownBody section ul p {
		margin-bottom: 0.15em;
        line-height: 1.65;
        overflow-wrap: break-word;
    }
	body.page-index #markdownBody section ul li::before {
		top: 0.1em;
	}
}

/**********************************/
/*	Miscellaneous things on /index.
 */

/*	For desktop users, we hide the horizontal rulers on the /index page as they
	are unnecessary given the flowing columns; for mobile users, we’ll separate
	sections by rulers because they only get a single very long column to scroll
	through, which lacks a sense of hierarchy/chunking. However, desktop users
	still get the initial <hr> inserted by sed to divide the two blocks of
	New/Popular/Notable from all-topics sections (which has no class set on it).
 */
@media all and (min-width: 650px) {
/*  Horizontal ruler on the home page.
    */
    body.page-index div[class^='horizontal-rule'] {
        display: none;
    }
}

/*  Back-to-top link on home page.
    */
@media all and (min-width: 1761px) {
    body.page-index #back-to-top {
        left: calc((100% - 1430px - 50px)/2);
    }
}


/*=------------=*/
/*= /doc/index =*/
/*=------------=*/

.doc-index-tag-short {
	display: block;
	font-size: 0.875em;
	padding-left: 1.5em;
	font-family: var(--GW-sans-serif-font-stack);
}

body.page-doc-index #see-alsos > ul > li {
	padding: 0;
}
body.page-doc-index #see-alsos > ul > li::before {
	display: none;
}

body.page-doc-index #see-alsos code {
	background: inherit;
	border: none;
	padding: 0;
}


/*****************************/
/* SOURCE CODE FILE PREVIEWS */
/*****************************/
/*	Syntax-highlighted code files, viewed by themselves (not in a popup).
 */

body.file-preview-source-code {
	max-width: unset;
	padding: 0;
}
body.file-preview-source-code pre {
	max-height: unset;
	border: none;
}
body.file-preview-source-code pre code {
	padding: 1rem;
}
