/*********/
/* FONTS */
/*********/
/* fonts are now loaded from /static/css/fonts.css */

/**********/
/* COLORS */
/**********/
/* colors are now in /static/css/colors.css or dark-mode.css */

/*************/
/* VARIABLES */
/*************/

:root {
    --GW-serif-font-stack: "Source Serif Pro",  "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif;
    --GW-sans-serif-font-stack: "Lucida Sans Unicode", "Source Sans Pro", Helvetica, "Trebuchet MS", sans-serif;
    --GW-monospaced-font-stack: "IBM Plex Mono", "Liberation Mono", Consolas, Courier, monospace;

    --GW-body-text-font-size: 1rem;
}

/***********/
/* GENERAL */
/***********/

html {
    padding: 0;
    margin: 0;
    background-color: var(--GW-body-background-color);
    color: var(--GW-body-text-color);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--GW-serif-font-stack);
}

body {
    max-width: 1120px;

    font-size: var(--GW-body-text-font-size);
}

@media only screen and (max-width: 649px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 650px) {
    body {
        padding: 0 25px 0 10px;
        margin: 0 auto;
    }
    @media only screen and (min-width: 1185px) {
        body {
            padding: 0 60px 0 5px;
        }
    }
    main {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
    }
    /*  Breakpoint for sidenotes.
        */
    @media only screen and (min-width: 1761px) {
        main {
            position: relative;
            right: 40px;
        }
    }
    article {
        flex: 1 1 auto;
    }
    #sidebar {
        position: absolute;
    }
    header,
    article {
        margin-left: 155px;
    }
    @media only screen and (max-width: 1200px) {
        header,
        article {
            margin-left: 145px;
        }
    }
    @media only screen and (max-width: 1120px) {
        header,
        article {
            margin-left: 140px;
        }
    }
    @media only screen and (max-width: 1040px) {
        header,
        article {
            margin-left: 135px;
        }
    }
    @media only screen and (max-width: 960px) {
        header,
        article {
            margin-left: 130px;
        }
    }
}

@media only screen and (max-width: 649px) {
    body {
        margin: 0 15px;
    }
}

svg {
    fill: currentColor;
}

/***********/
/* SIDEBAR */
/***********/

#sidebar a {
    display: block;
}

@media only screen and (min-width: 650px) {
    #sidebar {
        font-variant: small-caps;
        padding: 0 40px 0 10px;
        width: 100px;
    }
    #sidebar a#logo {
        margin: 1em 0 2em 0;
    }
    #sidebar a#logo svg {
        width: 64px;
    }
    #sidebar a.new,
    #sidebar a.patreon {
        border-top: 1px dotted var(--GW-sidebar-horizontal-rule-color);
    }
    #sidebar a.new {
        padding-top: 0.45em;
        margin-top: 0.55em;
    }
    #sidebar a.patreon {
        padding-top: 0.6em;
        margin-top: 0.55em;
        font-size: 0.9em;
        white-space: nowrap;
        line-height: 1.35;
    }
}

@media only screen and (max-width: 649px) {
    #sidebar {
        justify-content: center;
        margin: 1.4em 0 0.5em 0;
    }
    #sidebar a {
        border: 1px dotted var(--GW-sidebar-mobile-link-border-color);
        padding: 4px 10px 3px 10px;
        text-align: center;
        margin: 1px;
    }
    #sidebar a#logo {
        padding: 8px 5px 3px 5px;
    }
    #sidebar,
    #sidebar-links {
        display: flex;
    }
    #sidebar-links {
        flex-flow: row wrap;
        flex: 1 1 100%;
        margin: 0.5em 0 0 0;
    }
    #sidebar a.site,
    #sidebar a.links {
        flex: 1 1 40%;
    }
    #sidebar a.new,
    #sidebar a.mail {
        flex: 1 1 auto;
    }
    #sidebar a.patreon {
        display: none;
    }
    #sidebar #logo {
        margin: calc(0.5em + 1px) 1px 1px 0;
    }
    #sidebar #logo svg {
        width: 2.5rem;
    }
}

/***************/
/* PAGE HEADER */
/***************/

header {
    overflow: auto;
}

header h1 {
    margin: 0.75em 0;
    text-align: center;
    text-transform: none;
    font-variant: small-caps;
    font-size: 2.5em;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -1px;
}

@media only screen and (max-width: 649px) {
    header h1 {
        font-size: 2em;
    }
}

/***********************/
/* PAGE METADATA BLOCK */
/***********************/

@media only screen and (max-width: 649px) {
    #page-metadata {
        text-align: center;
    }
}

#page-metadata hr {
    display: none;
}

#page-metadata {
    margin: 0 0 2rem 0;
    overflow: auto;
    font-size: 0.95em;
    line-height: 1.5;
}
#page-metadata p {
    text-align: left;
}

/* Override normal handling of italics: before, we wrapped descriptions in `<em>`; however, they compile to HTML which can contain italics of their own (eg. book titles). This causes HTML Tidy to warn about nested italics (which is valid HTML but *usually* means you've made an error - this often triggers when I mess up bolding, for example, like on /GPT-3 ). So we removed the wrapper in favor of the above `font-style: italic`. However, now the titles don't unitalicize automatically like they would for nested italics! So we force italicized titles back to normal Roman font to match the expected typographic convention. */
#page-metadata #page-description {
    display: block;
    margin: 0 auto 0.75em auto;
    font-style: italic;
    text-align: justify;
}
#page-metadata #page-description em {
    font-style: normal;
}

#page-metadata #page-description ~ * {
    font-size: 0.9em;
}

#page-metadata #page-description + br {
    display: none;
}

#page-metadata-block span:nth-of-type(n+3) {
    white-space: nowrap;
}

/* interpunct separators for the metadata fields; looks nicer than semicolons or slashes */
#page-metadata-block > span:not(:last-child)::after {
    content: "\00B7"; /* interpunct MIDDLE DOT (U+00B7) '·' */
    display: inline-block;
    margin: 0 0.35em 0 0.65em;
}

#page-tags,
#page-metadata-block {
    hyphens: none;
}

/*=--------=*/
/*= /index =*/
/*=--------=*/

/* on the index page, we hide article-related formatting, begging, comments, to make it more compact & classy */
body.index #sidebar a.patreon,
body.tags #sidebar a.patreon,
body.index #TOC,
body.index #page-metadata,
body.index #comments,
body.index #disqus_thread,
body.index header {
    display: none;
}

/*  No index self-link. */
body.index #sidebar a#logo {
    pointer-events: none;
}

body.index #markdownBody section h1 {
    border-bottom: 1px dotted currentColor;
}

/*  Columns.
 */

/* Suppress bonus section in single/double-column layout */
body.index #markdownBody #notable {
    display: none;
}

@media only screen and (min-width: 961px) {

    body.index #markdownBody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 0.5em;
    }
    body.index #markdownBody .abstract {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    body.index #markdownBody section > ul {
        margin: 0.75em 3em 0 0.25em;
    }
    @media only screen and (max-width: 1040px) {
        body.index #markdownBody {
            grid-template-columns: 1fr;
        }
        body.index #markdownBody section > ul {
            column-count: 2;
            column-gap: 3em;
        }
        body.index #markdownBody section > ul li {
            break-inside: avoid;
        }
    }
}

/* On sufficiently-wide screens, we can get 3 columns in nicely; to preserve the initial row being 'meta' blocks, we leave #notable visible (for a newest/popular/notable triplet) */
@media only screen and (min-width: 2050px) {

    body.index #markdownBody #notable {
        display: block;
    }
    body.index #markdownBody {
        grid-template-columns: 45ch 45ch 45ch;
    }
}

/*  Abstract is not a real abstract, just an introduction, no need for the abstract formatting.
    */
body.index .abstract {
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
}

/*  Add some vertical padding for the introduction.
    */
body.index #markdownBody {
    padding-top: 15px;
}

/*  Headings on the home page.
    */
body.index #markdownBody h1 {
    margin: 1.125em 0 0 0;
}

/*  Lists on the home page.
    */
body.index #markdownBody li,
body.index #markdownBody li p {
    text-align: left;
}
body.index #markdownBody ul,
body.tags #markdownBody ul {
    margin: 1em 3em 0 0;
    padding: 0 0 0 1.375em;
}
body.index #markdownBody li > ul,
body.tags #markdownBody li > ul {
    margin: 0;
}
body.index #markdownBody li,
body.tags #markdownBody li {
    margin-top: 0;
}
body.index #markdownBody ul > li:nth-of-type(n+2) {
    margin: 0;
}


@media only screen and (max-width: 649px) {
    body.index #markdownBody section {
        max-width: 100%;
    }
    body.index #markdownBody ul,
    body.tags #markdownBody ul {
        overflow-wrap: break-word;
        margin-right: 0;
    }
    body.index #markdownBody li,
    body.tags #markdownBody li {
        padding: 1px 0;
        margin: 2px 0 0 0;
    }
    body.index #markdownBody ul > li::before,
    body.tags #markdownBody ul > li::before {
        top: 0.25em;
    }
}

/*********************/
/* TABLE OF CONTENTS */
/*********************/

#TOC {
    border: 1px solid var(--GW-TOC-border-color);
    background-color: var(--GW-TOC-background-color);
    font-family: var(--GW-sans-serif-font-stack);
    margin: 0 2rem 1.5rem 0;
    line-height: 1.25;
    padding: 10px 10px 2px 14px;
    position: relative;
    z-index: 11;
}

#TOC:empty {
    display: none;
}

/*  On mobile, we want the TOC to be inline, but for desktop, we want it side by side with the content.
    */
@media only screen and (max-width: 1280px) {
    #TOC {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 1200px) {
    #TOC {
        font-size: 0.90rem;
    }
}

@media only screen and (max-width: 1120px) {
    #TOC {
        font-size: 0.85rem;
        margin: 0 1.5rem 1.25rem 0;
    }
}

@media only screen and (max-width: 1040px) {
    #TOC {
        font-size: 0.80rem;
        margin: 0 1.25rem 1rem 0;
    }
}

@media only screen and (max-width: 960px) {
    #TOC {
        margin: 0 1rem 1rem 0;
    }
}

@media only screen and (min-width: 900px) {
    #TOC {
        float: left;
        max-width: 285px;
    }
}

@media only screen and (max-width: 900px) {
    #TOC {
        float: none;
        margin: 2em auto;
        font-size: 1rem;
    }
    #TOC > ul > li > ul {
        column-count: 2;
    }
}

@media only screen and (max-width: 649px) {
    #TOC a {
        display: inline-block;
    }
    #TOC > ul > li > ul {
        column-count: 1;
    }
    #TOC li li a {
        padding: 0 0 1px 0;
    }
    #TOC li li li a {
        padding: 0 0 2px 0;
    }
    #TOC li li li li a {
        padding: 0 0 3px 0;
    }
    #TOC li li li li a {
        padding: 0 0 4px 0;
    }
}

/*=-----------------=*/
/*= TOC list layout =*/
/*=-----------------=*/

#TOC ul {
    list-style-type: none;
    padding-left: 0em;
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 1.4em;
    text-indent: 0;
    padding: 0;
    overflow: unset;
}

#TOC ul ul {
    list-style-type: none;
    padding-left: 0.7em;
    margin-top: 2px;
}

#TOC li {
    font-weight: bold;
    margin: 5px 0 10px 0;
    padding-left: 1.125em;
    position: relative;
    overflow-wrap: break-word;
}

#TOC li li {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.9em;
}

#TOC p {
    margin-top: 9px;
    margin-bottom: 3px;
}

/*=------------------=*/
/*= TOC link styling =*/
/*=------------------=*/

#TOC a {
    border: 0;
    display: block;
    position: relative;
    padding: 0 0.25rem 0 0;
}

#TOC a:hover {
    background-color: var(--GW-TOC-link-hover-background-color);
    color: var(--GW-TOC-link-hover-color);
}
#TOC a:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--GW-TOC-link-hover-indicator-bar-color);
    width: 0.25em;
    height: 100%;
}

/*=--------------------------=*/
/*= Inline code in TOC links =*/
/*=--------------------------=*/

#TOC code {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0;
    background-color: inherit;
}

/*=-------------------------------=*/
/*= Wikipedia-style TOC numbering =*/
/*=-------------------------------=*/

#TOC > ul {
    counter-reset: htoc_1;
}
#TOC > ul > li::before {
    counter-increment: htoc_1;
    content: counter(htoc_1) "\2006  ";
}
#TOC > ul ul {
    counter-reset: htoc_2;
}
#TOC > ul ul li::before {
    counter-increment: htoc_2;
    content: counter(htoc_1) "." counter(htoc_2) "\2006  ";
}
#TOC > ul ul ul {
    counter-reset: htoc_3;
}
#TOC > ul ul ul li::before {
    counter-increment: htoc_3;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "\2006  ";
}
#TOC > ul ul ul ul {
    counter-reset: htoc_4;
}
#TOC > ul ul ul ul li::before {
    counter-increment: htoc_4;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "\2006  ";
}
#TOC > ul ul ul ul ul {
    counter-reset: htoc_5;
}
#TOC > ul ul ul ul ul li::before {
    counter-increment: htoc_5;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "\2006  ";
}
#TOC > ul ul ul ul ul ul {
    counter-reset: htoc_6;
}
#TOC > ul ul ul ul ul ul li::before {
    counter-increment: htoc_6;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "." counter(htoc_6) "\2006  ";
}
#TOC ul li::before {
    position: absolute;
    right: calc(100% - 1em);
    left: unset;
    width: 111px;
    text-align: right;
    font-weight: normal;
    pointer-events: none;
    color: var(--GW-TOC-number-color);
}
#TOC ul li:hover::before {
    color: var(--GW-TOC-number-hover-color);
}

/* The table of contents is a *table*, so align */
#TOC {
    font-variant-numeric: tabular-nums;
}

/****************/
/* MAIN CONTENT */
/****************/

.markdownBody {
    /*  Try to avoid scrollbars on paragraphs: prevents long unbroken
        un-hyphenatable lines from causing H-scrolling
        */
    overflow-wrap: break-word;
}

/*  Breakpoint for sidenotes.
    */
@media only screen and (min-width: 1761px) {
    #markdownBody {
        position: relative;
    }
}

@media only screen and (min-width: 650px) {
    @media only screen and (max-width: 1000px) {
    /*  Replaces A/B-test-set average value; the wider the screen, the more
        line-height is necessary, and no one size suits all, so set 3 brackets
        of increasing height.
        */
        .markdownBody {
            line-height: 1.50;
        }
    }
    @media only screen and (min-width: 1001px) and (max-width: 1200px) {
        .markdownBody {
            line-height: 1.55;
        }
    }
    @media only screen and (min-width: 1201px) {
        .markdownBody {
            line-height: 1.60;
        }
    }
}

/*  On wide screens (desktop), use fully-justified text (words get broken/hyphenated as necessary to avoid a
    'ragged margin'), overriding browser default of 'flush left, ragged' right (see
    https://en.wikipedia.org/wiki/Typographic_alignment#Flush_left )

    On mobile/narrow screens, that doesn't work as well: because browsers do greedy layout, justification forces 's t r e t c h e d out' words
    and large spaces, leading to blatant https://en.wikipedia.org/wiki/River_(typography) , getting worse the narrower the screen (eg. in lists).
    On wide screens, it isn't too bad, and justification is still better than not, but on mobile it is extremely noticeable.
    Switching to flush left ragged right doesn't look as nicely 'even', but it avoids that pathological behavior.
    (More advanced typesetting algorithms like Knuth-Plass https://en.wikipedia.org/wiki/Line_wrap_and_word_wrap#Minimum_raggedness can handle mobile widths nicely,
    but no contemporary browser implements them natively, and all JS implementations I've looked at are buggy.)
*/
@media only screen and (min-width: 900px) {
    .markdownBody p,
    .markdownBody li {
        text-align: justify;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

/*  Cute 'old-style' numerals, look a little nicer inline in text, and available natively in the SS fonts:
    https://practicaltypography.com/alternate-figures.html#oldstyle-figures
    */
html {
    font-variant-numeric: oldstyle-nums;
}

.abstract > blockquote {
    margin: 0 0 1.5em 0;
    background-color: var(--GW-abstract-background-color);
    border-color: var(--GW-abstract-border-color);
    padding: 0.9rem 1.25rem 0.95rem 1.25rem;
    clear: none;
}

/* auto-smallcaps the first line of the introduction (= the first `<p>` after an 'abstract' div); this avoids the need to manually specify what to smallcaps, and it auto-adjusts to screen/line-width, which is nicer. */
.abstract + p::first-line,
#markdownBody > p:first-child::first-line,
.markdownBody #page-metadata + p::first-line {
    font-feature-settings: 'smcp';
}

h1 {
    margin: 0.6em 0 0.5em -0.75rem;
    font-weight: bold;
    position: relative;
}

@media only screen and (max-width: 649px) {
    h1 {
        margin: 1.25em 0 0.5em 0;
        padding-bottom: 2px;
    }
}

/*  Lazy-load below-fold sections in supported browsers.
    Disabled temporarily pending layout redesign to compensate for layout
    containment. —Obormot 2021-03-21
    */
/*
section.level1:nth-of-type(n+4) {
    content-visibility: auto;
    contain-intrinsic-size: 200vh;
}
 */

/*=----------------=*/
/*= Heading levels =*/
/*=----------------=*/

h1 {
    font-feature-settings: 'smcp';
    font-size: 1.75em;
    line-height: 1.25;
    letter-spacing: -0.75px;
}

/*************/
/* SIDENOTES */
/*************/

/*  Hide sidenote columns on narrow viewports.
    */
@media only screen and (max-width: 1760px) {
    #sidenote-column-left,
    #sidenote-column-right {
        display: none;
    }
}

/*=--------------=*/
/*= Margin notes =*/
/*=--------------=*/

/*  On wide viewports, hide the margin notes until it is styled as a sidenote (i.e,
    until it gets the `.sidenote` class applied to it).
    */
@media only screen and (min-width: 1761px) {
    .marginnote {
        display: none;
    }
}

/*********/
/* LINKS */
/*********/

a {
    color: var(--GW-body-link-color); /* off-black */
    text-decoration: none;
}

/* slightly gray out links the reader has already visited, so they know if they've seen that content before. (A critical affordance in densely hyperlinked longform.) */
.markdownBody a:visited {
    color: var(--GW-body-link-visited-color);
}

/*=------------------------=*/
/*= Fancy link underlining =*/
/*=------------------------=*/

/*  Tufte CSS for underlining (https://github.com/edwardtufte/tufte-css)
    The advantage of all this CSS linenoise compared to the previous 'text-decoration: none; border-bottom: 1px Solid grey;' solution from http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/
    is the 'skip-ink': when dealing with characters with 'descenders', like 'y', 'g', 'p', 'q' etc, with regular underlining the bottom stroke overlaps with the line and it's harder to read;
    by adding this text-shadow stuff and backgrounding, a little break is made in the underline to add contrast and keep the descender fully visible and outlined. (The downside is that the overlapping text-shadows can also slightly damage the rendering of slashes & parentheses, which come too close and get partially erased.)

    Unfortunately, we don't want to add underlines to links in the TOC because it clutters it (all the lines are links and are in small font), so we have to avoid styling the TOC, which is difficult.
    I got around this by adding in the Hakyll template an additional <div> just for the body of the Markdown content, excluding the TOC, and changing the Tufte CSS to target *that* instead.

May be able at some point to simplify this using regular link underlining, since CSS4's `text-decoration-skip-ink` by default avoids overlapping with text descenders (but as of Oct 2019, no Edge/IE or Safari support, and only the latest Firefox 70 supports it; maybe in a few years...): https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink#Browser_Compatibility https://www.caniuse.com/#feat=mdn-css_properties_text-decoration-skip-ink (Right now, Firefox skip-ink looks quite bad: it doesn't skip enough ink, defeating the point, and also positions the underline badly!)
*/

.markdownBody a:link,
#footer a:link {
    text-decoration: none;
    background-image: linear-gradient(var(--GW-link-underline-gradient-line-color), var(--GW-link-underline-gradient-line-color));
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% calc(100% - 0.1em);
    box-decoration-break: clone;

    /*  Disable oldstyle nums in underlined links because the oldstyle nums are almost subscript-like and overlap */
    font-variant-numeric: lining-nums;
}
.markdownBody a:link,
.markdownBody a:link *,
#footer a:link {
    text-shadow:
         0      0.05em  var(--GW-link-underline-background-color),
         0.05em 0.05em  var(--GW-link-underline-background-color),
        -0.05em 0.05em  var(--GW-link-underline-background-color),
         0.17em 0.05em  var(--GW-link-underline-background-color),
        -0.17em 0.05em  var(--GW-link-underline-background-color),
         0.17em 0       var(--GW-link-underline-background-color),
        -0.17em 0       var(--GW-link-underline-background-color);
}
.markdownBody a:hover {
    background-image: linear-gradient(var(--GW-link-underline-gradient-line-color-hover), var(--GW-link-underline-gradient-line-color-hover));
}

/* eliminate the blurring of headers and links when selecting by overriding the text-shadow: */
::selection {
    text-shadow: none;
    background: var(--GW-text-selection-background-color);
    color: var(--GW-text-selection-color);
}

/*  Prevent code block background color and border from obscuring link
    underlining, for inline <code> elements in links.
    */
a code {
    border-bottom-width: 0;
    word-break: normal;
    background-color: transparent;
}

/*  Reduce text-shadow overlap partially erasing letters next to smallcaps:
    eg. in `<a href="https://www.microcovid.org/">"microCOVID project"</a>`,
    the 'o' in 'micro' will be partially erased and look like a 'c' without
    some sort of extra spacing
    */
.markdownBody a:link > .smallcaps,
.markdownBody a:link > .smallcaps-auto {
    margin-left: 0.7px;
}

/*  Like above, but for subscripts and superscripts
    */
.markdownBody a:link > sub,
.markdownBody a:link > sup {
    padding-left: 0.125em;
}

/**************/
/* PARAGRAPHS */
/**************/

p {
    margin: 0;
}
p + p {
    text-indent: 2.5em;
}
p + figure[class^='float-'] + p {
    text-indent: 2.5em;
}
@media only screen and (max-width: 649px) {
    p + p {
        text-indent: 1em;
    }
    p + figure[class^='float-'] + p {
        text-indent: 1em;
    }
}

/***************/
/* BLOCKQUOTES */
/***************/
/* additional blockquote styling done in default.css */

blockquote {
    --GW-link-underline-background-color: var(--GW-blockquote-background-color);

    margin: 1.625em 0 1.75em 0;
    border: 1px solid var(--GW-blockquote-border-color);
    background-color: var(--GW-blockquote-background-color);
    font-size: 0.95em;
    padding: 1em 1.25em;
}

/*  Three-level of blockquote emphasis (darkening).
    */
blockquote,
blockquote blockquote blockquote blockquote {
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-one);
}
blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-one);
}
blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-four);
}

blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-two);
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-two);
}

blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-three);
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-three);
}

/*=--------------------=*/
/*= Various edge cases =*/
/*=--------------------=*/

@media only screen and (min-width: 650px) {
    .abstract blockquote {
        overflow: hidden;
    }
}
@media only screen and (max-width: 649px) {
    /* even less horizontal is available on mobile! */
    blockquote {
        margin: 1.25em 0 1.5em 0;
        padding: 0.75em 1em;
    }
}

p + blockquote {
    margin-top: 1em;
}

/***************/
/* CODE BLOCKS */
/***************/

pre {
    overflow: auto;
}

/*  Full-width code blocks.
    */
.full-width-code-block-wrapper {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;
}
.full-width-code-block-wrapper pre {
    padding-right: 1px;
}

/********/
/* MATH */
/********/

.mjpage__block {
    display: block;
    overflow: auto;
}

/**********/
/* TABLES */
/**********/

.table-wrapper {
    margin: 2em 0 2.125em 0;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

/*=-------------------=*/
/*= Full-width tables =*/
/*=-------------------=*/

.table-wrapper.full-width {
    position: relative;
    z-index: 1;
}
.table-wrapper.full-width table {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

/***********/
/* FIGURES */
/***********/

figure img,
figure video {
    display: block;
    max-height: calc(100vh - 8em);
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

/********/
/* MISC */
/********/

/*  enable standard Pandoc attribute-based syntax for small-caps like '[foo]{.smallcaps}'; see https://pandoc.org/MANUAL.html#small-caps
    */
span.smallcaps {
    font-feature-settings: 'smcp';
}

/* Enable SSfP smallcaps for auto-annotated abbreviations/acronyms */
span.smallcaps-auto {
    font-feature-settings: 'smcp', 'c2sc';
    font-variant-numeric: tabular-nums;
}
/*************/
/* DARK MODE */
/*************/
/* see /static/js/darkmode.js and /static/css/dark-mode.css; this allows the user to toggle at runtime */
