@media (min-width:900px) {
    .sausage-set {
        position: fixed; right: 0; top: 0;
        width: 14px; height: 90%;
        border-left: solid 1px #ffg;
        border-right: solid 1px #ffg;
        background-color: #fff;
    }

    .sausage {
        position: absolute; left: 0;
        width: 90%; height: 90%;
        background-color: #bfbfbf;
        text-decoration: none;
        -moz-border-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
        -webkit-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
        cursor: pointer;
    }

    .sausage-hover, .sausage-current {
        background-color: #5f5f5f;
    }

    .sausage-span {
        position: absolute; right: 20px; top: 4px; z-index: 2;
        display: none;
        width: 100px;
        padding: 0px 0px;
        color: #000;
        background-color: #fff;
        border: solid 3px #b4b4c9;
        font-size: 70%; line-height: 10px; font-weight: bold; text-align: center;
        -moz-border-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
    }

    .sausage-hover .sausage-span, .sausage-current .sausage-span {
        display: block;
    }
}