@media (min-width:900px) {
    .sausage-set {
        position: fixed; right: 0; top: 0;
        width: 14px; height: 90%;
        background-color: #fff;
    }

    .sausage {
        position: absolute; left: 0;
        width: 90%; height: 90%;
        background-color: #bfbfbf;
        text-decoration: none;
        cursor: pointer;
    }

    .sausage-hover, .sausage-current {
        background-color: #5f5f5f;
    }

    .sausage-span {
        position: absolute; right: 20px; top: 4px; z-index: 2;
        display: none;
        width: 100px;
        padding: 0px 0px;
        color: #000;
        background-color: #fff;
        border: solid 3px #b4b4c9;
        font-size: 70%; line-height: 10px; font-weight: bold; text-align: center;
    }

    .sausage-hover .sausage-span, .sausage-current .sausage-span {
        display: block;
    }
}