<!-- HTML fragment for transclusion into default.html #footer: this is a public-service announcement which inserts a mock advertisement reminding the reader how annoying Internet ads are (and linking to my /banner writeup for additional evidence on the real-world impacts), and recommending uBo (for desktop readers) and Blokada/AdGuard/ABP (for mobile). -->
<div id="adsense" class="banner advertisement">
  <style>
  .banner {
    border: 6px solid black;
    padding: 20px;
    max-width: 50%;
    height: 100px;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .banner p {
    margin: 0;
    padding: 0;
  }
  .banner .left {
      font-weight: bold;
      transform: skew(5deg); /* Tilts text leftwards, as the visual mirror of the right-leaning italics of the second line. */
  }
  .banner .right {
    font-weight: bold;
    font-style: italic;
    text-align: right;
  }
  </style>

  <p class="left">If this were a banner ad…</p>
  <p class="right">…you’d <a href="/banner" class="link-annotated link-page" title="‘Banner Ads Considered Harmful’, Gwern 2017">be annoyed</a> already! ! !</p>
  <p class="smallcaps" style="text-align: center; font-variant-caps: small-caps;">☞ <span class="mobile-not">Use An <a href="https://ublockorigin.com/" title="uBlock origin">Adblocker</a>.</span>
    <span class="desktop-not"><a href="https://blokada.org/" title="Blokada">Use</a> <a href="https://adguard.com/en/welcome.html" title="AdGuard">Ad</a> <a href="https://adblockpro.com/" title="AdBlock Pro">Blockers</a>.</span> ☜</p>
</div>
