<figure>
  <img src="/doc/fiction/humor/2020-04-06-chainsawman-ifunny-unfortunatelytheclockistickingmeme-birthdaycatpluswindowsnotification.jpg" class="image-focus-not" usemap="#image-map-1" alt="Unfortunately, the clock is ticking / the hours are going by. The past increases, the / future recedes. Possibilities decreasing, regrets / mounting. / Do you understand? / [I Understand | remain ignorant]" title="Unfortunately, the clock is ticking…">
  <map name="image-map-1">
    <area href="/review/cat#are-cats-domesticated" alt="Cat emotional issues &amp; stress" coords="195,334,164" shape="circle">
    <area href="/doc/psychology/cognitive-bias/illusion-of-depth/index" alt="The illusion of depth" coords="151,597,26,580" shape="rect">
    <area href="/sunk-cost" alt="Sunk costs" coords="283,546,336,567" shape="rect">
    <area href="https://en.wikipedia.org/wiki/Clock_of_the_Long_Now" alt="Clock of the Long Now" coords="259,526,123,501" shape="rect">
    <area href="https://en.wikipedia.org/wiki/Zippy_the_Pinhead" alt="Cone-heads" coords="176,166,262,181,204,0,187,0" shape="poly">
    <area href="/changelog" alt="Site change history" coords="170,527,334,546" shape="rect">
    <area href="https://edoras.sdsu.edu/~vinge/misc/singularity.html" alt="The Coming Technological Singularity: How to Survive in the Post-Human Era" coords="19,544,122,562" shape="rect">
    <area href="https://knowyourmeme.com/memes/unfortunately-the-clock-is-ticking" alt="KYM:  Unfortunately, the Clock Is Ticking copypasta" coords="22,500,123,527" shape="rect">
    <area href="https://en.wikipedia.org/wiki/Do_not_go_gentle_into_that_good_night" alt="Do not go gentle into that good night" coords="385,405,80" shape="circle">
    <area href="/subscript#date-ranges" alt="The Big Now" coords="18,527,174,547" shape="rect">
    <area href="https://waitbutwhy.com/2014/05/life-weeks.html" alt="Your Life in Weeks" coords="280,562,126,548" shape="rect">
    <area href="/screwfly" alt="‘Screwfly Solution’ on lordosis" coords="18,563,93,576" shape="rect">
    <area href="https://elgoog.im/space-invaders/" alt="Space Invaders (Google Easter Egg)" coords="477,46,507,0" shape="rect">
    <area alt="It Was All For The Tuna" title="It Was All For The Tuna" href="https://cosmicadventuresquad.itch.io/it-was-all-for-the-tuna" coords="417,548,412,579,362,589,357,621,494,648,475,605,461,566" shape="poly">

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/archiving"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/search"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/doc/index"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://en.wikisource.org/wiki/Dhammapada_(Muller)"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/subculture"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://slatestarcodex.com/2014/07/30/meditations-on-moloch/"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://waitbutwhy.com/2015/12/the-tail-end.html"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/doc/science/1986-hamming"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://fs.blog/david-foster-wallace-this-is-water/"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://www.youtube.com/watch?v=ji5_MqicxSo"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://kev.town/2013/04/30/why-did-why-the-lucky-stiff-quit/"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://paulgraham.com/vb.html"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://harpers.org/archive/1932/10/in-praise-of-idleness/"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="https://en.wikisource.org/wiki/On_the_shortness_of_life/Chapter_I"></div>
    </div>

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="/404"></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://tinyurl.com/hquv34"> <!-- Rickroll --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=SMhwddNQSWQ"> <!-- "Dare To Be Stupid", Weird Al Yankovic --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=qItugh-fFgg"> <!-- All Your Base --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://neal.fun/stimulation-clicker/"> <!-- Stimulation Clicker --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.nyan.cat/"> <!-- Nyan Cat --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="http://www.zombo.com/"> <!-- Zombo.com --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://originalhampster.ytmnd.com/"> <!-- The Hampsterdance --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://badgerbadgerbadger.com/"> <!-- Badger Badger Badger --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://yourethemannowdog.ytmnd.com/"> <!-- You're The Man Now Dog --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4"> <!-- He-Man Sings (What's Going On?) --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=tfy1ffrftoE"> <!-- Salad Fingers --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=oavMtUWDBTM"> <!-- Trololo Song --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=k85mRPqvMbE"> <!-- Crazy Frog – Axel F --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=2GF3rWj0A_Y"> <!-- Dancing Baby (Oogachaka) --></div>
    </div>

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="close page" title="close page" coords="345,508,39" shape="circle" href="/index"></div>
      <div class="display-entry"><area alt="close page" title="close page" coords="345,508,39" shape="circle" href="/404"></div>
    </div>
  </map>
</figure>
