
<figure>
  <img src="/doc/fiction/humor/2020-04-06-chainsawman-ifunny-unfortunatelytheclockistickingmeme-birthdaycatpluswindowsnotification.jpg" class="image-focus-not" usemap="#image-map-1" alt="Unfortunately, the clock is ticking / the hours are going by. The past increases, the / future recedes. Possibilities decreasing, regrets / mounting. / Do you understand? / [**I Understand** | remain ignorant]" title="Unfortunately, the clock is ticking…">
  <map name="image-map-1">

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/archiving"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/search"></div>
      <div class="display-entry"><area alt="I understand" title="I understand" coords="98,596,221,664" shape="rect" href="/doc/index"></div>
    </div>

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="/404"></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://tinyurl.com/hquv34"> <!-- Rickroll --></div>
      <div class="display-entry"><area alt="remain ignorant" title="remain ignorant" coords="225,595,358,661" shape="rect" href="https://www.youtube.com/watch?v=SMhwddNQSWQ"> <!-- "Dare To Be Stupid", Weird Al Yankovic --></div>
    </div>

    <div class="display-random-one disable-the-not-chosen">
      <div class="display-entry"><area alt="close page" title="close page" coords="345,508,39" shape="circle" href="/index"></div>
      <div class="display-entry"><area alt="close page" title="close page" coords="345,508,39" shape="circle" href="/404"></div>
    </div>
  </map>
</figure>
