**\.png-768px\.png
**\.jpg-768px\.jpg
.DS_Store
404
404.shtml
**.o
**.hi
**.elc
build/changeTag
build/checkMetadata
build/generateBacklinks
build/generateDirectory
build/generateLinkBibliography
build/generateSimilar
build/generateSimilarLinks
build/guessTag
build/hakyll
build/link-extractor
build/link-suggester
build/preprocess-markdown
**/*.html
build/**/*.html
css/**/*.html
font/**/*.html
js/**/*.html
nginx/**/*.html
redirect/**/*.html
/.htaccess
/asset.log
