<div class="annotation<{annotationClassSuffix}> <{dataSourceClass}>">
	<p class="data-field title">
		<a 
		   class="<{titleLinkClass}>"
		   title="Open <{titleLinkHref}> in <{whichTab}> <{tabOrWindow}>"
		   href="<{titleLinkHref}>"
		   <[IF linkTarget]>target="<{linkTarget}>"<[IFEND]>
		   <[IF titleLinkDataAttributes]><{titleLinkDataAttributes}><[IFEND]>
		   <{titleLinkIconMetadata}>
			   ><{titleHTML}></a>\
		<[IF secondaryTitleLinksHTML]><span class="secondary-title-links"><{secondaryTitleLinksHTML}></span><[IFEND]>
	</p>
	<[IF authorDateAux]>
	<p class="data-field author-date-aux"><{authorDateAux}></p>
	<[IFEND]>
	<[IF abstract]>
	<div class="data-field annotation-abstract"><{abstract}></div>
	<[IFEND]>
</div>