<div class="annotation<{annotationClassSuffix}> <{dataSourceClass}>">
	<p class="data-field title">
		<a 
		   class="<{titleLinkClass}>"
		   title="Open <{titleLinkHref}> in <{whichTab}> <{tabOrWindow}>"
		   href="<{titleLinkHref}>"
		   <[IF linkTarget]>target="<{linkTarget}>"<[IFEND]>
		   <[IF titleLinkDataAttributes]><{titleLinkDataAttributes}><[IFEND]>
		   <{titleLinkIconMetadata}>
			   ><{titleHTML}></a>\
		<[IF secondaryTitleLinksHTML]><span class="secondary-title-links"><{secondaryTitleLinksHTML}></span><[IFEND]>\

		<[IF archiveURL]>
		<span class="archiveURL">[<a
			 title="Link to local archive for <{titleText}>"
			 href="<{archiveURL}>"
			 <[IF2 linkTarget]>target="<{linkTarget}>"<[IF2END]>
			 alt="Locally archived version of this URL"
				 ><{archiveURLText}></a>]</span>
		<[IFEND]>
	</p>
	<[IF authorDateAux]>
	<p class="data-field author-date-aux"><{authorDateAux}></p>
	<[IFEND]>
	<[IF abstract]>
	<div class="data-field annotation-abstract"><{abstract}></div>
	<[IFEND]>
</div>