<span class="annotation<{annotationClassSuffix}>">
	<span class="data-field title <[IF authorDateAux]>author-date-aux<[IFEND]>">
		<a 
		   class="<{titleLinkClass}>"
		   title="Open <<{titleLinkHref}>> in <{whichTab}> <{tabOrWindow}>"
		   href="<{titleLinkHref}>"
		   target="<{linkTarget}>"
		   <{titleLinkDataAttributes}>
			   ><{title}></a>\
		<[IF authorDateAux]><[IF2 author]>,\ <[IF2END]><{authorDateAux}><[IFEND]>
	</span>
</span>