<[IF originalURL]>
<a
    class="popframe-title-link"
    title="Open <{originalURL}> in <{whichTab}> <{tabOrWindow}>."
    href="<{originalURL}>"
    target="<{linkTarget}>"
        ><{popFrameTitleText}></a>
<[ELSE]>
<a
    class="popframe-title-link"
    href="<{titleLinkHref}>"
    title="Open <{titleLinkHref}> in <{whichTab}> <{tabOrWindow}>."
    target="<{linkTarget}>"
        ><{popFrameTitleText}></a>
<[IFEND]>
