<div class="content-transform <{contentTypeClass}>">
	<p class="data-field tweet-links">
		<a 
		   class="<{authorLinkClass}>"
		   title="Open <{authorLinkHref}> in <{whichTab}> <{tabOrWindow}>"
		   href="<{titleLinkHref}>"
		   target="<{linkTarget}>"
		   <{authorLinkIconMetadata}>
			   ><{authorPlusAvatar}></a>\
		on \
		<a
		   class="<{tweetLinkClass}>" 
		   title="Open <{tweetLinkHref> in <{whichTab}> <{tabOrWindow}>"
		   href="<{tweetLinkHref}>" 
		   <{archivedTweetURLDataAttribute}> 
		   <{tweetLinkIconMetadata}>
		   	   ><{tweetDate}></a>
	</p>
	<div class="data-field tweet-content"><{tweetContent}></div>
</div>