<div class="content-transform <{contentTypeClass}>">
	<p class="data-field title"><{titleLine}>:</p>
	<blockquote class="data-field entry-content">
		<[IF thumbnailFigure]>
		<{thumbnailFigure}>
		<[IFEND]>
		<{entryContent}>
	</blockquote>
</div>