<div class="content-transform <{contentTypeClass}>">
	<[IF thumbnailFigure]>
	<{thumbnailFigure}>
	<[IFEND]>
	<p class="data-field title"><{titleLine}></p>
	<div class="data-field entry-content"><{entryContent}></div>
</div>