<blockquote class="annotation <{dataSourceClass}>">
	<p class="data-field title"><{title}></p>
	<[IF authorDateAux]><p class="data-field author-date-aux"><{authorDateAux}></p><[IFEND]>
	<div class="data-field annotation-abstract"><{abstract}></p>
</blockquote>