:root {
    /*  Adjust background color to prevent pixels from turning off (contrary to popular belief, pixels turning off saves trivial energy, like <1% in measurements, and causes nasty scrolling/update jank due to delay in pixels turning back on), and improve contrast with the white.
     */
    --GW-body-background-color: #111111;

    /*  Dial back from pure white to keep contrast from being *too* high & 'stark' (#fff bg / #000 text seems to work in light mode, but not in dark mode, perhaps because of differences in lighting environment?)
     */
    --GW-body-text-color: #f1f1f1;

    /*  Adjust this one color in the syntax highlighting color scheme to make it
        less saturated. (The automatic inversion algorithm doesn’t quite handle
        it in the way we want.)
     */
    --GW-syntax-highlight-color-control-flow: #cce1c8;

    /*  Variable for SVGs to use (like for the —𝔊— footers on the index page)
     */
    --GW-body-background-color-inverted: #ededed;

    /*  Reader mode.
     */
    --GW-reader-mode-masked-links-key-toggle-info-alert-panel-background-color: rgba(255, 255, 255, 0.85);

	/*	Mode selectors.
	 */
	--GW-mode-selector-mobile-background-color: rgba(18, 18, 18, 0.75);
}

/*  The ‘fill’ attribute of the SVGs is modified in dark mode.
    (We cannot use an invert filter because we don’t want to invert the whole
     element, only the background-image.)
 */
.collapse .disclosure-button::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" fill="%235C5C5C"/></svg>');
}
.collapse .disclosure-button:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" fill="%23000"/></svg>');
}
.collapse .disclosure-button:checked::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" fill="%235C5C5C"/></svg>');
}
.collapse .disclosure-button:checked:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" fill="%23000"/></svg>');
}

/*	Create a ‘footer’ at the bottom of pages which looks like ‘—————𝔊—————’, 
	similar to the arabesque navbar.

	Footers help denote “this is the end”, and avoid the somewhat lame effect of
	just having the anonymous feedback link at the end of the page and ending 
	there with nothing else.

	NOTE: this is for mobile only, and takes the place of desktop’s full 
	arabesque navbar (see default.css).

	Implementation: Modifying the ‘fill’ does not work so well when we call an
	SVG as a ‘background-image’ (like for the  footers on the index page), so we
	do variable+invert tricks to get a white copy of the logo as a hack.
 */
@media only screen and (max-width: 649px) {
    a#footer-logo::after {
        filter: invert(1);
        background-color: var(--GW-body-background-color-inverted);
    }
}

/*  The ‘celestial symbol’ horizontal rules are SVGs and must be inverted.
 */
hr::after,
.horizontalRule-nth-0 hr::after {
    opacity: 1;
    filter: invert(1) drop-shadow(0 0 0 currentColor);
}
.horizontalRule-nth-1 hr::after {
    opacity: 0.75;
    filter: invert(1);
}
.horizontalRule-nth-2 hr::after {
    opacity: 0.85;
    filter: invert(1);
}

/*  Drop cap opacity adjustment.
 */
.drop-cap-goudy::first-letter,
.drop-cap-goudy > p::first-letter {
    opacity: 0.95;
}

/*  Admonition icons.
 */
.admonition.tip::before,
.admonition.note::before,
.admonition.warn::before,
.admonition.warning::before,
.admonition.error::before {
    filter: invert(1);
}

div.admonition.warn,
div.admonition.warning,
div.admonition.error {
    --GW-dotted-underline-background-image: var(--GW-dotted-underline-hover-dark-background-image);
}

/*  List bullets are SVGs and have to be inverted.
 */
ul > li::before {
    filter: invert(1);
}

/*  Exclusion for TOC entries.
 */
.TOC ul > li::before {
    filter: none;
}

/*  For sortable table column headings, we use dark versions of the up/down/both
    arrow icons.
 */
table th.tablesorter-header {
    background-image: url('/static/img/tablesorter/tablesorter-bg-dark.gif');
}
table th.tablesorter-headerAsc {
    background-image: url('/static/img/tablesorter/tablesorter-asc-dark.gif');
}
table th.tablesorter-headerDesc {
    background-image: url('/static/img/tablesorter/tablesorter-desc-dark.gif');
}

/*  The pixel-grid-checkerboard pattern of these scroll bars is created by GIF
    background-images; we use alternate versions of the images in dark mode.
 */
.table-wrapper::-webkit-scrollbar-thumb {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAIiIiCwAAAAABAAEAAACBkwAhqgZBQA7');
}
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAL+/vywAAAAABAAEAAACBkwAhqgZBQA7');
}

.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAIiIiCwAAAAABAAEAAACBkwAhqgZBQA7');
}
.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb:hover {
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAL+/vywAAAAABAAEAAACBkwAhqgZBQA7');
}

/*  Images that are marked as invertible by the server are inverted,
    hue-rotated, and desaturated. Other (non-invertible) images are merely
    desaturated. Hovering over an image restores it to its original state.
    Hierarchy: ‘.invertible-not’: no inversion or grayscale;
    ‘.invertible’/‘.invertible-auto’: inverted (uninverted upon mouse hover);
    none: grayscaled (ungrayscaled on hover).
 */
img.invertible,
img.invertible-auto {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
img:not(.invertible):not(.invertible-auto) {
    filter: grayscale(50%);
}
img,
img.invertible,
img.invertible-auto {
    transition: filter 0.25s ease;
}
img:hover,
img.invertible:hover,
img.invertible-auto:hover,
img:not(.invertible):not(.invertible-auto):hover {
    filter: none;
    transition: filter 0s ease 0.25s;
}
/*	Image alt-text.
 */
img.invertible::before,
img.invertible-auto::before {
	filter: invert(1);
}
img.invertible:hover::before,
img.invertible-auto:hover::before {
	filter: none;
}
@supports (-moz-user-focus: normal) {
	/*	Only Firefox supports styling the image alt-text, but that interferes 
		with the transitions. (We include non-class’d `img` in this selector for
		consistency.)
	 */
	img,
	img:hover,
	img.invertible,
	img.invertible:hover,
	img.invertible-auto,
	img.invertible-auto:hover {
		transition: none;
	}
}
/*  For images which have been manually marked up with ‘.invertible-not’, we
    avoid any filtering at all. If they are manually marked up (artwork,
    diagrams with multiple subtly-different colors matched to a legend/caption),
    the color is important and shouldn’t be faded out by default.
 */
#markdownBody img.invertible-not { filter: none; }

/*  The loading spinner for object popups (image, iframe, object) is inverted
    and made more visible in dark mode.
 */
.popframe.loading::before {
    filter: invert(1);
    opacity: 0.4;
}

/*  “Loading failed” messages for object popups.
 */
.popframe.loading-failed::after {
    opacity: 0.4;
}

/*	All mode selectors.
 */
div.mode-selector button::before,
span.mode-selector button::before {
    filter: invert(1);
}

/*	Inline mode selectors.
 */
span.mode-selector {
	opacity: 0.45;
}
span.mode-selector button::before {
	opacity: 0.55;
}
span.dark-mode-selector button.select-mode-light::before {
	opacity: 0.6;
}

/*	Fixed mode selectors.
 */
@media only screen and (min-width: 1280px) {
	div.mode-selector {
		opacity: 0.45;
	}
	div.mode-selector button::before {
		opacity: 0.55;
	}
	div.dark-mode-selector button.select-mode-light::before {
		opacity: 0.6;
	}
}
@media only screen and (max-width: 1279px) {
    #ui-elements-container div.mode-selector button {
        opacity: 0.3;
    }
    #ui-elements-container div.dark-mode-selector button.select-mode-light {
        opacity: 0.35;
    }
    #ui-elements-container div.reader-mode-selector button.select-mode-off {
        opacity: 0.35;
    }
    #ui-elements-container div.mode-selector button:hover,
    #ui-elements-container div.mode-selector button.selected {
        opacity: 0.85;
    }
    #ui-elements-container div.reader-mode-selector button.select-mode-on:hover,
    #ui-elements-container div.reader-mode-selector button.select-mode-on.selected {
        opacity: 0.75;
    }
    #ui-elements-container div.reader-mode-selector button.select-mode-off:hover,
    #ui-elements-container div.reader-mode-selector button.select-mode-off.selected {
        opacity: 0.9;
    }
}

/*  Masked links key toggle info alert panel.
 */
div#masked-links-key-toggle-info-alert img {
    filter: drop-shadow(0 0 3px var(--GW-reader-mode-masked-links-key-toggle-info-alert-panel-text-shadow-color));
}

/*  The dotted underline for Wikipedia links is created by a
    pixel-grid-checkerboard background-image. We use an alternate version of
    this image in dark mode.
 */
.markdownBody a.has-annotation:hover {
    background-image: var(--GW-dotted-underline-hover-dark-background-image);
}

/*  All SVG linkicons have to be inverted.
 */
a.link-self.identifier-link-up::after,
a.link-self.identifier-link-down::after,
a[data-link-icon-type*='svg']::after {
    filter: invert(1);
}

/*  Block buttons must be inverted.
 */
.mjpage__block .block-button-bar button img,
.mjpage__block .block-button-bar button img:hover {
    filter: invert(1);
}

/*  Footnote back-to-citation link icons.
 */
.footnotes .footnote-back img,
.footnotes .footnote-back img:hover {
    filter: invert(1);
}


/*	Math in Wikipedia pop-frames.
 */
.popframe-body.wikipedia-entry .mwe-math-element img {
	filter: invert(1);
}
