    <!-- Load the rest of the CSS. Note that we do not need any JS hacks here: HTML allows <link> stylesheets in the body: https://html.spec.whatwg.org/multipage/links.html#body-ok https://jakearchibald.com/2016/link-in-body/ -->
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/links.css" />

    <!-- JS library for spawning popups -->
    <script src="/static/js/popups.js" defer></script>
    <script src="/static/js/popins.js" defer></script>
    <!-- JS library for annotating hyperlinks with introduction/summary from various sources; not lazy-loaded as (almost) all pages have popups -->
    <script src="/static/js/annotations.js" defer></script>
    <script src="/static/js/extracts.js" defer></script>
    <script src="/static/js/extracts-annotations.js" defer></script>
    <script src="/static/js/extracts-content.js" defer></script>
    <script src="/static/js/extracts-options.js" defer></script>

    $if(index)$ <!-- Stuff we don’t need on /index gets conditionally loaded: --> $else$

    <!-- JS library for clickable/zoomable images, for images larger than can be displayed in -->
    <!-- the body: /static/js/image-focus.js /static/css/image-focus.css -->
    <!-- not lazy-loaded due to various bugs -->
    <script src="/static/js/image-focus.js" defer></script>

    <!-- sort tables: https://mottie.github.io/tablesorter/docs/ ; requires JQuery, which has been prepended to avoid multiple JS page loads & race conditions -->
    <script>
    if (document.querySelector("table")) {
        var js = document.createElement("script");
        js.type = "text/javascript";
        js.src = "/static/js/tablesorter.js";
        document.body.appendChild(js);
    }
    </script>

    $endif$

    <!-- Misc JS: 1. Collapsed sections: insert a toggle to expand them; 2. cover source-code block listings too (for large R sections especially); 3. type setting stuff -->
    <script src="/static/js/typography.js" defer></script>
    <script src="/static/js/rewrite.js" defer></script>
    <script src="/static/js/collapse.js" defer></script>

    <!-- Dark Mode theme switcher (lets users toggle between regular black-on-white CSS, and dark mode) -->
    <script src="/static/js/darkmode.js" defer></script>
