/*********/
/* FONTS */
/*********/
/* fonts are now loaded from /static/css/fonts.css */

/**********/
/* COLORS */
/**********/
/* colors are now in /static/css/colors.css or dark-mode.css */

/*************/
/* VARIABLES */
/*************/

:root {
    --GW-serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
    --GW-sans-serif-font-stack: "Source Sans Pro", "Lucida Sans Unicode", "Helvetica", "Trebuchet MS", sans-serif, "Noto Emoji", "Quivira";
    --GW-monospaced-font-stack: "IBM Plex Mono", "Liberation Mono", "Consolas", "Courier", monospace, "Noto Emoji", "Quivira";

    --GW-body-text-font-size: 1rem;

	--GW-base-font-size: 20px;
}
@media all and (max-width: 649px) {
	:root {
		--GW-base-font-size: 18px;
	}
}

/***********/
/* GENERAL */
/***********/

html,
.shadow-body {
    background-color: var(--GW-body-background-color);
    color: var(--GW-body-text-color);
    font-size: var(--GW-base-font-size);
    font-weight: 400;
    font-family: var(--GW-serif-font-stack);
}

body,
.shadow-body {
    font-size: var(--GW-body-text-font-size);
}

svg {
    fill: currentColor;
}

/**********/
/* LAYOUT */
/**********/

html {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1080px;
}

@media only screen and (min-width: 650px) {
    body {
        padding: 0 25px 0 10px;
        margin: 0 auto;
    }
    @media only screen and (min-width: 1160px) {
        body {
            padding: 0 75px 0 5px;
        }
    }
    main {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
    }
    /*  Breakpoint for sidenotes.
        */
    @media only screen and (min-width: 1761px) {
        main {
            position: relative;
            right: 40px;
        }
    }
    article {
        flex: 1 1 auto;
    }
    #sidebar {
        position: absolute;
    }
    header,
    article {
        margin-left: 155px;
    }
    @media only screen and (max-width: 1200px) {
        header,
        article {
            margin-left: 145px;
        }
    }
    @media only screen and (max-width: 1120px) {
        header,
        article {
            margin-left: 140px;
        }
    }
    @media only screen and (max-width: 1040px) {
        header,
        article {
            margin-left: 135px;
        }
    }
    @media only screen and (max-width: 960px) {
        header,
        article {
            margin-left: 130px;
        }
    }
}

@media only screen and (max-width: 649px) {
    body {
        margin: 0 15px;
    }
}

/*****************/
/* ACCESSIBILITY */
/*****************/
/* Provide a link which skips straight to the content bypassing the sidebar &
   metadata block; this link is positioned off-screen until <Tab>-navigated to,
   which focuses it, highlighting it in a big red block in the upper-left corner.
   Implementation & rationale from https://webaim.org/techniques/skipnav/
   Further background: https://www.w3.org/TR/WCAG20-TECHS/G1.html
 */
#skip-to-content-link  {
    padding: 0.3em 0.75em 0.4em 0.65em;
    position: absolute;
    top: -2.375em;
    left: 0;
	font-family: var(--GW-sans-serif-font-stack);
    color: var(--GW-skip-to-content-text-color);
    background-color: var(--GW-skip-to-content-background-color);
    border-color: var(--GW-skip-to-content-border-color);
    border-style: double;
    border-width: 0 3px 3px 0;
    outline: none;
    z-index: 10001;
    transition:
    	top 1s ease-out;
}
#skip-to-content-link:focus {
    top: 0;
    transition:
    	top 0.1s ease-in;
}

/***********/
/* SIDEBAR */
/***********/

#sidebar a {
    display: block;
}

@media only screen and (min-width: 650px) {
    #sidebar {
        font-variant: small-caps;
        padding: 0 40px 0 10px;
        width: 100px;
    }
    #sidebar a#logo {
        margin: 1em 0 2.25em 0;
		width: fit-content;
    }
    #sidebar a#logo svg {
		display: block;
        width: 64px;
    }
	#sidebar a.links::after,
	#sidebar a.mail::after {
		content: "";
		display: block;
		margin: 0.55em 0 0.45em 0;
        border-top: 1px dotted var(--GW-sidebar-horizontal-rule-color);
	}
    #sidebar a.patreon {
        font-size: 0.9em;
        white-space: nowrap;
        line-height: 1.35;
    }
}

@media only screen and (max-width: 649px) {
    #sidebar {
        justify-content: center;
        margin: 0.75em 0 0.5em 0;
    }
    #sidebar a {
        border: 1px dotted var(--GW-sidebar-mobile-link-border-color);
        padding: 0.25em 0.5em;
        text-align: center;
        margin: 1px;
    }
    #sidebar,
    #sidebar-links {
        display: flex;
    }
    #sidebar-links {
        flex-flow: row wrap;
        flex: 1 1 100%;
        margin: 0;
    }
    #sidebar a#logo {
        margin: 1px 1px 1px 0;
        padding: 0.5em 0.375em;
    }
    #sidebar a#logo svg {
		display: block;
        width: 2.5rem;
    }
    #sidebar a:not(#logo) {
        flex: 1 1 40%;
    }
    #sidebar a.patreon {
        display: none;
    }
}

/***************/
/* PAGE HEADER */
/***************/

header {
    overflow: auto;
}

header h1 {
    margin: 0.75em 0;
    text-align: center;
    text-transform: none;
    font-variant: small-caps;
    font-size: 2.5em;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -1px;
}

@media all and (max-width: 649px) {
    header h1 {
        font-size: 2em;
    }
}

/***********************/
/* PAGE METADATA BLOCK */
/***********************/

#page-metadata {
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

/* Override normal handling of italics: before, we wrapped descriptions in `<em>`; however, they compile to HTML which can contain italics of their own (eg. book titles). This causes HTML Tidy to warn about nested italics (which is valid HTML but *usually* means you've made an error - this often triggers when I mess up bolding, for example, like on /GPT-3 ). So we removed the wrapper in favor of the above `font-style: italic`. However, now the titles don't unitalicize automatically like they would for nested italics! So we force italicized titles back to normal Roman font to match the expected typographic convention. */
#page-description {
    display: block;
    font-style: italic;
    text-align: justify;
}
/*	The following is needed only due to the .justified-not no-hyphens styles; 
	when the A/B test of justification & indentation is done, remove this also.
		—SA 2022-11-20
 */
#page-description p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#page-description em {
    font-style: normal;
}

#page-metadata > .link-tags {
	margin: 0 auto 0.25em auto;
}
#page-metadata > .link-tags a {
	white-space: nowrap;
}
#page-metadata > .link-tags a:nth-child(n+2) {
	margin: 0 0.05em 0 0.1em;
}

#page-metadata > .link-tags,
#page-metadata-block {
    hyphens: none;
}

#page-metadata-block > span {
    white-space: nowrap;
}

#page-source a {
	font-variant-numeric: oldstyle-nums;
}

/*	Interpunct separators for the metadata fields; looks nicer than semicolons
	or slashes
 */
#page-metadata-block > span:not(:last-child)::after {
    content: "\00B7"; /* interpunct MIDDLE DOT (U+00B7) '·' */
    margin: 0 0.35em 0 0.65em;
}

@media all and (min-width: 650px) {
	#page-metadata {
		overflow: auto;
		font-size: calc((19/20) * var(--GW-base-font-size));
	}
	#page-description {
		margin: 0 auto 0.75em auto;
    	hyphens: none;
	}
	#page-metadata-block,
	#page-metadata > .link-tags {
		font-size: calc((18/20) * var(--GW-base-font-size));
	}
}
@media all and (max-width: 649px) {
	#page-metadata {
		overflow: visible;
		font-size: calc((17/18) * var(--GW-base-font-size));
	}
	#page-description {
		margin: 0 auto 1em auto;
		line-height: calc(25/17);
	}
    #page-metadata > .link-tags,
    #page-metadata-block {
    	text-align: center;
    }
    #page-metadata > .link-tags {
    	margin: 0 auto 0.75em auto;
    }
	#page-metadata-block {
		font-size: calc((16/18) * var(--GW-base-font-size));
    	line-height: calc(25/16);
    }
	#page-metadata-block > #page-status::after,
	#page-metadata-block > #page-importance::after {
		content: none;
	}

	#page-metadata-block {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	/* date, status */
	#page-metadata-block :nth-child(1),
	#page-metadata-block :nth-child(2) {
		order: 1;
	}
	/* certainty, importance */
	#page-metadata-block :nth-child(3),
	#page-metadata-block :nth-child(4) {
		order: 3;
	}
	/* backlinks, similar, bibliography */
	#page-metadata-block :nth-child(5),
	#page-metadata-block :nth-child(6),
	#page-metadata-block :nth-child(7) {
		order: 5;
	}
	#page-metadata-block::before,
	#page-metadata-block::after {
		content: "";
		width: 100%;
	}
	/* break between date/status and certainty/importance */
	#page-metadata-block::before {
		order: 2;
	}
	/* break between certainty/importance and backlinks/similar/bibliography */
	#page-metadata-block::after {
		order: 4;
	}
}

/*=--------=*/
/*= /index =*/
/*=--------=*/

/*  Header self-links on home page need not be full-width. */
body.index article #markdownBody section:not(.collapse) > h1:first-child a {
    display: inline;
}

/*	On the index page, we hide article-related formatting, begging, to make it
	more compact & classy.
 */
body.index #sidebar a.patreon,
body.index #TOC,
body.index #page-metadata,
body.index header {
    display: none;
}

/*  No index self-link. */
body.index #sidebar a#logo {
    pointer-events: none;
}

body.index #markdownBody section h1 {
    border-bottom: 1px dotted currentColor;
}

/*  Columns.
 */

/* Suppress bonus section in single/double-column layout */
body.index #markdownBody #notable {
    display: none;
}

@media only screen and (min-width: 961px) {
    body.index #markdownBody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 0.5em;
    }
    body.index #markdownBody .abstract {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    body.index #markdownBody section > ul {
        margin: 0.75em 3em 0 0.25em;
    }
    @media only screen and (max-width: 1040px) {
        body.index #markdownBody {
            grid-template-columns: 1fr;
        }
        body.index #markdownBody section > ul {
            column-count: 2;
            column-gap: 3em;
        }
        body.index #markdownBody section > ul li {
            break-inside: avoid;
        }
    }
}

/*	On sufficiently-wide screens, we can get 3 columns in nicely; to preserve
	the initial row being ‘meta’ blocks, we leave #notable visible
	(for a newest/popular/notable triplet)
 */
@media only screen and (min-width: 2050px) {
    body.index #markdownBody #notable {
        display: block;
    }
    body.index #markdownBody {
        grid-template-columns: 45ch 45ch 45ch;
    }
}

/*  Abstract is not a real abstract, just an introduction, no need for the
	abstract formatting.
 */
body.index .abstract {
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
}

/*  Add some vertical padding for the introduction.
 */
body.index #markdownBody {
    padding-top: 15px;
}

/*  Headings on the home page.
 */
body.index #markdownBody h1 {
    margin: 1.125em 0 0 0;
}

/*  Lists on the home page.
 */
body.index #markdownBody .section-link-list li,
body.index #markdownBody .section-link-list li p {
    text-align: left;
}
body.index #markdownBody .section-link-list {
    margin: 1em 3em 0 0;
    padding: 0 0 0 1.375em;
}
body.index #markdownBody .section-link-list li > ul {
    margin: 0;
}
body.index #markdownBody .section-link-list li {
    margin-top: 0;
}
body.index #markdownBody .section-link-list > li:nth-of-type(n+2),
body.index #markdownBody .section-link-list ul > li:nth-of-type(n+2) {
    margin: 0;
}

@media only screen and (max-width: 649px) {
    body.index #markdownBody section {
        max-width: 100%;
    }
    body.index #markdownBody .section-link-list {
        overflow-wrap: break-word;
        margin-right: 0;
    }
    body.index #markdownBody .section-link-list li {
        line-height: 1.65;
        padding: 1px 0;
        margin: 2px 0 0 0;
    }
    body.index #markdownBody .section-link-list > li::before,
    body.index #markdownBody .section-link-list ul > li::before {
        top: 0.25em;
    }
}

/*********************/
/* TABLE OF CONTENTS */
/*********************/

#TOC {
    margin: 0 2rem 1.5rem 0;
    padding: 0.5em 0.5em 0.75em 0.75em;
    position: relative;
    z-index: 11;
}
.TOC {
    border: 1px solid var(--GW-TOC-border-color);
    background-color: var(--GW-TOC-background-color);
    font-family: var(--GW-sans-serif-font-stack);
    line-height: 1.25;
}

.TOC:empty {
    display: none;
}

/*  On mobile, we want the TOC to be inline, but for desktop, we want it
	side by side with the content.
 */
@media all and (max-width: 1280px) {
    #TOC {
        font-size: 0.95rem;
    }
}
@media all and (max-width: 1200px) {
    #TOC {
        font-size: 0.90rem;
    }
}
@media all and (max-width: 1120px) {
    #TOC {
        font-size: 0.85rem;
        margin: 0 1.5rem 1.25rem 0;
    }
}
@media all and (max-width: 1040px) {
    #TOC {
        font-size: 0.80rem;
        margin: 0 1.25rem 1rem 0;
    }
}
@media all and (max-width: 960px) {
    #TOC {
        margin: 0 1rem 1rem 0;
    }
}
@media all and (min-width: 901px) {
    #TOC {
        float: left;
        max-width: 285px;
    }
}
@media all and (max-width: 900px) {
    #TOC {
        float: none;
        clear: both;
        margin: 2em auto;
        font-size: 1rem;
    }
    #TOC {
		padding: 0.5em 0.5em 0.5em 0.625em;
	}
	#TOC li {
		padding-left: 0;
	}
	#TOC ul li::before {
		content: none;
	}

	#TOC > ul {
		column-count: 2;
		margin: 0;
		column-gap: 1.25em;
	}

	#TOC {
		background-image:
			linear-gradient(var(--GW-TOC-border-color),
							var(--GW-TOC-border-color));
		background-repeat: no-repeat;
		background-size: 1px 100%;
		background-position: 50% 0;
	}
}
@media all and (max-width: 649px) {
    #TOC a {
        display: inline-block;
    }
    #TOC > ul > li > ul {
        column-count: 1;
    }
    #TOC li li a {
        padding: 0 0 1px 0;
    }
    #TOC li li li a {
        padding: 0 0 2px 0;
    }
    #TOC li li li li a {
        padding: 0 0 3px 0;
    }
    #TOC li li li li a {
        padding: 0 0 4px 0;
    }
}

/*=-----------------=*/
/*= TOC list layout =*/
/*=-----------------=*/

.TOC ul {
    list-style-type: none;
    padding-left: 0em;
    margin-bottom: 0;
    margin-top: 0.2em;
    padding-left: 1.4em;
    text-indent: 0;
    padding: 0;
    overflow: unset;
}

.TOC ul ul {
    list-style-type: none;
    padding-left: 0.7em;
    padding-top: 0.25em;
    margin-top: 0.1em;
}

.TOC li {
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding-left: 1.125em;
    position: relative;
    overflow-wrap: break-word;
}

.TOC li:first-child {
    break-before: avoid-column;
}

.TOC li li {
    margin-bottom: 0.25em;
    font-weight: normal;
    font-size: 0.9em;
}
.TOC li li:last-child {
	margin-bottom: 0;
}

.TOC p {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

/*=------------------=*/
/*= TOC link styling =*/
/*=------------------=*/

.TOC a {
    border: 0;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
    position: relative;
    padding: 0 0.25rem 0 0;
}

/*=--------------------------=*/
/*= Inline code in TOC links =*/
/*=--------------------------=*/

.TOC code {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0;
    background-color: inherit;
}

/*=-------------------------------=*/
/*= Wikipedia-style TOC numbering =*/
/*=-------------------------------=*/

.TOC > ul {
    counter-reset: htoc_1;
}
.TOC > ul > li::before {
    counter-increment: htoc_1;
    content: counter(htoc_1) "\2006  ";
}
.TOC > ul ul {
    counter-reset: htoc_2;
}
.TOC > ul ul li::before {
    counter-increment: htoc_2;
    content: counter(htoc_1) "." counter(htoc_2) "\2006  ";
}
.TOC > ul ul ul {
    counter-reset: htoc_3;
}
.TOC > ul ul ul li::before {
    counter-increment: htoc_3;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "\2006  ";
}
.TOC > ul ul ul ul {
    counter-reset: htoc_4;
}
.TOC > ul ul ul ul li::before {
    counter-increment: htoc_4;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "\2006  ";
}
.TOC > ul ul ul ul ul {
    counter-reset: htoc_5;
}
.TOC > ul ul ul ul ul li::before {
    counter-increment: htoc_5;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "\2006  ";
}
.TOC > ul ul ul ul ul ul {
    counter-reset: htoc_6;
}
.TOC > ul ul ul ul ul ul li::before {
    counter-increment: htoc_6;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "." counter(htoc_6) "\2006  ";
}
.TOC ul li::before {
    position: absolute;
    right: calc(100% - 1em);
    left: unset;
    width: 111px;
    text-align: right;
    font-weight: normal;
    pointer-events: none;
    color: var(--GW-TOC-number-color);
}
.TOC ul li:hover::before {
    color: var(--GW-TOC-number-hover-color);
}

/*	The table of contents is a *table*, so align
 */
.TOC {
    font-variant-numeric: tabular-nums;
}

/*=-------------------=*/
/*= Directory indexes =*/
/*=-------------------=*/

section#see-also:only-child > h1:first-child {
	margin-top: 0.25em;
}
section#see-also:only-child > h1:first-child a {
	display: none;
}

.abstract.abstract-tag-directory blockquote {
	margin-top: 1em;
}

#TOC.TOC-links-only {
	padding-top: 2.5em;
}
#TOC.TOC-links-only::before {
	content: "Contents";
	position: absolute;
	font-size: 1.125em;
	font-weight: bold;
	top: 0.5em;
	left: 0.75em;
}
#TOC.TOC-links-only li {
	font-weight: normal;
	font-size: 0.9em;
}

@media all and (max-width: 900px) {
	#TOC.TOC-links-only::before {
		left: 0.5em;
	}
	body[class*='-index'] #TOC > ul {
		column-count: 1;
		background-image: none;
	}
}

@media all and (min-width: 650px) {
	body[class*='-index'] #TOC {
		float: unset;
		max-width: unset;
		margin-right: unset;
		margin-top: 3.5em;
	}
	body[class='docs-index'] #TOC,
	body[class='docs-index'] #see-also h1 {
		display: none;
	}
}
@media all and (max-width: 649px) {
	body[class*='-index'] #TOC {
		margin-top: 2.75em;
	}
}

/****************/
/* MAIN CONTENT */
/****************/

.markdownBody {
    /*  Try to avoid scrollbars on paragraphs: prevents long unbroken
        un-hyphenatable lines from causing H-scrolling
     */
    overflow-wrap: break-word;
}

/*  Breakpoint for sidenotes.
 */
@media all and (min-width: 1761px) {
    #markdownBody {
        position: relative;
    }
}

@media all and (min-width: 650px) {
    @media all and (max-width: 1000px) {
		/*  Replaces A/B-test-set average value; the wider the screen, the more
			line-height is necessary, and no one size suits all, so set 3
			brackets of increasing height.
		 */
        .markdownBody {
            line-height: 1.50;
        }
    }
    @media all and (min-width: 1001px) and (max-width: 1200px) {
        .markdownBody {
            line-height: 1.55;
        }
    }
    @media all and (min-width: 1201px) {
        .markdownBody {
            line-height: 1.60;
        }
    }
}
@media all and (max-width: 649px) {
	.markdownBody {
		line-height: 1.45;
	}
}

/*  On wide screens (desktop), use fully-justified text (words get
    broken/hyphenated as necessary to avoid a ‘ragged margin’), overriding
    browser default of ‘flush left, ragged right’ (see
    https://en.wikipedia.org/wiki/Typographic_alignment#Flush_left )

    On mobile/narrow screens, that doesn’t work as well: because browsers do
    greedy layout, justification forces ‘s t r e t c h e d out’ words
    and large spaces, leading to blatant
    https://en.wikipedia.org/wiki/River_(typography) , getting worse the
    narrower the screen (eg. in lists). On wide screens, it isn’t too bad, and
    justification is still better than not, but on mobile it is extremely
    noticeable. Switching to flush left ragged right doesn’t look as nicely
    ‘even’, but it avoids that pathological behavior. (More advanced typesetting
    algorithms like Knuth-Plass
    https://en.wikipedia.org/wiki/Line_wrap_and_word_wrap#Minimum_raggedness
    can handle mobile widths nicely, but no contemporary browser implements them
    natively, and all JS implementations I’ve looked at are buggy.)

    However, do hyphenate at all widths.
*/
.markdownBody p,
.markdownBody li {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
@media all and (min-width: 900px) {
    .markdownBody p,
    .markdownBody li {
        text-align: justify;
    }
    .markdownBody .TOC li {
        text-align: left;
    }
}

body.justified-not .markdownBody p,
body.justified-not .markdownBody li {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
@media all and (min-width: 900px) {
    body.justified-not .markdownBody p,
    body.justified-not .markdownBody li {
        text-align: left;
    }
}

/*  Cute ‘old-style’ numerals, look a little nicer inline in text, and available
    natively in the SS fonts:
    https://practicaltypography.com/alternate-figures.html#oldstyle-figures
 */
.markdownBody {
    font-variant-numeric: oldstyle-nums;
}

.abstract blockquote {
    margin: 0 0 1.5em 0;
    background-color: var(--GW-abstract-background-color);
    border-color: var(--GW-abstract-border-color);
    padding-top: 0.9em;
    clear: none;
}
@media all and (max-width: 649px) {
	.abstract blockquote {
	    padding-top: 0.75rem;
	}
}

/*	Auto-smallcaps the first line of the introduction (= the first `<p>` after
	an ‘abstract’ div); this avoids the need to manually specify what to
	smallcaps, and it auto-adjusts to screen/line-width, which is nicer.
 */
.abstract + p::first-line,
#markdownBody > p:first-child::first-line,
.markdownBody #page-metadata + p::first-line {
    font-feature-settings: 'smcp';
}

h1 {
    margin: 0.6em 0 0.5em -0.75rem;
    font-weight: bold;
    position: relative;
}

@media all and (max-width: 649px) {
    h1 {
        margin: 1.25em 0 0.5em 0;
        padding-bottom: 2px;
    }
}

/*  Lazy-load below-fold sections in supported browsers.
    Disabled temporarily pending layout redesign to compensate for layout
    containment. —Obormot 2021-03-21
    */
/*
section.level1:nth-of-type(n+4) {
    content-visibility: auto;
    contain-intrinsic-size: 200vh;
}
 */

/*=----------------=*/
/*= Heading levels =*/
/*=----------------=*/

h1 {
    font-feature-settings: 'smcp';
    font-size: 1.75em;
    line-height: 1.25;
    letter-spacing: -0.75px;
}

/*************/
/* SIDENOTES */
/*************/

/*  Hide sidenote columns on narrow viewports.
    */
@media only screen and (max-width: 1760px) {
    #sidenote-column-left,
    #sidenote-column-right {
        display: none;
    }
}

/*=--------------=*/
/*= Margin notes =*/
/*=--------------=*/

/*  On wide viewports, hide the margin notes until it is styled as a sidenote (i.e,
    until it gets the `.sidenote` class applied to it).
 */
@media only screen and (min-width: 1761px) {
    .marginnote {
        display: none;
    }
}

/*********/
/* LINKS */
/*********/

a {
    color: var(--GW-body-link-color); /* off-black */
    text-decoration: none;
}

/*	Slightly gray out links the reader has already visited, so they know if
	they’ve seen that content before. (A critical affordance in densely
	hyperlinked longform.)
 */
.markdownBody a:visited {
    color: var(--GW-body-link-visited-color);
}

/*=------------------------=*/
/*= Fancy link underlining =*/
/*=------------------------=*/

/*  Tufte CSS for underlining (https://github.com/edwardtufte/tufte-css)
    The advantage of all this CSS linenoise compared to the previous 'text-decoration: none; border-bottom: 1px Solid grey;' solution from http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/
    is the 'skip-ink': when dealing with characters with 'descenders', like 'y', 'g', 'p', 'q' etc, with regular underlining the bottom stroke overlaps with the line and it's harder to read;
    by adding this text-shadow stuff and backgrounding, a little break is made in the underline to add contrast and keep the descender fully visible and outlined. (The downside is that the overlapping text-shadows can also slightly damage the rendering of slashes & parentheses, which come too close and get partially erased.)

    Unfortunately, we don't want to add underlines to links in the TOC because it clutters it (all the lines are links and are in small font), so we have to avoid styling the TOC, which is difficult.
    I got around this by adding in the Hakyll template an additional <div> just for the body of the Markdown content, excluding the TOC, and changing the Tufte CSS to target *that* instead.

May be able at some point to simplify this using regular link underlining, since CSS4's `text-decoration-skip-ink` by default avoids overlapping with text descenders (but as of Oct 2019, no Edge/IE or Safari support, and only the latest Firefox 70 supports it; maybe in a few years...): https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink#Browser_Compatibility https://www.caniuse.com/#feat=mdn-css_properties_text-decoration-skip-ink (Right now, Firefox skip-ink looks quite bad: it doesn't skip enough ink, defeating the point, and also positions the underline badly!)
*/

.markdownBody a:link,
#footer a:link {
    text-decoration: none;
    background-image: linear-gradient(var(--GW-link-underline-gradient-line-color), var(--GW-link-underline-gradient-line-color));
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% calc(100% - 0.1em);

    /*  Disable oldstyle nums in underlined links because the oldstyle nums are almost subscript-like and overlap */
    font-variant-numeric: lining-nums;
}
.markdownBody a:link,
.markdownBody a:link *,
#footer a:link {
    text-shadow:
         0      0.05em  var(--GW-link-underline-background-color),
         0.05em 0.05em  var(--GW-link-underline-background-color),
        -0.05em 0.05em  var(--GW-link-underline-background-color),
         0.17em 0.05em  var(--GW-link-underline-background-color),
        -0.17em 0.05em  var(--GW-link-underline-background-color),
         0.17em 0       var(--GW-link-underline-background-color),
        -0.17em 0       var(--GW-link-underline-background-color);
}
.markdownBody a:hover {
    background-image: linear-gradient(var(--GW-link-underline-gradient-line-color-hover), var(--GW-link-underline-gradient-line-color-hover));
}

/* eliminate the blurring of headers and links when selecting by overriding the text-shadow: */
::selection {
    text-shadow: none;
    background: var(--GW-text-selection-background-color);
    color: var(--GW-text-selection-color);
}

/*  Prevent code block background color and border from obscuring link
    underlining, for inline <code> elements in links.
 */
a code {
    border-bottom-width: 0;
    word-break: normal;
    background-color: transparent;
}

/*  Reduce text-shadow overlap partially erasing letters next to smallcaps:
    eg. in `<a href="https://www.microcovid.org/">"microCOVID project"</a>`,
    the ‘o’ in ‘micro’ will be partially erased and look like a ‘c’ without
    some sort of extra spacing
 */
.markdownBody a:link .smallcaps {
    margin-left: 0.8px;
}

/*  Like above, but for subscripts and superscripts
 */
.markdownBody a:link sub,
.markdownBody a:link sup {
    padding: 0 0.05em;
}

/**************/
/* PARAGRAPHS */
/**************/

p {
    margin: 0;
}
body.indented p + p,
body.indented p + figure[class^='float-'] + p,
body.indented div[class^='drop-cap-'] + p {
    text-indent: 2.5em;
}
@media all and (max-width: 649px) {
    body.indented p + p,
    body.indented p + figure[class^='float-'] + p,
    body.indented div[class^='drop-cap-'] + p,
    body.indented .abstract + p {
        text-indent: 1.75em;
    }
}

body.indented-not p + p,
body.indented-not p + figure[class^='float-'] + p,
body.indented-not div[class^='drop-cap-'] + p,
body.indented-not .abstract + p {
    margin-top: 1em;
}
@media all and (max-width: 649px) {
    body.indented-not p + p,
    body.indented-not p + figure[class^='float-'] + p,
    body.indented-not div[class^='drop-cap-'] + p,
    body.indented-not .abstract + p {
        margin-top: 1em;
    }
}

/***************/
/* BLOCKQUOTES */
/***************/
/*	Additional blockquote styling done in default.css.
 */

blockquote {
    --GW-link-underline-background-color: var(--GW-blockquote-background-color);

    margin: 1.625em 0 1.75em 0;
    border: 1px solid var(--GW-blockquote-border-color);
    background-color: var(--GW-blockquote-background-color);
    font-size: 0.95em;
    padding: 1em 1.25em;
}

/*  Three-level of blockquote emphasis (darkening).
 */
blockquote,
blockquote blockquote blockquote blockquote {
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-one);
}
blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-one);
}
blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-four);
}

blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-two);
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-two);
}

blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote {
    --GW-blockquote-border-color: var(--GW-blockquote-border-color-level-three);
    --GW-blockquote-background-color: var(--GW-blockquote-background-color-level-three);
}

/*=--------------------=*/
/*= Various edge cases =*/
/*=--------------------=*/

@media all and (min-width: 650px) {
	.abstract blockquote,
    #markdownBody .abstract blockquote {
        overflow: hidden;
    }
}
@media all and (max-width: 649px) {
    /* even less horizontal is available on mobile! */
    blockquote {
        margin: 1.25em 0 1.5em 0;
        padding: 0.75em 1em;
    }
}

p + blockquote {
    margin-top: 1em;
}

blockquote > figure.float-right:first-child {
	margin-top: 0.375em;
}

/***************/
/* CODE BLOCKS */
/***************/

pre {
    overflow: auto;
}

/*  Full-width code blocks.
 */
.full-width-code-block-wrapper {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;
}
.full-width-code-block-wrapper pre {
    padding-right: 1px;
}

/********/
/* MATH */
/********/

.mjpage__block {
    display: block;
    overflow: auto;
}

/**********/
/* TABLES */
/**********/

.table-wrapper {
    margin: 2em 0 2.125em 0;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

/*=-------------------=*/
/*= Full-width tables =*/
/*=-------------------=*/

.table-wrapper.width-full {
    position: relative;
    z-index: 1;
}
.table-wrapper.width-full table {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

/***********/
/* FIGURES */
/***********/

figure img,
figure video,
figure svg {
    display: block;
    max-height: calc(100vh - 8em);
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;

	/*	This is to prevent overflow of image alt-text in Chrome.
	 */
    overflow: hidden;
}

/********/
/* MISC */
/********/

/*  Enable standard Pandoc attribute-based syntax for small-caps like
	‘[foo]{.smallcaps}’; see https://pandoc.org/MANUAL.html#small-caps
 */
span.smallcaps {
    font-feature-settings: 'smcp';
}


/***********/
/* CONSOLE */
/***********/

#console.hidden {
    bottom: calc(-1 * var(--GW-console-view-height));
    opacity: 0;
}


/*************/
/* DARK MODE */
/*************/
/*	See /static/js/dark-mode.js and /static/css/dark-mode.css; this allows the
	user to toggle at runtime.
 */


/****************/
/* PRINT STYLES */
/****************/

@media print {
	:root {
		--GW-TOC-background-color: transparent;
		--GW-abstract-background-color: transparent;
		--GW-code-element-background-color: transparent;
		--GW-math-block-background-color: transparent;
	}

	blockquote {
		--GW-blockquote-background-color: transparent !important;
	}
	
	#ui-elements-container,
	#sidebar,
	#navigation,
	#footer {
		display: none;
	}

	body {
		margin: 0;
	}
	main {
		margin: 1em;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-left: 0;
	}
	.markdownBody {
		line-height: 1.6;
		text-align: justify;
	}
}


/*********************/
/* SPECIAL OCCASIONS */
/*********************/

/*=-----------=*/
/*= Halloween =*/
/*=-----------=*/

body.special-halloween-dark {
	--GW-blood-red: #b00;
	--GW-blood-red-dried: #700;
	--GW-blood-red-arterial: #e00;

	--GW-sidebar-horizontal-rule-color: var(--GW-blood-red);

	--GW-TOC-border-color: var(--GW-blood-red-dried);
	--GW-abstract-border-color: var(--GW-blood-red-dried);

	--GW-pre-element-border-color: var(--GW-blood-red-dried);

	--GW-epigraph-quotation-mark-color: var(--GW-blood-red-dried);

	--GW-H1-box-shadow-line-color: var(--GW-blood-red);
	--GW-H2-bottom-border-color: var(--GW-blood-red);

    --GW-drop-caps-yinit-color: var(--GW-blood-red);
    --GW-drop-caps-yinit-text-shadow-color: var(--GW-blood-red);
    --GW-drop-caps-de-zs-color: var(--GW-blood-red);
    --GW-drop-caps-cheshire-color: var(--GW-blood-red);
    --GW-drop-caps-kanzlei-color: var(--GW-blood-red);

	--GW-figure-outline-color: var(--GW-blood-red-dried);
	--GW-figure-caption-outline-color: var(--GW-blood-red);

	--GW-footnotes-section-top-rule-color: var(--GW-blood-red-dried);
	--GW-footnote-border-color: var(--GW-blood-red-arterial);
	--GW-sidenote-highlight-box-shadow-color: var(--GW-blood-red-arterial);
	--GW-footnote-backlink-border-color: var(--GW-blood-red);

	--GW-sidenote-self-link-border-color: var(--GW-blood-red-arterial);
	--GW-sidenote-border-color: var(--GW-blood-red-arterial);

	--GW-math-block-scrollbar-border-color: var(--GW-blood-red);

	--GW-mode-selector-border-color: var(--GW-blood-red-arterial);
	--GW-mode-selector-border-hover-color: var(--GW-blood-red-dried);

	--GW-back-to-top-link-color: var(--GW-blood-red-dried);

	--GW-body-link-hover-color: var(--GW-blood-red-arterial);

	--GW-footnote-ref-highlight-box-shadow-color: var(--GW-blood-red);
}

body.special-halloween-dark blockquote {
	--GW-blockquote-border-color: var(--GW-blood-red-dried);
}

body.special-halloween-dark #logo {
	color: var(--GW-blood-red);
}

body.special-halloween-dark #navigation a {
	color: var(--GW-blood-red);
}

body.special-halloween-dark h1,
body.special-halloween-dark h2,
body.special-halloween-dark h3,
body.special-halloween-dark h4,
body.special-halloween-dark h5,
body.special-halloween-dark h6 {
	--GW-body-text-color: var(--GW-blood-red);
	--GW-body-link-color: var(--GW-blood-red);

	color: var(--GW-body-text-color);
}

@media only screen and (hover: hover) {
	body.special-halloween-dark #ui-elements-container .mode-selector {
		outline-style: dotted;
		outline-width: 1px;
		outline-color: var(--GW-mode-selector-border-color);
	}
	body.special-halloween-dark #ui-elements-container .mode-selector:hover {
		outline-style: double;
		outline-width: 3px;
		outline-color: var(--GW-mode-selector-border-hover-color);
	}
}
